<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <!-- All in One SEO Pack 3.2.9 by Michael Torbert of Semper Fi Web Designob_start_detected [-1,-1] -->
    <meta name="description"
        content="OpenLedger为企业和各个行业构建创新的区块链解决方案和产品。 较低的费用并受益于区块链机会，例如令人印象深刻的安全级别，最大的透明度，优化和自动化的流程以及简化的流程。" />

    <link rel="canonical" href="https://openledger.info/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="企业区块链解决方案，服务和产品-OpenLedger" />
    <meta property="og:description"
        content="OpenLedger为企业和各个行业构建创新的区块链解决方案和产品。 较低的费用并受益于区块链机会，例如令人印象深刻的安全级别，最大的透明度，优化和自动化的流程以及简化的流程。" />
    <meta property="og:url" content="https://openledger.info/" />
    <meta property="og:site_name" content="openledger.info" />
    <meta property="og:image" content="/images/open-grap-openledger-1200-630.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:secure_url" content="/images/open-grap-openledger-1200-630.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="企业区块链解决方案，服务和产品-OpenLedger" />
    <meta name="twitter:description"
        content="OpenLedger为企业和各个行业构建创新的区块链解决方案和产品。 较低的费用并受益于区块链机会，例如令人印象深刻的安全级别，最大的透明度，优化和自动化的流程以及简化的流程。" />
    <meta name="twitter:image" content="/images/open-grap-openledger-1200-630.jpg" />
    <!-- All in One SEO Pack -->
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet' id='openledger-bootstrap-css-css' href='/packages/bootstrap/css/bootstrap.css' media='all' />
    <link rel='stylesheet' id='openledger-slick-css-css' href='/packages/slick/slick.css' media='all' />
    <link rel='stylesheet' id='openledger-slick-theme-css-css' href='/packages/slick/slick-theme.css' media='all' />
    <link rel='stylesheet' id='openledger-lightbox-css-css' href='/packages/light-box/css/lightbox.min.js'
        media='all' />
    <link rel='stylesheet' id='openledger-style-css' href='/css/style.css' media='all' />
    <link rel='stylesheet' id='openledger-screen-css-css' href='/css/screen.css' media='all' />
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
    <style>
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ./common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h1>用区块链技术优化<br>您现有的业务模式</h1>
                    <div class="h2-banner h2-border color-white">将区块链技术和您所在的行业相结合<br>为创业公司提供技术支持<br>帮助您的企业简化流程 提高效率 确保公平
                        公正</div>
                    <div class="banner-text">
                        OpenLedger专门提供区块链的技术开发服务和定制化开发属于自己的公私链。<br><br>随着时代的发展和技术的进步，我们真正意义上的从技术角度去推动各个行业的发展以及模式的转变。<br><br>
                        基于世界一流的开源的区块链系统提供针对于某一行业的区块链技术解决方案或者开发属于自己的底层区块链系统
                    </div>
                </div>
                <div class="col-md-6 banner-bg d-none d-md-block"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row block">
            <div class="col-md-6 image-block image-block-right">
                <img src="https://openledger.info/wp-content/uploads/2018/12/Blockchain-development-image.png"
                    srcset="https://openledger.info/wp-content/uploads/2018/12/Blockchain-development-image@2x.png 2x"
                    alt="Custom blockchain development" />
            </div>
            <div class="col-md-6 image-block-right text-left">
                <h2>区块链开发</h2>
                <div class="text">
                    基于世界一流的区块链分布式系统（超级账本，EOS，以太坊，比特股）进行业务开发并且根据您现有的实际情况提供最优的解决方案。<br><br>将经验丰富的区块链开发人员带入到每个项目中，技术人员和合作方一起探讨关于各行业的解决方案。
                </div>
                <a href="#contact" class="link">联系我们</a>
            </div>
        </div>
        <div class="row block">
            <div class="col-md-6 image-block-right text-right">
                <h2>基于区块链的行业解决方案</h2>
                <div class="text">
                    OpenLedger为企事业单位设计针对于这一行业独有的区块链解决方案。<br>我们以丰富的专业知识和多年区块链行业累积的经验作为背景可以设计业务复杂，大规模，并且能发挥出区块链真正价值的解决方案来满足您的业务需求。<br>通过对项目的优化迭代可以实现公平、公正、且透明化的运营管理。
                </div>
                <a href="#contact" class="link">联系我们</a>
            </div>
            <div class="col-md-6 image-block">
                <img src="https://openledger.info/wp-content/uploads/2019/02/Solutions-image-x.png"
                    srcset="https://openledger.info/wp-content/uploads/2019/02/Solutions-image-@2x.png 2x"
                    alt="Blockchain solutions" />
            </div>
        </div>
        <div class="row block">
            <div class="col-md-6 image-block image-block-right">
                <img src="https://openledger.info/wp-content/uploads/2019/02/Services-image-x.png"
                    srcset="https://openledger.info/wp-content/uploads/2019/02/Services-image-@2x.png 2x"
                    alt="Blockchain services" />
            </div>
            <div class="col-md-6 image-block-right text-left">
                <h2>区块链周边产品研发</h2>
                <div class="text">OpenLedger还提供了包括（Dapps，智能合约，区块浏览器，交易所对接，区块链钱包）的研发以及各种基于区块链的框架开发</div>
                <a href="#contact" class="link">更多</a>
            </div>
        </div>
    </div>

    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 sphere">
                    <h2>关于 OpenLedger</h2>
                    <img class="img-fluid" src="https://openledger.info/wp-content/uploads/2019/06/about-home-icon1.svg"
                        alt="" />
                    <img class="img-fluid" src="https://openledger.info/wp-content/uploads/2019/06/about-home-icon2.svg"
                        alt="" />
                    <img class="img-fluid" src="https://openledger.info/wp-content/uploads/2019/06/about-home-icon3.svg"
                        alt="" />
                    <img class="img-fluid" src="https://openledger.info/wp-content/uploads/2019/06/about-home-icon4.svg"
                        alt="" />
                </div>
                <div class="col-md-12 col-lg-6">
                    <p>我们是一家将区块链技术的优势服务于人和社会的公司，公司创建者拥有多年区块链行业研发和市场经验。总部位于深圳。</p>
                    <!-- <p>OpenLedger拥有50多位专家软件开发和体系结构专家，并得到了市场营销人员，业务分析师和支持人员的支持。</p> -->
                    <!-- <p>自2014年以来，我们一直在与全球客户群合作，以利用现有的 区块链解决方案 并构建新的去中心 化应用程序，以推动合作伙伴的业务成功。</p> -->
                    <!-- 我们合作的客户可以是来自国内或者国外的企事业单位， -->
                    <p>致力于利用现有的底层区块链平台搭建去中心化的应用程序，帮助和推动企事业单位更加高效运作。</p>
                </div>
            </div>
        </div>
    </div>
    <!--about-->

    <div class="quote-block quote-block-home">
        <div class="container">
            <div class="slider-quote-home">

                <div class="quote-bg">
                    <div class="quote">
                        <div class="row" itemscope="" itemtype="http://schema.org/Person">
                            <div class="col-md-4">
                                <img itemprop="image" src="https://openledger.info/wp-content/uploads/2019/05/fox.png"
                                    srcset="https://openledger.info/wp-content/uploads/2019/05/fox@2x.png 2x"
                                    class="img-fluid photo" alt="Ryan R. Fox">
                            </div>
                            <div class="col-md-8">
                                <div class="qu">
                                    <img src="/images/quotes.svg">
                                </div>
                                <div class="text">在过去的一年中，与OpenLedger开发团队合作产生的收益有所增加交付给BitShares Core协议的内容。
                                    他们是一支精通流利的专业团队区块链设计原则，并能够提供新颖的解决方案。</div>
                                <div class="name" itemprop="name">Ryan R. Fox</div>
                                <div class="position" itemprop="jobTitle">BitShares核心团队开发项目经理</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="quote-bg">
                    <div class="quote">
                        <div class="row" itemscope="" itemtype="http://schema.org/Person">
                            <div class="col-md-4">
                                <img itemprop="image"
                                    src="https://openledger.info/wp-content/uploads/2019/05/Andryan.png"
                                    srcset="https://openledger.info/wp-content/uploads/2019/05/Andryan@2x.png 2x"
                                    class="img-fluid photo" alt="Vadim Andryan">
                            </div>
                            <div class="col-md-8">
                                <div class="qu">
                                    <img src="/images/quotes.svg">
                                </div>
                                <div class="text">交付的区块链平台非常出色，为公司提供服务他们希望将高质量的技术顺利地交付给他们。
                                    的团队诚实，透明，能够为合理的客户提供优质的服务价格，考虑到质量水平。</div>
                                <div class="name" itemprop="name">Vadim Andryan</div>
                                <div class="position" itemprop="jobTitle">Crypviser GmbH首席执行官</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ./common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>