<div class="why">
    <div class="container">
        <h2>和我们合作的理由</h2>
        <!-- Work -->
        <div class="row-image-block-why">
            <div class="image-block-why"></div>
            <div class="row">
                <div class="col-md-6 reason">
                    <h3>丰富的专业知识</h3>
                    <div class="desc">
                        <p>多年区块链技术的开发经验，并且拥有跨行业的技术解决方案经验。</p>
                    </div>
                    <div class="icon icon1">
                        <img alt="Extensive expertise" src="/images/Why/icon1.svg" />
                    </div>
                </div>
                <div class="col-md-6 reason">
                    <h3>专业的开发团队</h3>
                    <div class="desc">
                        <p>我们所有的技术解决方案都是由具有相关领域的专业知识的团队来进行设计。</p>
                    </div>
                    <div class="icon icon2">
                        <img alt="Cutting-edge solutions" src="/images/Why/icon2.svg" />
                    </div>
                </div>
                <div class="col-md-6 reason">
                    <h3>优秀的技术解决方案</h3>
                    <div class="desc">
                        <p>我们的团队一直关注和学习区块链最前沿的技术，并利用它来助力您公司业务的改进。</p>
                    </div>
                    <div class="icon icon3">
                        <img alt="Highly-skilled dev team" src="/images/Why/icon3.svg" />
                    </div>
                </div>
                <div class="col-md-6 reason">
                    <h3>技术精湛的研发人员</h3>
                    <div class="desc">
                        <p>平均超过十年以上的研发经验,能深入研究并提供最适用的解决方法，让区块链技术无缝融合进来以改进您的产品和服务。</p>
                    </div>
                    <div class="icon icon4">
                        <img alt="Profound R&D " src="/images/Why/icon4.svg" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Work -->
    </div>
</div>

<!-- Form -->
<div id="contact" class="container">
    <div class="contact-block">
        <h2>联系OpenLedger</h2>
        <p>如果您对我们的区块链解决方案和服务有任何疑问，请联系我们。</p>
        <form id="about_form" action="/" method="post" enctype="application/x-www-form-urlencoded"
            class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="col-sm-12">
                            <input type="text" class="form-control required" name="name" placeholder="姓名" required>
                            <span class="invalid-feedback error">请输入您的姓名</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12">
                            <input type="email" class="form-control required" name="email" placeholder="邮箱" required>
                            <span class="error invalid-feedback">请输入正确的邮箱</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="company" placeholder="公司">
                            <span class="error invalid-feedback">请输入您所在的公司</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12">
                            <input type="text" class="form-control required" name="phone" placeholder="电话号码" required>
                            <span class="error invalid-feedback">请输入您的电话号码</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="col-sm-12">
                            <textarea class="form-control required" name="message" placeholder="您的问题"
                                required></textarea>
                            <span class="error invalid-feedback">请输入您的问题</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="custom-control custom-checkbox col-md-12">
                    <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                    <label class="custom-control-label" for="customControlValidation1">I agree with OpenLedger
                        Privacy Policy and give my permission to process my personal data for the purposes specified
                        in it</label>
                </div> -->
                <div class="col-md-12">
                    <!-- <div class="error-captcha"></div>
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6LeqgW4UAAAAAE4J3aI79inh76hoYTHYdQxuzC9w" data-size="100%">
                    </div> -->
                    <button id="subm" type="submit">发送</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Form -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <ul id="menu-footer" class="menu-footer row">
                    <!-- <li id="menu-item-38"
                        class="header-footer col-lg-6 col-md-6 col-sm-6 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-38">
                        <a>认识OpenLedger</a>
                        <ul class="sub-menu">
                            <li id="menu-item-33"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a
                                    title="About us" href="/about-us/">关于我们</a></li>
                            <li id="menu-item-34"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a
                                    title="What we do" href="/about-us/what-we-do/">我们所做的</a>
                            </li>
                            <li id="menu-item-35"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a
                                    title="Partnership" href="/about-us/partnership/">合伙</a>
                            </li>
                            <li id="menu-item-36"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a
                                    title="Private Policy" href="/privacy/">隐私政策</a></li>
                            <li id="menu-item-37"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a
                                    title="Terms and Conditions" href="/terms/">条款和条件</a>
                            </li>
                        </ul>
                    </li> -->
                    <li id="menu-item-39"
                        class="header-footer col-lg-6 col-md-6 col-sm-6 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-39">
                        <a>我们提供什么</a>
                        <ul class="sub-menu">
                            <li id="menu-item-71"
                                class="arrow menu-item menu-item-type-post_type menu-item-object-services menu-item-71">
                                <a title="Blockchain development"
                                    href="./services-blockchain-development.html">区块链开发</a>
                            </li>
                            <!-- <li id="menu-item-1818"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1818"><a
                                    title="Blockchain services" href="/services/">区块链服务</a>
                            </li> -->
                            <li id="menu-item-1819"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1819"><a
                                    title="Blockchain solutions" href="javascript:void(0)">区块链解决方案</a>
                            </li>
                            <!-- <li id="menu-item-73"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-73"><a
                                    title="HubDSP" target="_blank" href="http://hubdsp.com/">HubDSP</a></li>
                            <li id="menu-item-74"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74"><a
                                    title="BitShareScan" target="_blank"
                                    href="https://bitsharescan.com/">BitShareScan</a>
                            </li> -->
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="header">联系我们</div>
                <div class="email subheader" itemscope>
                    <a href="mailto:contact@openledger.info" itemprop="email">106316519@qq.com</a>
                </div>
                <!-- <div class="subheader">Denmark</div>
                <div class="footer-address">
                    <div itemscope itemtype="http://schema.org/Organization">
                        <span itemprop="name">OpenLedger ApS</span>,
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">Copenhagen Fintech Lab Applebys Plads 7</span>,
                            <span itemprop="postalCode">1411</span>
                            <div itemprop="addressLocality">Copenhagen, Denmark</div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <!-- <div class="header">Follow Us</div>
                <div class="socials" itemscope itemtype="http://schema.org/Organization">
                    <link itemprop="url" href="">
                    <a itemprop="sameAs" href="https://www.facebook.com/OpenLedgerDC/" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <a itemprop="sameAs" href="https://www.linkedin.com/company/openledger/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a itemprop="sameAs" href="https://twitter.com/openledgerdc" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                    <a itemprop="sameAs" href="https://www.youtube.com/channel/UCZHkjzM5Vp5RH0H_XGBtS0g"
                        target="_blank"><i class="fab fa-youtube"></i></a>
                </div> -->
                <div class="copyright">© 2014—2019 OpenLedger. 版权所有.</div>
            </div>
        </div>
    </div>
</footer>

<button id="toTop" class=""></button>
<div id="cookie_informer">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-8 text-block">
                本网站使用cookie以获得正确的性能。 在我们的隐私政策中了解有关我们从您那里收集的数据的更多信息
            </div>
            <div class="col-sm-4 col-md-3 button">
                <a href="#" class="btn accept" id="accept_use_cookie">接受并继续</a>
            </div>
            <div class="col-sm-1 close-block">
                <a href="#" class="btn-close" id="close_cookie"></a>
            </div>
        </div>
    </div>
</div>