<header itemscope itemtype="http://schema.org/WPHeader">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="OpenLedger Aps">
                <a class="logo" itemprop="url" href="/" rel="home">
                    <img class="img-fluid" src="/images/logo.svg" itemprop="logo" alt="OpenLedger logo">
                </a>
            </div>
            <div class="col-lg-6 col-sm-12 col-12 wrap-nav">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <!-- <i class="fas fa-bars"></i> -->
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <a href="/" rel="home" itemprop="url" class="logo_adaptive">
                            <img src="/images/logo-white.svg" alt="OpenLedger logo">
                        </a>
                        <ul id="menu-header" class="navbar-nav">
                            <!-- <li id="menu-item-287" itemprop="url"
                                class="dropdown menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-287 nav-item">
                                <a title="Products" href="/products/"
                                    class="nav-link dropdown-toggle depth-0">产品展示<span></span></a>
                                <ul itemprop="url" class="dropdown-menu">
                                    <li id="menu-item-80" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-products menu-item-80">
                                        <a title="HubDSP" href="/products/hubdsp/" itemprop="url"
                                            class="dropdown-item depth-1">HubDSP<span></span></a>
                                    </li>
                                    <li id="menu-item-77" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-products menu-item-77">
                                        <a title="White Label DEX" href="/products/white-label/"
                                            itemprop="url" class="dropdown-item depth-1">White Label
                                            DEX<span></span></a></li>
                                    <li id="menu-item-1504" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-products menu-item-1504">
                                        <a title="BitShareScan" href="/products/bitsharescan/"
                                            itemprop="url" class="dropdown-item depth-1">BitShareScan<span></span></a>
                                    </li>
                                    <li id="menu-item-2457" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-products menu-item-2457">
                                        <a title="OLWay" href="/products/olway/" itemprop="url"
                                            class="dropdown-item depth-1">OLWay<span></span></a></li>
                                </ul>
                            </li> -->
                            <li id="menu-item-288" itemprop="url"
                                class="dropdown menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-288 nav-item">
                                <a title="Services" href="/services"
                                    class="nav-link dropdown-toggle depth-0">服务<span></span></a>
                                <ul itemprop="url" class="dropdown-menu services-cls">
                                    <li id="menu-item-83" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-services menu-item-has-children menu-item-83">
                                        <a title="Blockchain development" href="/services/blockchain-development"
                                            itemprop="url" class="dropdown-item depth-1">区块链开发<span></span></a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-1220" itemprop="name"
                                                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-1220">
                                                <a
                                                    href="/services/graphene-bitshares">石墨烯和比特股<span></span></a>
                                            </li>
                                            <li id="menu-item-1219" itemprop="name"
                                                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-1219">
                                                <a href="/services/hyperledger">超级账本<span></span></a>
                                            </li>
                                            <li id="menu-item-1909" itemprop="name"
                                                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-1909">
                                                <a href="/services/smart-contract">智能合约<span></span></a>
                                            </li>
                                            <li id="menu-item-2876" itemprop="name"
                                                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-2876">
                                                <a href="/services/eosio">EOSIO<span></span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- <li id="menu-item-2012" itemprop="name"
                                                    class="menu-item menu-item-type-post_type menu-item-object-services menu-item-2012">
                                                    <a title="Training and education"
                                                        href="/services/blockchain-workshops/"
                                                        itemprop="url" class="dropdown-item depth-1">Training and
                                                        education<span></span></a></li> -->
                                    <li id="menu-item-2948" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-services menu-item-2948">
                                        <a title="Blockchain R&#038;D services" href="/services/research" itemprop="url"
                                            class="dropdown-item depth-1">区块链研发<span></span></a></li>
                                </ul>
                            </li>
                            <li id="menu-item-89" itemprop="url"
                                class="dropdown menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-89 nav-item">
                                <a title="Solutions" href="/solutions"
                                    class="nav-link dropdown-toggle depth-0">解决方案<span></span></a>
                                <ul itemprop="url" class="dropdown-menu solutions-cls">
                                    <li id="menu-item-90" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90">
                                        <a title="Supply chain" href="/solutions/supply-chain" itemprop="url"
                                            class="dropdown-item depth-1">供应链<span></span></a></li>
                                    <li id="menu-item-1347" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1347">
                                        <a title="IoT" href="/solutions/ito" itemprop="url"
                                            class="dropdown-item depth-1">物联网<span></span></a></li>
                                    <li id="menu-item-1458" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1458">
                                        <a title="Logistics" href="/solutions/logistics" itemprop="url"
                                            class="dropdown-item depth-1">物流运输<span></span></a>
                                    </li>
                                    <li id="menu-item-1620" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1620">
                                        <a title="Healthcare" href="/solutions/healthcare" itemprop="url"
                                            class="dropdown-item depth-1">卫生保健<span></span></a>
                                    </li>
                                    <li id="menu-item-1795" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1795">
                                        <a title="Real Estate" href="/solutions/real-estate" itemprop="url"
                                            class="dropdown-item depth-1">不动产<span></span></a></li>
                                    <li id="menu-item-2070" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2070">
                                        <a title="Insurance" href="/solutions/insurance" itemprop="url"
                                            class="dropdown-item depth-1">保险<span></span></a>
                                    </li>
                                    <li id="menu-item-2108" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2108">
                                        <a title="Automotive" href="/solutions/automotive" itemprop="url"
                                            class="dropdown-item depth-1">汽车行业<span></span></a>
                                    </li>
                                    <li id="menu-item-2241" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2241">
                                        <a title="Retail" href="/solutions/retail" itemprop="url"
                                            class="dropdown-item depth-1">零售<span></span></a>
                                    </li>
                                    <li id="menu-item-2317" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2317">
                                        <a title="Education" href="/solutions/education" itemprop="url"
                                            class="dropdown-item depth-1">教育<span></span></a>
                                    </li>
                                    <li id="menu-item-2446" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2446">
                                        <a title="Charity" href="/solutions/charity" itemprop="url"
                                            class="dropdown-item depth-1">慈善<span></span></a>
                                    </li>
                                    <li id="menu-item-3960" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3960">
                                        <a title="Agriculture" href="/solutions/agriculture" itemprop="url"
                                            class="dropdown-item depth-1">农业<span></span></a></li>
                                    <li id="menu-item-3961" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3961">
                                        <a title="Legal" href="/solutions/legal" itemprop="url"
                                            class="dropdown-item depth-1">法律<span></span></a></li>
                                </ul>
                            </li>
                            <!-- <li id="menu-item-2696" itemprop="name"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2696 nav-item">
                                <a title="Portfolio" href="/portfolio/"
                                    class="nav-link">作品集<span></span></a>
                            </li>
                            <li id="menu-item-91" itemprop="url"
                                class="dropdown menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-91 nav-item">
                                <a title="About us" href="/about-us/"
                                    class="nav-link dropdown-toggle depth-0">关于我们<span></span></a>
                                <ul itemprop="url" class="dropdown-menu">
                                    <li id="menu-item-557" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-557">
                                        <a title="What we do" href="/about-us/what-we-do/"
                                            itemprop="url" class="dropdown-item depth-1">What we do<span></span></a>
                                    </li>
                                    <li id="menu-item-556" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-556">
                                        <a title="Partnership" href="/about-us/partnership/"
                                            itemprop="url" class="dropdown-item depth-1">Partnership<span></span></a>
                                    </li>
                                    <li id="menu-item-634" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-634">
                                        <a title="Our projects" href="/about-us/our-projects/"
                                            itemprop="url" class="dropdown-item depth-1">Our projects<span></span></a>
                                    </li>
                                    <li id="menu-item-1259" itemprop="name"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1259">
                                        <a title="Newsroom" href="/insights/newsroom/"
                                            itemprop="url" class="dropdown-item depth-1">Newsroom<span></span></a>
                                    </li>
                                    <li id="menu-item-1676" itemprop="name"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1676">
                                        <a title="CVC Fund" href="/about-us/cvc-fund/"
                                            itemprop="url" class="dropdown-item depth-1">CVC Fund<span></span></a>
                                    </li>
                                </ul>
                            </li>
                            -->
                            <!-- <li id="menu-item-1258" itemprop="name"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1258 nav-item">
                                <a href="/insights/" class="nav-link">最新动态<span></span></a>
                            </li> -->
                            <li class="menu-btn"><a class="btn" href="/contacts">现在联系</a></li>
                        </ul>
                    </div>
                </nav>
                <!--nav-->
            </div>


            <div class="col-lg-2 col-sm-5 btn-wrap d-none d-lg-block">
                <a class="btn" href="/contacts">现在联系</a>
            </div>
        </div>
    </div>
</header>