<div class="block-call">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-right-block">
                <img src="/images/320_free_quote.svg" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="block-call__text-btn">
                    <h2>获取免费报价</h2>
                    <p>如果您对我们的区块链解决方案和服务有任何疑问，请联系我们。我们将会以最快的速度给您回复！</p>
                    <a href="#contact">联系我们</a>
                </div>
            </div>
        </div>
    </div>
</div>