<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner banner-plus-text agriculture-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>农业区块链发展</h1>
                    <div class="h2-banner">用区块链破坏农业产业</div>
                    <div class="text">区块链可以帮助农业行业解决其每年9900亿美元的食品浪费问题，改善分配和供应，更有效地计划和执行播种和收获，建立生产者和消费者从农场到货架的供应审核并减少食品欺诈。
                    </div>
                    <a href="#contact" class="link">Get a Free Quote</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="transform-your-key transform-your-key-agriculture">
            <div class="container">
                <div class="gor-100">
                    <div class="row scheme-row">
                        <div class="col-md-6">
                            <div class="scheme-row-point">
                                <img class="hidden767" src="/images/Solutions/Agriculture/Processes/1.svg"
                                    alt="Blockchain in agriculture">
                                <img class="show767" src="/images/Solutions/Agriculture/Processes/1-xs.svg"
                                    alt="Blockchain in agriculture">
                                <p>农业的区块链目前超过4100万美元，预计到2023年将达到1.953亿美元，到2028年将增至14亿美元。
                                    <a class="teal-link"
                                        href="https://www.statista.com/statistics/947609/global-blockchain-in-agriculture-and-food-market-value/"
                                        target="_blank" rel="noopener">Source</a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="scheme-row-point">
                                <img class="hidden767" src="/images/Solutions/Agriculture/Processes/2.svg"
                                    alt="from 7 days to 2.2 seconds">
                                <img class="show767" src="/images/Solutions/Agriculture/Processes/2-xs.svg"
                                    alt="from 7 days to 2.2 seconds">
                                <p>使用区块链，沃尔玛将追踪芒果从架子到农场的时间从7天减少到2.2秒。<a class="teal-link"
                                        href="https://jbba.scholasticahq.com/article/3712.pdf" target="_blank"
                                        rel="noopener">Source</a></p>

                            </div>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>
        <div class="key-challenges-retail key-challenges-agriculture">
            <div class="container">
                <h2 class="mt-40">农业产业面临的主要挑战</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>当前，农业行业在努力减少食品浪费，改善整个供应链的可追溯性以及管理组织，部门和辖区之间的快速付款。 保质期短的食品的运输，食品欺诈，农业补贴管理和监督提出了其他挑战。</p>
                    </div>
                </div>
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>食物浪费</h3>
                                <div class="text">所产生的所有食物中约有三分之一被浪费，其中约75％的废物在到达消费者之前就已经浪费掉了。</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>食品追溯</h3>
                                <div class="text">消费者想知道他们的食物来自哪里，而零售商则想知道他们所卖的东西。</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>食品欺诈</h3>
                                <div class="text">粮食欺诈使全球农业产业损失100亿美元-每年150亿美元，并影响到所有粮食的10％。</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>供应链跟踪</h3>
                                <div class="text">组织努力确定每个项目在供应链中的位置，如何处理以及来自何处。</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>付款处理</h3>
                                <div class="text">跨境支付可能涉及高达12％的费用和7天或更长时间的处理时间，从而扼杀了国际食品贸易。</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>农业补贴管理</h3>
                                <div class="text">对于政府而言，农业补贴管理可以平衡收支平衡。 对于农民来说，这至关重要。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quote -->
        <div class="block-olway agriculture-cta">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="agriculture-cta-poster">
                            <img src="/images/Solutions/Agriculture/cta.png"
                                srcset="/images/Solutions/Agriculture/cta@2x.png 2x" alt="Internet-of-Crops">
                            <img src="/images/Solutions/Agriculture/cta-xs.png"
                                srcset="/images/Solutions/Agriculture/cta-xs@2x.png 2x" alt="Internet-of-Crops">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="block-call__text-btn block-olway__text-btn">
                            <h2>基于区块链的物联网平台，用于物流，供应链和物联网</h2>
                            <h5>OpenLedger在Centaur AG基于物联网的解决方案中实施了区块链技术，以追踪谷物供应链的来源。 </h5>
                            <p>该解决方案使用IoT传感器来监视当前温度，湿度，氧气水平以及所存储农作物的其他状况数据。 然后将来自传感器的数据记录在区块链上，以确保可追溯性，快速处理和安全的数据存储。</p>
                            <a class="agriculture-cta-btn" href="/portfolio/internet-of-crops-platform/">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Quote -->
        <div class="retail-apps agriculture-apps">
            <div class="container">
                <h2 class="mt-40">区块链在农业中的应用</h2>
                <div class="gor-100">
                    <div class="h4">区块链可以解决农业面临的最持久和最严峻的挑战，为长期存在的难题提供令人满意的解决方案，并为整个农场和供应链效率的全新提高提供空间。</div>
                </div>
                <div
                    class="row tiles-label-mini tiles-lable-collapse tiles-lable-retail-apps tiles-lable-agriculture-apps three-tiles point-list-accordion-plus">

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>从农场到货架的可追溯性</h3>
                            <div class="text">区块链使用户可以通过供应链追溯食品直到生产，从而为零售商和消费者建立信任和准确性。</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>供应链监控</h3>
                            <div class="text">供应的每个阶段都可以进行监控和记录，并通过传感器数据指示可远程访问的存储和运输状态。</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>付款处理</h3>
                            <div class="text">支付可以通过令牌化在链上进行处理，从而实现即时交易，并大幅降低费用。</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>农场库存监督</h3>
                            <div class="text">农民可以在收获后使用区块链来管理存储和加工，从而减少了食品浪费和损失-其中34％发生在食品离开农场之前。</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>农场管理现代化</h3>
                            <div class="text">
                                利用现代农场管理技术可以提高农场的生产效率； 区块链可以立即，安全地将其提供给各种规模的农场。
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>AgTech和物联网实施</h3>
                            <div class="text">只能通过区块链来实现在单个安全平台上进行的基于IoT的智能农业，收割和存储集成农业。 </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="additional-schemes-block">
            <div class="container">
                <h2 class="mt-40">Tracing agricultural supply chains with blockchain</h2>
                <div class="h4 gor-100">From farm to table — distributed ledger technology ensures traceable product
                    origins with immutable provenance data of supplies.</div>
                <div class="additional-schemes">
                    <img class="additional-scheme additional-scheme-1170"
                        src="/images/additional-schemes/agriculture_1170.svg">
                    <img class="additional-scheme additional-scheme-1024"
                        src="/images/additional-schemes/agriculture_1024.svg">
                    <img class="additional-scheme additional-scheme-768"
                        src="/images/additional-schemes/agriculture_768.svg">
                    <img class="additional-scheme additional-scheme-320"
                        src="/images/additional-schemes/agriculture_320.svg">
                </div>
                <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
            </div>
        </div>

        <div class="automotive-solutions">
            <div class="container">
                <h3>Agriculture companies that use blockchain</h3>
                <div class="companies-icons companies-icons4">

                    <img src="/images/Uploads/agriculture1.svg">

                    <img src="/images/Uploads/agriculture2.svg">

                    <img src="/images/Uploads/agriculture3.svg">

                    <img src="/images/Uploads/agriculture4.svg">

                </div>
            </div>
        </div>

        <div class="agriculture-slider-wrap">
            <div class="container">
                <div class="education-slider">

                    <div class="agroculture-slide">
                        <div class="agroculture-slide-img">
                            <img src="/images/Uploads/agriculture1_146.svg">
                        </div>
                        <p><strong>Ripe.io</strong> blockchain platform for tracking food origins attracted investments
                            from the shipping giant Maersk</p>
                    </div>

                    <div class="agroculture-slide">
                        <div class="agroculture-slide-img">
                            <img src="/images/Uploads/agriculture2_146.svg">
                        </div>
                        <p><strong>Walmart</strong> is using IBM’s Food Trust Solution to tackle fraud by providing
                            provenance and traceability through blockchain </p>
                    </div>

                    <div class="agroculture-slide">
                        <div class="agroculture-slide-img">
                            <img src="/images/Uploads/agriculture3_146.svg">
                        </div>
                        <p><strong>EVRYTHING</strong>, an IoT platform for consumer product brands, trialed the
                            OriginTrail production verification protocol</p>
                    </div>
                </div>
            </div>
        </div>

        <% include ../common/quote.ejs %>
        <div class="opportunities-charities">
            <div class="container">
                <h2 class="mt-40">Blockchain opportunities for agriculture</h2>
                <div class="gor-100">
                    <div class="h4">
                        In addition to solving extant problems that plague the agriculture industry, blockchain
                        technology can offer new advantages and allow companies to deliver entirely original services
                        and products that were previously impossible.</div>
                </div>
                <div
                    class="row tiles-label-mini tiles-lable-charity-solutions tiles-lable-agriculture-solutions three-tiles">

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>Community- supported agriculture</h3>
                            <div class="text">
                                Blockchain could allow sensor-based crop quality tracking and the ability to reward
                                volunteer labor directly through tokens.</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>Incentivizing sustainability</h3>
                            <div class="text">
                                Blockchain could permit direct incentivization by government, NGOs, and even individuals
                                to reduce agricultural pollution.</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>Direct distributed supply</h3>
                            <div class="text">
                                Consumers can purchase directly from microfarms and small farmers worldwide, incurring
                                only shipping costs without distribution and retail. </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="charity-benefit">
            <div class="container">
                <h2 class="mt-40">Improve your agricultural productivity with OpenLedger</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>OpenLedger has deep and extensive experience in crafting a range of blockchain solutions for
                            agricultural clients. Our team can help you identify opportunities and deploy the most
                            appropriate blockchain solution to benefit your agricultural business.</p>
                    </div>
                    <div class="exchange-list">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row bold-list">
                                    <ul>
                                        <li>Enhance supply chain transparency and verifiability</li>
                                        <li>Facilitate IoT in agriculture with secure and accessible data processing and
                                            storage</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row bold-list">
                                    <ul>
                                        <li>Accelerate payments and processing</li>
                                        <li>Implement advanced farming management, retail, and investment solutions</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>