<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner automotive-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>汽车行业<br> 链改解决方案</h1>
                    <div class="h2-banner h2-banner-indents">无论是乘车共享，制造，车辆跟踪还是新兴的电动汽车行业，<br />区块链都能为您的业务提供动力。</div>
                    <a href="#contact" class="link">获得免费报价</a>
                    <div class="bg"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="automotive-challenges">
            <div class="container">
                <h2>汽车行业面临的主要挑战</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>汽车行业面临着瞬息万变的商业格局，其中包括不断变化的消费者技术所带来的快速而深刻的转变。</p>
                        <p>OpenLedger经验丰富的团队了解汽车行业公司面临的最紧迫的挑战，并且知道如何使用区块链来克服这些挑战。</p>
                    </div>
                </div>
                <div class="row-lists">
                    <div class="row">
                        <div class="col-lg-4">
                            <h3 class="H3">了解区块链如何帮助您克服汽车行业的挑战：</h3>
                        </div>
                        <div class="col-lg-4">
                            <div class="row bold-list">
                                <ul>
                                    <li>改变消费者行为</li>
                                    <li>电动汽车需求</li>
                                    <li>数据碎片</li>
                                    <li>未集成的支持系统</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row bold-list">
                                <ul>
                                    <li>复杂而缓慢的过程</li>
                                    <li>跟踪和验证车辆部件的困难</li>
                                    <li>成本压力</li>
                                    <li>监管障碍</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
        <div class="automotive-use-cases">
            <div class="container">
                <h2 class="mt-40">汽车行业的区块链用例</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>汽车行业是一个复杂的生态系统，各方参与多个层次：车辆的设计，制造，分销，跟踪，营销，合规性，销售，财务和维修。 以下是一些可以在汽车行业实现的现实世界区块链。</p>
                    </div>
                </div>
                <div
                    class="row tiles-lable tiles-lable-wide tiles-lable-collapse automotive-tiles-lable point-list-accordion-plus">

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>汽车互动</h3>
                            <div class="text">
                                <p>区块链在汽车行业提供安全的，受访问限制的交互和交易。 该技术允许在零件分销商，经销商，服务技工，保险提供商和其他生态系统参与者之间即时安全地共享数据。</p>
                                <p>该数据可能是紧急维修请求，正在更改装配线或售后维修库存商的零件要求或付款处理信息。</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>零件认证</h3>
                            <div class="text">
                                <p>区块链解决了确保汽车零件真实的问题，为每个组件创建了带有时间戳的独特ID。</p>
                                <p>这些标记可以提供一层额外的真实性保护，可以在车主，制造商和服务中心之间立即安全共享，以跟踪零件更换和使用限制的历史记录。</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>汽车租赁和金融</h3>
                            <div class="text">
                                <p>基于区块链的汽车行业解决方案使汽车租赁和融资变得更加容易。</p>
                                <p>该技术将安全环境中的所有各方联系起来，并保证透明的操作：KYC检查，合同存储和自动付款。</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>保修索赔处理</h3>
                            <div class="text">
                                <p>区块链为汽车行业面临的数据集成挑战提供解决方案。 该技术缩短了交货时间，加快了处理速度，并支持多个参与方之间准确，有效的决策和透明性。</p>
                                <p>区块链将车辆的服务计划与实际使用情况的不变记录同步。 此数据准确，防篡改且易于浏览。</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>供应链</h3>
                            <div class="text">
                                <p>区块链汽车供应链实现了顺畅的订单/销售流程，简化了文档工作流程，并使交易双方之间的付款变得轻松快捷。</p>
                                <p>物联网传感器和设备可以链接在一起，以测量所有类型的信息并通知最终解决方案，例如集装箱状况或货物是否损坏。</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>车辆追踪</h3>
                            <div class="text">
                                <p>随着更多参与者的加入，用于车辆跟踪的区块链解决方案会增加更多的价值。</p>
                                <p>协同效应带来的好处包括更好地执行环境法律，验证合规性的可审核测试和服务日志，以及制造商审核和向客户出售增值服务的机会。</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>自主拼车</h3>
                            <div class="text">
                                <p>参加区块链汽车革命，并实施基于区块链的系统和解决方案，以便利共享乘车和车辆所有权，记录和执行协议，处理所有付款并使用该行程的历史记录更新用户的记录。</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>保险合同</h3>
                            <div class="text">
                                <p>区块链通过创建个性化合同来修改汽车行业的保险程序。 个性化包括真实的汽车性能，并在保险索赔后自动支付保险金和进行财务结算。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="tile tile-collapse tile-collapse-active point-accordion-plus">
                            <h3>车辆的总拥有成本</h3>
                            <div class="text">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>车辆的总拥有成本（TCO）是车辆所有者重要的生产率指标。 实施区块链技术使TCO指标成为有价值的实时汽车指标。</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>这一发展在整个车辆生命周期内优化了车辆运营成本，提供了数据透明性，并为提高效率提供了空间。</p>
                                    </div>
                                </div>
                                <img class="hidden768" src="/images/Solutions/Automotive/scheme.svg" alt="">
                                <img class="show768" src="/images/Solutions/Automotive/scheme-xs.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="automotive-solutions">
            <div class="container">
                <h3>使用区块链汽车解决方案的公司：</h3>
                <div class="automotive-solutions-icons companies-icons companies-icons6">

                    <img src="/images/Uploads/manufacturer_1.svg" alt="manufacturer_1">

                    <img src="/images/Uploads/manufacturer_2.svg" alt="manufacturer_2">

                    <img src="/images/Uploads/manufacturer_3.svg" alt="manufacturer_3">

                    <img src="/images/Uploads/manufacturer_4.svg" alt="manufacturer_4">

                    <img src="/images/Uploads/manufacturer_5.svg" alt="manufacturer_5">

                    <img src="/images/Uploads/manufacturer_6.svg" alt="manufacturer_6">
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
        <div class="automotive-benefits">
            <div class="container">
                <h2>区块链技术在汽车供应链中的优势</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>汽车行业正在发生变化，而区块链已经成为这一变化的重要组成部分。 OpenLedger在针对汽车企业的定制区块链开发和实施方面提供了深厚的专业知识。</p>
                        <p>汽车供应链中的所有参与者都可以从区块链实施中受益：</p>
                    </div>
                </div>
                <div class="automotive-benefits-part">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3 class="black-desc">扰乱汽车市场</h3>
                        </div>
                        <div class="col-lg-6">
                            <p>与OpenLedger的团队一起发掘区块链汽车开发的潜力。 消除现有的低效率，改善业务流程并从区块链可以为行业提供的独特机会中受益。</p>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider">
            </div>
        </div>
        <div class="automotive-vehicles">
            <div class="container">
                <div class="row third-point-row">

                    <div class="col-md-4">
                        <div class="third-point">
                            <div class="third-point-icon">
                                <img src="/images/Uploads/1.svg" alt="Vehicle manufacturers">
                            </div>
                            <h3>车辆制造商</h3>
                        </div>
                        <div class="third-point-info">
                            <ul>
                                <li>维护记录和备件的数据完整性</li>
                                <li>减少保修费用</li>
                                <li>增长机会</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="third-point">
                            <div class="third-point-icon">
                                <img src="/images/Uploads/2.svg" alt="Insurers">
                            </div>
                            <h3>保险公司</h3>
                        </div>
                        <div class="third-point-info">
                            <ul>
                                <li>政策成本优化</li>
                                <li>减少索赔管理费用</li>
                                <li>保险为历史悠久的客户提供</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="third-point">
                            <div class="third-point-icon">
                                <img src="/images/Uploads/3.svg" alt="Vehicle owners">
                            </div>
                            <h3>车主</h3>
                        </div>
                        <div class="third-point-info">
                            <ul>
                                <li>在二手车市场中的信任度和声誉不断提高</li>
                                <li>透明的汽车历史</li>
                                <li>转售价值最大化</li>
                                <li>车辆的总拥有成本</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider">
            </div>
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>