<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner automotive-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>Blockchain<br> development for the automotive industry</h1>
                    <div class="h2-banner h2-banner-indents">Whether it's ride-sharing, manufacturing, vehicle <br>
                        tracking, or the emerging electric car industry, <br> blockchain can power your business. </div>
                    <a href="#contact" class="link">Get a Free Quote</a>
                    <div class="bg"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="automotive-challenges">
            <div class="container">
                <h2>Key challenges facing the automotive industry</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>The automotive industry faces a rapidly changing business landscape, including a rapid and
                            profound shift driven by changing consumer technology.</p>
                        <p>OpenLedger&#8217;s experienced team understands the most pressing challenges for companies in
                            the automotive industry, and knows how to use blockchain to overcome them.</p>
                    </div>
                </div>
                <div class="row-lists">
                    <div class="row">
                        <div class="col-lg-4">
                            <h3 class="H3">Learn how blockchain can help you overcome the automotive industry
                                challenges:</h3>
                        </div>
                        <div class="col-lg-4">
                            <div class="row bold-list">
                                <ul>
                                    <li>Changing consumer behavior</li>
                                    <li>Demand for electric vehicles</li>
                                    <li>Fragmented data</li>
                                    <li>Unintegrated support systems</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row bold-list">
                                <ul>
                                    <li>Complex and slow processes</li>
                                    <li>Difficulties in tracking and verifying vehicle components</li>
                                    <li>Cost pressure</li>
                                    <li>Regulatory obstacles</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quote -->
        <div class="block-call">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-right-block">
                        <img src="/images/320_free_quote.svg" alt="">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="block-call__text-btn">
                            <h2>Get a FREE quote</h2>
                            <p>Drop us a line about your future project, and we'll get back to you with details within
                                one business day</p>
                            <a href="#contact">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Quote -->
        <div class="automotive-use-cases">
            <div class="container">
                <h2 class="mt-40">Blockchain use cases for the automotive industry</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>The automotive industry is a complex ecosystem with parties involved on multiple levels:
                            design, manufacturing, distribution, tracking, marketing, compliance, selling, finance and
                            servicing of vehicles. Below are some of the real-world blockchain can be implemented in the
                            automotive industry.</p>
                    </div>
                </div>
                <div
                    class="row tiles-lable tiles-lable-wide tiles-lable-collapse automotive-tiles-lable point-list-accordion-plus">

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Automotive interactions</h3>
                            <div class="text">
                                <p>Blockchain provides secure, access-regulated interactions and transactions in the
                                    automotive industry. The technology allows data to be shared instantly and safely
                                    between parts distributors, dealers, service mechanics, insurance providers, and
                                    other ecosystem participants.</p>
                                <p>That data could be urgent repair requests, changing parts requirements for assembly
                                    lines or aftercare stockists, or payment processing information.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Parts authentication</h3>
                            <div class="text">
                                <p>Blockchain solves the problem of ensuring that car parts are genuine, creating
                                    distinctive timestamped IDs for every component.</p>
                                <p>These marks can provide an additional layer of authenticity protection, one that can
                                    be shared securely and instantly between car owners, manufacturers and service
                                    centers to track the history of parts changes and usage limits.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Auto leasing and finance</h3>
                            <div class="text">
                                <p>A blockchain-powered solution for automotive industry makes auto leasing and finance
                                    easier.</p>
                                <p>The technology connects all parties involved in a secure environment and guarantees
                                    transparent operations: KYC checks, storage of contracts, and automated payment.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Warranty claim handling</h3>
                            <div class="text">
                                <p>Blockchain provides solutions to the data integration challenges faced by the
                                    automotive industry. This technology shortens lead times, accelerates processing and
                                    supports accurate, effective decision-making and transparency between multiple
                                    involved parties.</p>
                                <p>Blockchain synchronizes service schedules of vehicles with immutable records of
                                    actual usage. This data is accurate, tamper-proof and easy to navigate.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Supply chain</h3>
                            <div class="text">
                                <p>A blockchain automotive supply chain enables a smooth order/sell process, simplifies
                                    documentation workflow, and makes payments between parties fast and easy.</p>
                                <p>IoT sensors and devices can be linked together to measure all types of information
                                    and inform final settlements, such as the condition of containers or if goods have
                                    been damaged.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Vehicle tracking</h3>
                            <div class="text">
                                <p>Blockchain solutions for vehicle tracking adds more value as more parties opt in.</p>
                                <p>Synergistic effects allow for benefits like better enforcement of environmental laws,
                                    and auditable test and service logs proving compliance, as well as manufacturer
                                    auditing and opportunities to sell value-added services to customers.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Autonomous ride-sharing</h3>
                            <div class="text">
                                <p>Join the blockchain automotive revolution and implement blockchain-based systems and
                                    solutions to facilitate the sharing of rides and vehicle ownership, record and
                                    execute agreements, process all payments and update the user’s record with a history
                                    of that trip.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Insurance contracts</h3>
                            <div class="text">
                                <p>Blockchain modifies insurance procedures in the automotive industry by creating
                                    personalized contracts. The personalization includes real car performance and
                                    automates the payment of insurance and financial settlement following an insurance
                                    claim.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="tile tile-collapse tile-collapse-active point-accordion-plus">
                            <h3>TCO of the vehicle</h3>
                            <div class="text">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>The Total Cost of Ownership (TCO) of a vehicle is an important productivity
                                            measure for vehicle owners. Implementing blockchain technology makes TCO
                                            indicators a valuable real-time automotive index.</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>This development optimizes vehicle operational costs during the whole vehicle
                                            life cycle, provides data transparency and gives space for efficiency
                                            improvements.</p>
                                    </div>
                                </div>
                                <img class="hidden768" src="/images/Solutions/Automotive/scheme.svg" alt="">
                                <img class="show768" src="/images/Solutions/Automotive/scheme-xs.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="automotive-solutions">
            <div class="container">
                <h3>Companies that use blockchain automotive solutions:</h3>
                <div class="automotive-solutions-icons companies-icons companies-icons6">

                    <img src="/images/Uploads/manufacturer_1.svg"
                        alt="manufacturer_1">

                    <img src="/images/Uploads/manufacturer_2.svg"
                        alt="manufacturer_2">

                    <img src="/images/Uploads/manufacturer_3.svg"
                        alt="manufacturer_3">

                    <img src="/images/Uploads/manufacturer_4.svg"
                        alt="manufacturer_4">

                    <img src="/images/Uploads/manufacturer_5.svg"
                        alt="manufacturer_5">

                    <img src="/images/Uploads/manufacturer_6.svg"
                        alt="manufacturer_6">
                </div>
            </div>
        </div>
        <!-- Quote -->
        <div class="block-call">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-right-block">
                        <img src="/images/320_free_quote.svg" alt="">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="block-call__text-btn">
                            <h2>Get a FREE quote</h2>
                            <p>Drop us a line about your future project, and we'll get back to you with details within
                                one business day</p>
                            <a href="#contact">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Quote -->
        <div class="automotive-benefits">
            <div class="container">
                <h2>Benefits of blockchain technology in the automotive supply chain</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>The automotive industry is changing, and blockchain is already an impactful part of that
                            change. OpenLedger offers deep expertise in custom blockchain development and implementation
                            for automotive businesses.</p>
                        <p>All participants in the automotive supply chain can benefit from blockchain implementation:
                        </p>
                    </div>
                </div>
                <div class="automotive-benefits-part">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3 class="black-desc">Disrupting the automotive market </h3>
                        </div>
                        <div class="col-lg-6">
                            <p>Unlock the potential of blockchain automotive development with OpenLedger’s team.
                                Eliminate existing inefficiencies, improve business processes and benefit from unique
                                opportunities that blockchain can provide the industry.</p>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider">
            </div>
        </div>
        <div class="automotive-vehicles">
            <div class="container">
                <div class="row third-point-row">

                    <div class="col-md-4">
                        <div class="third-point">
                            <div class="third-point-icon">
                                <img src="/images/Uploads/1.svg"
                                    alt="Vehicle manufacturers">
                            </div>
                            <h3>Vehicle manufacturers</h3>
                        </div>
                        <div class="third-point-info">
                            <ul>
                                <li>Data integrity of maintenance records and spare parts</li>
                                <li>Reduction in warranty costs</li>
                                <li>Opportunities for growth</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="third-point">
                            <div class="third-point-icon">
                                <img src="/images/Uploads/2.svg" alt="Insurers">
                            </div>
                            <h3>Insurers</h3>
                        </div>
                        <div class="third-point-info">
                            <ul>
                                <li>Policy costs optimization</li>
                                <li>Reduction in claims management costs</li>
                                <li>Insurance offers for customers with better histories</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="third-point">
                            <div class="third-point-icon">
                                <img src="/images/Uploads/3.svg"
                                    alt="Vehicle owners">
                            </div>
                            <h3>Vehicle owners</h3>
                        </div>
                        <div class="third-point-info">
                            <ul>
                                <li>Increased trust and reputation in used-car market</li>
                                <li>Transparent car history</li>
                                <li>Maximization of resale value</li>
                                <li>TCO of vehicles</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider">
            </div>
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>