<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner banner-plus-text charity-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>慈善事业的区块链开发</h1>
                    <div class="h2-banner">用区块链破坏慈善行业</div>
                    <div class="text">
                        与捐赠者，接受者和其他利益相关者建立信任，吸引合适的人，并提高管理成本和效力。 <br>
                        向捐赠者展示捐赠所产生的差异，通过众筹迅速获得资金，并手动控制您所帮助的人们。
                    </div>
                    <a href="#contact" class="link">获得免费报价</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="transform-your-key transform-your-key-charity">
            <div class="container">
                <div class="row scheme-row">
                    <div class="col-md-4">
                        <h3 class="black-desc">改变您的流程并利用区块链在慈善事业中的潜力：</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767" src="/images/Solutions/Charity/Processes/1.svg" alt="">
                            <img class="show767" src="/images/Solutions/Charity/Processes/1-xs.svg" alt="">
                            <p><strong>三分之一的美国人</strong><br />
                                不信任慈善机构善用金钱。<br />
                                <a class="teal-link"
                                    href="https://www.philanthropy.com/specialreport/how-nonprofits-can-gain-the-pu/69"
                                    target="_blank" rel="noopener">Source</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767" src="/images/Solutions/Charity/Processes/2.svg" alt="">
                            <img class="show767" src="/images/Solutions/Charity/Processes/2-xs.svg" alt="">
                            <p><strong>行政和筹款是慈善机构仅次于赠款和慈善捐赠的第二大成本。<a class="teal-link"
                                        href="https://www.philanthropy.com/specialreport/how-nonprofits-can-gain-the-pu/69"
                                        target="_blank" rel="noopener">Source</a></p>

                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>
        <div class="key-challenges-retail key-challenges-charity">
            <div class="container">
                <h2 class="mt-40">慈善机构面临的主要挑战</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>慈善面孔<a
                                href="https://www.cafonline.org/docs/default-source/about-us-policy-and-campaigns/mind-the-gap-reportddffcb334cae616587efff3200698116.pdf"
                                target="_blank" rel="noopener">年轻人的捐款减少，对CEO薪酬的怀疑越来越强烈，并且对捐款的去向存有疑虑。
                                同时，他们在效率低下，资金不足的行政管理中苦苦挣扎，常常无法提供足够的直接援助，并经常看到最脆弱和最需要帮助的人错过了。
                                OpenLedger拥有丰富的经验，可以帮助组织提高这些关键领域的绩效，包括：
                    </div>
                </div>
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>行政效率低下</h3>
                                <div class="text">慈善机构经常难以建立有效的管理架构，从而导致可避免的浪费</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>点对点的捐赠链</h3>
                                <div class="text">从捐赠者到最终接受者，慈善机构无法建立可验证的捐赠链</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>紧急援助</h3>
                                <div class="text">快速响应难以有效组织，尤其是涉及多个实体时</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>为特定目标筹款</h3>
                                <div class="text">具有广泛职权的慈善机构发现很难为特定事件或目标有效筹款</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>捐助方匿名</h3>
                                <div class="text">一些捐助者希望保持匿名，但没有实现这一目标的机构</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>收件人定位</h3>
                                <div class="text">弱势的接收者输掉了，而强势的接收者则跳过了排队。 定位特定的人是不可能的</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>跨境捐赠</h3>
                                <div class="text">外国捐款可能会导致慈善事业出现税收困难，甚至丧失慈善地位</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>建立捐助者信任</h3>
                                <div class="text">
                                    捐赠者的信任对于慈善捐赠至关重要，但由于缺乏透明度而受到侵蚀
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>收件人身份</h3>
                                <div class="text">难民营中25％的儿童没有官方身份证明，导致成年后难以获得服务</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
        <div class="retail-apps charity-apps">
            <div class="container">
                <h2 class="mt-40">慈善的区块链：应用</h2>
                <div class="gor-100">
                    <div class="h4">非营利组织的范围从一些政府规模的NGO到解决本地问题的邻里组织。 但是他们都需要与社区，政府，新闻界和其他慈善机构一起努力以实现其目标。 这是区块链技术可以促进实现这一目标的一些关键方法。</div>
                </div>
                <div
                    class="row tiles-label-mini tiles-lable-collapse tiles-lable-retail-apps tiles-lable-charity-apps three-tiles point-list-accordion-plus">

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>自动化管理</h3>
                            <div class="text">智能合约可以自动执行常见的管理任务，从而减轻了现有管理人员和机构的负担</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>安全共享数据</h3>
                            <div class="text">减少组织之间的数据重复和不准确性：使用相同的分布式分类帐，安全并实时更新</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>追踪个人捐款</h3>
                            <div class="text">区块链创建了一个完全可审计的捐赠链。 向捐赠者确切显示他们的钱帮助了谁</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>启用跨国捐款</h3>
                            <div class="text">清楚显示每笔捐款的来源，并证明税收和法规合规性</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>建立可验证的身份</h3>
                            <div class="text">区块链可以是经过验证的身份的安全存储库，允许没有文档的人证明自己是谁</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>准确地瞄准目标</h3>
                            <div class="text">确保将援助提供给需要援助的确切个人，并根据区块链检查其身份</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>快速提供紧急援助</h3>
                            <div class="text">跨机构，地理和政治边界合作，以连贯一致的方式提供紧急援助</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>捐助方匿名</h3>
                            <div class="text">匿名与更大的捐赠有关。 电子钱包可以完全匿名捐赠，消除了“捐赠羞辱”</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>基于目标的筹款</h3>
                            <div class="text">模仿GoFundMe和Kickstarter面向目标的众筹的成功，为特定目标吸引捐款</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="funding-assets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="black-desc">这是区块链如何改善慈善资金和资产分配的方法：
                        </h3>
                    </div>
                    <div class="col-md-8">
                        <div class="scheme-row-point">
                            <img class="hidden767" src="/images/Solutions/Charity/scheme.svg" alt="">
                            <img class="show767" src="/images/Solutions/Charity/scheme-xs.svg" alt="">
                        </div>
                    </div>
                </div>
                <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
            </div>
        </div>
        <div class="education-slider-wrap charities-slider-wrap">
            <div class="container">
                <h2 class="mt-40">使用区块链的慈善机构</h2>
                <div class="education-slider">

                    <div class="education-slide">
                        <img src="/images/Uploads/charity_1.svg">
                        <h3>世界粮食计划署使用构件来支持难民</h3>
                    </div>

                    <div class="education-slide">
                        <img src="/images/Uploads/charity_2.svg">
                        <h3>联合国儿童基金会（Unicef Australia）创建了一个网页，您可以在其中挖掘用于慈善的加密货币</h3>
                    </div>

                    <div class="education-slide">
                        <img src="/images/Uploads/charity_3.svg">
                        <h3>圣芒戈（St Mungo）使用爱丽丝（Alice），该区块链平台可显示您的资金去向</h3>
                    </div>
                </div>
            </div>
        </div>

        <% include ../common/quote.ejs %>
        <div class="opportunities-charities">
            <div class="container">
                <h2 class="mt-40">慈善的区块链机会</h2>
                <div class="gor-100">
                    <div class="h4">除了解决现存的问题外，区块链解决方案还可以使慈善机构和非营利组织以全新的方式交付结果，而如果没有区块链，这是不可能的。 这里仅仅是少数：</div>
                </div>
                <div class="row tiles-label-mini tiles-lable-charity-solutions three-tiles">

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>费用和汇款</h3>
                            <div class="text">债务可能是一个陷阱，由于处理缓慢而变得更糟。 区块链正在作为一种快速，准确和可审核的贷款和费用偿还解决方案进行试用</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>财产权</h3>
                            <div class="text">在冲突和紧急情况下，所有权可能会从清晰的视野中消失。 基于区块链的财产注册不能在本地被篡改或破坏</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>独特的粮食援助</h3>
                            <div class="text">通过区块链注册表，可以从农场到餐桌追踪食物，以确保接收者知道食物安全，慈善机构和捐助者知道他们正在赚钱</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="charity-benefit">
            <div class="container">
                <h2 class="mt-40">使用OpenLedger受益于区块链</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>OpenLedger为慈善机构和非营利组织带来了深厚的区块链专业知识，包括实施现有技术，创建自定义区块链应用程序甚至自定义链，以及与您协商以创建满足您需求并改变您的流程的解决方案。</p>
                    </div>
                    <div class="exchange-list">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row bold-list">
                                    <ul>
                                        <li>解决管理。 自动化，分散和加密，并看到管理成本直线下降，同时效率和准确性提高</li>
                                        <li>向捐赠者，利益相关者和监管者展示透明度和问责制</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row bold-list">
                                    <ul>
                                        <li>从交付开始就跟踪个人的捐赠或对特定目标的捐赠</li>
                                        <li>每次都向正确的人提供正确的捐款-减少浪费，提高效率</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>