<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner banner-plus-text charity-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>Blockchain development for charities</h1>
                    <div class="h2-banner">Disrupting the charity industry with blockchain</div>
                    <div class="text">
                        Build trust with donors, recipients, and other stakeholders, reach the <br> right people, and
                        improve administration costs and efficacy.<br> Show donors the difference their <br> donation
                        makes, acquire funds rapidly through crowdfunding and hand control to the people you help.
                    </div>
                    <a href="#contact" class="link">Get a Free Quote</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="transform-your-key transform-your-key-charity">
            <div class="container">
                <div class="row scheme-row">
                    <div class="col-md-4">
                        <h3 class="black-desc">Transform your processes and leverage the potential of blockchain in
                            charities:</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767"
                                src="/images/Solutions/Charity/Processes/1.svg"
                                alt="">
                            <img class="show767"
                                src="/images/Solutions/Charity/Processes/1-xs.svg"
                                alt="">
                            <p><strong>1 in 3 Americans</strong><br />
                                doesn’t trust charities to spend their money well.<br />
                                <a class="teal-link"
                                    href="https://www.philanthropy.com/specialreport/how-nonprofits-can-gain-the-pu/69"
                                    target="_blank" rel="noopener">Source</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767"
                                src="/images/Solutions/Charity/Processes/2.svg"
                                alt="">
                            <img class="show767"
                                src="/images/Solutions/Charity/Processes/2-xs.svg"
                                alt="">
                            <p><strong>Administration and fundraising</strong> аre charities’ second-largest costs after
                                grants and charitable giving. <a class="teal-link"
                                    href="https://www.philanthropy.com/specialreport/how-nonprofits-can-gain-the-pu/69"
                                    target="_blank" rel="noopener">Source</a></p>

                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>
        <div class="key-challenges-retail key-challenges-charity">
            <div class="container">
                <h2 class="mt-40">Key challenges for charities</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>Charities face <a
                                href="https://www.cafonline.org/docs/default-source/about-us-policy-and-campaigns/mind-the-gap-reportddffcb334cae616587efff3200698116.pdf"
                                target="_blank" rel="noopener">declining donations among the young</a>, increasing
                            scepticism over CEO pay and concerns about where donations end up. At the same time, they
                            struggle with inefficient, underfunded administration, often can’t direct aid adequately and
                            frequently see the most vulnerable and needy miss out.</p>
                        <p>OpenLedger has extensive experience helping organizations improve performance in these key
                            areas, including:</p>
                    </div>
                </div>
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Administration inefficiency</h3>
                                <div class="text">
                                    Charities often struggle to create effective administration structures, resulting in
                                    avoidable waste </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>End-to-end giving chain</h3>
                                <div class="text">
                                    From donor to final recipient, charities are unable to establish a verifiable giving
                                    chain </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Emergency aid</h3>
                                <div class="text">
                                    Rapid responses are difficult to organize effectively, particularly when multiple
                                    entities are involved </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Fundraising for specific goals</h3>
                                <div class="text">
                                    Charities with broader remits find it hard to effectively fundraise for specific
                                    events or goals </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Donor anonymity</h3>
                                <div class="text">
                                    Some donors wish to remain anonymous, but there are no structures in place to
                                    achieve this </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Recipient targeting</h3>
                                <div class="text">
                                    Vulnerable recipients lose out while stronger ones jump the queue. It’s impossible
                                    to target specific individuals </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Cross-border donations</h3>
                                <div class="text">
                                    Foreign donations can result in tax difficulties for charities, or even loss of
                                    charitable status </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Establishing donor trust</h3>
                                <div class="text">
                                    Donor trust is vital to charitable giving, but it’s eroded by lack of transparency
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Recipient identity</h3>
                                <div class="text">
                                    25% of children in refugee camps have no official identification, leading to
                                    difficulty accessing services in adulthood </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
        <div class="retail-apps charity-apps">
            <div class="container">
                <h2 class="mt-40">Blockchain for charity: applications</h2>
                <div class="gor-100">
                    <div class="h4">
                        Non-profits range from NGOs the size of some governments to neighborhood organizations
                        addressing local concerns. But they all need to work alongside communities, government, press
                        and other charities to achieve their goals. Here are some key ways blockchain technology can
                        facilitate that. </div>
                </div>
                <div
                    class="row tiles-label-mini tiles-lable-collapse tiles-lable-retail-apps tiles-lable-charity-apps three-tiles point-list-accordion-plus">

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Automate administration</h3>
                            <div class="text">
                                Smart contracts can automate common admin tasks, reducing strain on existing
                                administrative staff and structures </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Share data securely</h3>
                            <div class="text">
                                Reduce data duplication and inaccuracies between organizations: use the same distributed
                                ledger, secure and updated in real time </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Trace individual donations</h3>
                            <div class="text">
                                Blockchain creates a fully auditable chain of giving. Show donors exactly which person
                                their money helped </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Enable transnational donations</h3>
                            <div class="text">
                                Show clearly where each individual donation came from and demonstrate tax and regulatory
                                compliance </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Establish verifiable identity</h3>
                            <div class="text">
                                Blockchain can be a secure repository of verified identity, allowing those without
                                documents to prove who they are </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Accurately target aid</h3>
                            <div class="text">
                                Ensure aid goes to the exact individuals who need it, checking their identities against
                                the blockchain </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Rapidly deliver emergency aid</h3>
                            <div class="text">
                                Cooperate across agencies, geography and political borders to deliver emergency aid
                                cohesively and rapidly </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Donor anonymity</h3>
                            <div class="text">
                                Anonymity correlates with larger donations; digital wallets can allow totally anonymous
                                donations, eliminating ‘donation shaming’ </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Goal-based fundraising</h3>
                            <div class="text">
                                Imitate the success of GoFundMe and Kickstarter goal-oriented crowdfunding, attracting
                                donations for specific goals </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="funding-assets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="black-desc">Here's how blockchain improves charity funding and assets distribution:
                        </h3>
                    </div>
                    <div class="col-md-8">
                        <div class="scheme-row-point">
                            <img class="hidden767"
                                src="/images/Solutions/Charity/scheme.svg"
                                alt="">
                            <img class="show767"
                                src="/images/Solutions/Charity/scheme-xs.svg"
                                alt="">
                        </div>
                    </div>
                </div>
                <img class="manufacturer-dots"
                    src="/images/Solutions/Logistics/dots.svg"
                    alt="Dots">
            </div>
        </div>
        <div class="education-slider-wrap charities-slider-wrap">
            <div class="container">
                <h2 class="mt-40">Charities that use blockchain</h2>
                <div class="education-slider">

                    <div class="education-slide">
                        <img src="/images/Uploads/charity_1.svg">
                        <h3>World Food Program uses Building Blocks to support refugees</h3>
                    </div>

                    <div class="education-slide">
                        <img src="/images/Uploads/charity_2.svg">
                        <h3>Unicef Australia created a web page where you can mine crypto for charity</h3>
                    </div>

                    <div class="education-slide">
                        <img src="/images/Uploads/charity_3.svg">
                        <h3>St Mungo’s uses Alice, a blockchain platform that shows where your money goes</h3>
                    </div>
                </div>
            </div>
        </div>

        <% include ../common/quote.ejs %>
        <div class="opportunities-charities">
            <div class="container">
                <h2 class="mt-40">Blockchain opportunities for charities</h2>
                <div class="gor-100">
                    <div class="h4">
                        In addition to solving extant problems, blockchain solutions can enable charities and
                        non-profits to deliver results in entirely novel ways that would be impossible without the
                        blockchain. Here are just a few:</div>
                </div>
                <div class="row tiles-label-mini tiles-lable-charity-solutions three-tiles">

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>Fees and remittance</h3>
                            <div class="text">
                                Debt can be a trap, made worse by slow processing. Blockchain is being trialled as a
                                rapid, accurate and auditable solution for loan and fee repayment</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>Property rights</h3>
                            <div class="text">
                                Ownership can disappear from clear view in conflicts and emergencies. Blockchain-based
                                property registries can’t be tampered with or damaged locally</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>Unique food aid</h3>
                            <div class="text">
                                Food is made traceable from farm to table through blockchain registry, ensuring that
                                recipients know it’s safe to eat and charities and donors know they’re getting their
                                money’s worth</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="charity-benefit">
            <div class="container">
                <h2 class="mt-40">Benefit from blockchain with OpenLedger</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>OpenLedger brings deep expertise in blockchain for charities and non-profits, including
                            implementing existing technology, creating custom blockchain applications and even custom
                            chains, and consulting with you to create a solution that meets your needs and transforms
                            your processes.</p>
                    </div>
                    <div class="exchange-list">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row bold-list">
                                    <ul>
                                        <li>Solve administration. Automate, decentralize and encrypt, and see admin
                                            costs plummet while efficacy and accuracy rise</li>
                                        <li>Demonstrate transparency and accountability to donors, stakeholders and
                                            regulators</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row bold-list">
                                    <ul>
                                        <li>Track donations from individuals or to specific goals, right through to
                                            delivery</li>
                                        <li>Give the right donations to the right people, every time — cut waste,
                                            improve effectiveness</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>