<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner solution-education-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>教育行业<br />链改解决方案</h1>
                    <div class="h2-banner h2-banner-indents">减轻行政负担，让教育工作者自由授课，让学生自由学习。 <br />区块链教育的未来就在这里。</div>
                    <a href="#contact" class="link">Get a Free Quote</a>
                    <div class="bg"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="transform-your-key transform-your-key-education">
            <div class="container">
                <div class="row scheme-row">
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767" src="/images/Solutions/Education/schemes/1.svg" alt="">
                            <img class="show767" src="/images/Solutions/Education/schemes/1-xs.svg" alt="">
                            <p>简历的特征是虚假的教育程度，包括虚高的成绩。 <a class="teal-link"
                                    href="https://edtechmagazine.com/higher/article/2017/12/education-sector-data-breaches-skyrocket-2017"
                                    target="_blank" rel="noopener">Source</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767" src="/images/Solutions/Education/schemes/2.svg" alt="">
                            <img class="show767" src="/images/Solutions/Education/schemes/2-xs.svg" alt="">
                            <p>在2016年至2017年之间，教育方面的数据泄露事件有所增加。<a class="teal-link"
                                    href="https://www.geteducated.com/life-experience-college-degree/305-linkedin-professionals-found-listing-life-experience-degrees-on-resumes"
                                    target="_blank" rel="noopener">Source</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767" src="/images/Solutions/Education/schemes/3.svg" alt="">
                            <img class="show767" src="/images/Solutions/Education/schemes/3-xs.svg" alt="">
                            <p>每年加入美国大学的行政人员多于教育人员。<a class="teal-link"
                                    href="https://www.nytimes.com/2015/04/05/opinion/sunday/the-real-reason-college-tuition-costs-so-much.html"
                                    target="_blank" rel="noopener">Source</a></p>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>
        <div class="enhance-business-content education-challenges">
            <div class="container">
                <h2>教育行业的主要挑战</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>
                            行政成本和负担正在增加。 机构必须获取，处理和存储比以往更多的数据，并解决相关的基础架构和数据安全性问题。 同时，利益相关者日益要求易于使用，集成和可访问性。
                            教育机构必须调和以下要求：
                        </p>
                    </div>
                </div>
                <div
                    class="row tiles-lable enhance-tiles-lable blockchain-logistics-lable blockchain-education-lable tiles-lable-collapse">

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>数据处理</h3>
                            <div class="text">从手动文档验证到跨系统的数据输入和检索，数据处理非常昂贵，耗时且效率低下。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>教职员工和学生身份</h3>
                            <div class="text">人员和学生身份的验证是零散的，要进行人工记录检查和管理工作需要花费大量时间。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>基础设施控制</h3>
                            <div class="text">物联网使实体可以更好地管理其电力，水和设备，并跟踪和提醒学生。 但是，零散的校园公用事业无法提供透明性，快速的数据访问或欺诈掩盖。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>数据安全</h3>
                            <div class="text">教育机构拥有有关员工，学生和其他利益相关者的数据。 这些数据中的许多都处于危险之中，并且是不良行为者的诱人目标。
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>用户期望</h3>
                            <div class="text">利益相关者通过消费者的选择来推动他们对功能特性的期望，而教育实体则面临额外的合规性和安全性要求。
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>管理</h3>
                            <div class="text">日益复杂的组织结构，合作伙伴关系和更大的数据湖需要越来越耗时，昂贵的管理工作。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>

        <div class="additional-schemes-block additional-schemes-block-aducation">
            <div class="container">
                <h2 class="mt-40">利用区块链促进教育领域的交流</h2>
                <div class="row">
                    <div class="col-md-5">
                        <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
                        <h3 class="black-desc">区块链消除了中介，确保了教育机构与个人之间的点对点互动。</h3>
                        <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
                    </div>
                    <div class="col-md-7">
                        <div class="additional-schemes">
                            <img class="additional-scheme additional-scheme-1170"
                                src="/images/additional-schemes/education_1170.svg">
                            <img class="additional-scheme additional-scheme-1024"
                                src="/images/additional-schemes/education_1024.svg">
                            <img class="additional-scheme additional-scheme-768"
                                src="/images/additional-schemes/education_768.svg">
                            <img class="additional-scheme additional-scheme-320"
                                src="/images/additional-schemes/education_320.svg">
                        </div>
                    </div>
                </div>
                <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
            </div>
        </div>

        <div class="education-apps">
            <div class="container">
                <h2 class="mt-40">区块链在教育中的应用</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>减少手动数据输入和处理，简化和简化管理，提高对员工和学生需求的响应能力。 通过跨设备的安全实时数据存储和检索实现物联网的承诺。 利用区块链实现教育的自动化，加速和创新。</p>
                    </div>
                </div>
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>文件验证</h3>
                                <div class="text">通过防篡改的分布式数据存储和在区块链上检索来自动验证笔录，员工简历和其他文档。</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>单人视角</h3>
                                <div class="text">解决人力资源问题并核实工作经历。 给学生无缝的资源访问和身份。 创建可以由多个应用和管理员访问的单一身份。</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>基础设施的物联网安全</h3>
                                <div class="text">通过分散式加密防止黑客，数据丢失，防止对相机，读卡器和其他校园基础设施的攻击。
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>保持记录中</h3>
                                <div class="text">自动更新并永久存储在区块链上，可以检查和共享记录，但不会被篡改，被盗或丢失。</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>资源管理</h3>
                                <div class="text">区块链应用程序实时利用多个加密数据库来平衡能源，水和其他资源需求。</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>认证与鉴定</h3>
                                <div class="text">可以将课程学分立即添加到学生身份中，并在整个机构和合作伙伴中安全，即时地应用付款。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="education-slider-wrap">
            <div class="container">
                <h2 class="mt-40">立即使用区块链的教育实体</h2>
                <div class="education-slider">

                    <div class="education-slide">
                        <img src="/images/Uploads/education_1.svg">
                        <h3>MIT和Blockcerts</h3>
                        <p>麻省理工学院使用LearningMachine的Blockcerts工具来记录学习成绩并向毕业生提供认证。</p>
                    </div>

                    <div class="education-slide">
                        <img src="/images/Uploads/education_2.svg">
                        <h3>开放大学和APPII</h3>
                        <p>
                            OU使用APPII的认证平台来验证校友并记录学生的成绩。
                        </p>
                    </div>

                    <div class="education-slide">
                        <img src="/images/Uploads/education_3.svg">
                        <h3>x2VOL和羊皮纸</h3>
                        <p>x2VOL记录了学生的自愿活动和个人反思以及课程，从而提供了更全面的视图。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr class="grey-divider">
        </div>
        <div class="education-solutions">
            <div class="container">
                <h2 class="mt-40">教育中的区块链：解决方案</h2>
                <div class="gor-100">
                    <div class="h4">
                        区块链可以解决教育机构面临的挑战，解决财务，数据安全以及协调和管理方面的问题。 但是它也可以为教育机构及其员工，教职员工和学生提供全新的机会。
                    </div>
                </div>
                <div class="row tiles-label-mini tiles-lable-education-solutions three-tiles">

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>内部经济</h3>
                            <div class="text">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>提供课程的智能合约</h3>
                            <div class="text">
                                验证基于以太坊或EOS的智能合约课程和课程。 在课程完成时以不信任的方式触发学生付款。
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>去中心化学习</h3>
                            <div class="text">
                                基于区块链的去中心化学习中心会自动提供课程内容，评估结果，授予证书并建立学生记录。
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
        <div class="education-benefit">
            <div class="container">
                <h2 class="mt-40">使用OpenLedger受益于区块链</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>OpenLedger在为企业和机构（包括自定义区块链和基于分散式区块链的应用程序（Dapps））制定区块链解决方案方面拥有丰富的经验。 我们的团队可以帮助您确定组织的机会，并为您提供最合适的区块链解决方案。</p>
                    </div>
                    <div class="exchange-list">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row bold-list">
                                    <ul>
                                        <li>消除数据丢失和盗窃的威胁</li>
                                        <li>扩展和分散学习资源</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row bold-list">
                                    <ul>
                                        <li>建立教职员工与学生之间的开放式互动</li>
                                        <li>建立安全的金融交易</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider">
            </div>
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>