<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner solution-single-banner blockchain-iot-banner blockchain-healthcare-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-12">
                    <h1>基于区块链的<br>医疗保健解决方案</h1>
                    <div class="h2-banner h2-banner-indents">
                        提高医疗服务的质量和效率。<br>使用区块链来保护隐私，更轻松，更有效的数据交换以及安全的患者对自己数据的控制。
                    </div>
                    <a href="#contact" class="link">免费获取报价</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="top-health">
            <div class="container">
                <h2 class="mt-40">Top health industry issues of 2019</h2>
                <div class="gor-100">
                    <div class="h4">
                        The healthcare industry has trailed other sectors in adopting new technologies and applications.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="iot-gathers-massive-img-point">
                            <div class="iot-gathers-massive-img img-row-sample top-health-img01">
                            </div>
                            <p>$408 per record — the cost of healthcare data breaches in organizations. <a
                                    class="teal-link"
                                    href="https://www.healthcare-informatics.com/news-item/cybersecurity/healthcare-data-breach-costs-remain-highest-408-record"
                                    target="_blank" rel="noopener">Source</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="iot-gathers-massive-img-point">
                            <div class="iot-gathers-massive-img img-row-sample top-health-img02"></div>
                            <p>50% of clinical trials in the US are unreported. <br> <a class="teal-link"
                                    href="https://www.bmj.com/content/362/bmj.k3218" target="_blank"
                                    rel="noopener">Source</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="iot-gathers-massive-img-point">
                            <div class="iot-gathers-massive-img img-row-sample top-health-img03"></div>
                            <p>40% of healthcare data records contain errors or misleading information. <a
                                    class="teal-link"
                                    href="http://rethinkingclinicaltrials.org/resources/acquiring-and-using-electronic-health-record-data/"
                                    target="_blank" rel="noopener">Source</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="current-challenges-healthcare">
            <div class="container white-block">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="h4">
                            <p>Current challenges within modern healthcare industry are:</p>
                        </h4>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>Drug traceability</li>
                            <li>Poor healthcare data management</li>
                            <li>Data security in clinical trials</li>
                            <li>Medical device tracking</li>
                            <li>Patient records</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>Micropayments</li>
                            <li>High cost of new innovations</li>
                            <li>Lack of access to advanced treatments</li>
                            <li>Errors in prognosis</li>
                            <li>Overdiagnosis</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="healthcare-opportunities-applications">
            <div class="container">
                <h2 class="mt-40">Blockchain and healthcare: opportunities and applications</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="iot-gathers-massive-img-point">
                            <div class="iot-gathers-massive-img img-row-sample healthcare-applications-img01"></div>
                            <p><strong>Already use blockchain:</strong> Humana, MultiPlan, Optum, Quest Diagnostics,
                                UnitedHealthcare, CVS Health-Aetna and Ascension. <a class="teal-link"
                                    href="https://www.synaptichealthalliance.com/our-founders" target="_blank"
                                    rel="noopener">Source</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="iot-gathers-massive-img-point">
                            <div class="iot-gathers-massive-img img-row-sample healthcare-applications-img02"></div>
                            <p>63% of health care organizations will invest more than $1 million in 2019. <a
                                    class="teal-link"
                                    href="https://www2.deloitte.com/content/dam/Deloitte/cz/Documents/financial-services/cz-2018-deloitte-global-blockchain-survey.pdf"
                                    target="_blank" rel="noopener">Source</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="iot-gathers-massive-img-point">
                            <div class="iot-gathers-massive-img img-row-sample healthcare-applications-img03"></div>
                            <p>33% of life sciences organizations will invest between $5–10 million in 2019. <a
                                    class="teal-link"
                                    href="https://www2.deloitte.com/content/dam/Deloitte/cz/Documents/financial-services/cz-2018-deloitte-global-blockchain-survey.pdf"
                                    target="_blank" rel="noopener">Source</a></p>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>
        <div class="two-row-text">
            <div class="container">
                <div class="gor-100">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="h4">
                                <p>Blockchain technology in healthcare delivers improved data exchange integrity,
                                    consent management, real-time data sharing, record keeping and more accurate data.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="h4">
                                <p>OpenLedger's experienced team understands the power of blockchain technology to
                                    transform healthcare through uses cases like these:</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-lakes">
            <div class="container">
                <div class="data-lakes-content">
                    <img class="manufacturer-image data-lakes-image"
                        src="/images/Solutions/Healthcare/Scheme-healthcare-1170.svg"
                        alt="Blockchain technology in healthcare">
                    <div class="manufacturer-points clinical-points">
                        <div class="manufacturer-point clinical-point">
                            <div class="manufacturer-point-toggle clinical-point-toggle clinical-point-toggle01">
                                <span class="manufacturer-point-title">Patient, Clinical Data</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <img class="accordion-scheme accordion-scheme-01"
                                    src="/images/Solutions/Healthcare/Accordion-schemes/01.svg"
                                    alt="Patient, Clinical Data">
                            </div>
                        </div>
                        <div class="clinical-data-teal">Encryption & Digital Signature</div>
                        <div class="manufacturer-point clinical-point">
                            <div class="manufacturer-point-toggle clinical-point-toggle clinical-point-toggle02">
                                <span class="manufacturer-point-title">Blockchain</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <img class="accordion-scheme accordion-scheme-02"
                                    src="/images/Solutions/Healthcare/Accordion-schemes/02.svg" alt="Blockchain">
                            </div>
                        </div>
                        <div class="clinical-data-teal">Decryption & Authenticate Digital Sign</div>
                        <div class="manufacturer-point clinical-point">
                            <div class="manufacturer-point-toggle clinical-point-toggle clinical-point-toggle03">
                                <span class="manufacturer-point-title">Healthcare Parties</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <img class="accordion-scheme accordion-scheme-03"
                                    src="/images/Solutions/Healthcare/Accordion-schemes/03.svg"
                                    alt="Healthcare Parties">
                            </div>
                        </div>
                    </div>
                    <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
                </div>
            </div>
        </div>
        <div class="clinical-trials">
            <div class="container">
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Clinical trials</h3>
                                <div class="text">
                                    <p>Blockchain technology fosters transparency and trust between stakeholders,
                                        reduces audit costs, and improves pharmaceutical supply chain management.</p>
                                    <p>It includes participants (manufacturers, packagers, distributors, dispensers, and
                                        regulators) and details like manufacturing locations, shipping dates, batch
                                        numbers, expiry dates, storage temperature, and unique identification numbers.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Healthcare data sharing</h3>
                                <div class="text">
                                    <p>Blockchain technology preserves the integrity of data exchanges between
                                        healthcare providers, patients and third parties like insurers, delivering
                                        real-time data sharing, global standards, and regulatory compliance.</p>
                                    <p>It also empowers individuals to be accountable for their healthcare, reduces
                                        costs and makes the healthcare industry more efficient.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>EHRs and EMRs</h3>
                                <div class="text">
                                    <p>Blockchain technology for health records management allows patients to control
                                        their own healthcare data, managing access by doctors, hospitals, healthcare
                                        providers and laboratories to past and present ailments, treatments, and family
                                        history of medical problems.</p>
                                    <p>A single, securely-stored version cannot be accessed or amended without
                                        authorization.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Medical device tracking</h3>
                                <div class="text">
                                    <p>Blockchain allows healthcare device tracking across device lifecycle from
                                        manufacture to decommission.</p>
                                    <p>At every stage, know where the device is, a full location history and all the
                                        manufacturer, reseller, serial number, repair history and other data associated
                                        with the device.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Micropayments</h3>
                                <div class="text">
                                    <p>Blockchain in healthcare is used to facilitate micropayments without a third
                                        party, offering a direct, trackable flow of transactions.</p>
                                    <p>There are additional applications in rewards program development for patients who
                                        attend appointments on schedule, contribute their data to clinical trials and
                                        research and follow medical care plans.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Accelerating R&D</h3>
                                <div class="text">
                                    <p>Blockchain technology streamlines and accelerates R&amp;D in healthcare, boosting
                                        innovation, lowering costs at pharma and medtech companies, and quickly
                                        processing R&amp;D data gathered from research labs from around the world.</p>
                                    <p>Leverage transparency, auditability and accountability to benefit from the skills
                                        and knowledge of medical practitioners and researchers around the world.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="point-list point-list-wide point-list-accordion white-point-list">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Drug traceability</h3>
                                <div class="text">
                                    <p>Blockchain application helps overcome the increasing risk of counterfeit or
                                        unapproved drugs.</p>
                                    <p>Transactions are timestamped, drugs are registered by smart contract, pill
                                        containers are identified, and a complete path of origin, with integrated GPS
                                        and chain-of-custody logging, ensures reliable drug delivery.</p>
                                    <img class="stretch-img drug-trace-img drug-trace-768"
                                        src="/images/Solutions/Healthcare/drug-traceability-sheme-768.svg"
                                        alt="Blockchain technology in healthcare">
                                    <img class="stretch-img drug-trace-img drug-trace-624"
                                        src="/images/Solutions/Healthcare/drug-traceability-sheme-624.svg"
                                        alt="Blockchain technology in healthcare">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 dn768">
                            <div class="drug-trace-wrap">
                                <img class="stretch-img drug-trace-img drug-trace-1170"
                                    src="/images/Solutions/Healthcare/drug-traceability-sheme-1170.svg"
                                    alt="Blockchain technology in healthcare">
                                <img class="stretch-img drug-trace-img drug-trace-768"
                                    src="/images/Solutions/Healthcare/drug-traceability-sheme-768.svg"
                                    alt="Blockchain technology in healthcare">
                                <img class="stretch-img drug-trace-img drug-trace-624"
                                    src="/images/Solutions/Healthcare/drug-traceability-sheme-624.svg"
                                    alt="Blockchain technology in healthcare">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="automotive-solutions">
            <div class="container">
                <h3>Healthcare companies that utilize blockchain:</h3>
                <div class="companies-icons companies-icons4">
                    <img src="/images/companies/healthcare1.svg">
                    <img src="/images/companies/healthcare2.svg">
                    <img src="/images/companies/healthcare3.svg">
                    <img src="/images/companies/healthcare4.svg">
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>

        <div class="medical-services">
            <div class="container">
                <h2>How blockchain in healthcare is advancing the quality of medical services</h2>
                <div class="gor-100">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="h4">
                                <p>Blockchain technology has demonstrated its ability to reshape business processes
                                    across industries, and in healthcare it can address multiple modern challenges.</p>
                                <p>Explore the most promising benefits of blockchain application in healthcare that will
                                    redefine health data and shape the future of the healthcare industry:</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tiles-lable tiles-lable-collapse tiles-lable-healthcare">

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>Healthcare excellence</h3>
                            <div class="text">
                                <p>Blockchain technology in the healthcare industry enables a patient-centric approach
                                    to data management and retention.</p>
                                <p>Blockchain-based solutions for EMRs and EHRs facilitate innovation, optimize the
                                    efficiency of healthcare organizations and deliver higher service standards.</p>
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>Improved information security</h3>
                            <div class="text">
                                <p>Better information security means better patient safety. Blockchain technology
                                    guarantees data provenance in healthcare and allows enhanced trust without the need
                                    for third parties.</p>
                                <p>A high degree of privacy and safety is obtained by authenticating and securely
                                    storing data.</p>
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>Interoperability</h3>
                            <div class="text">
                                <p>Blockchain technology prevents unauthorized information access and improves patient
                                    healthcare data management.</p>
                                <p>The improved data sharing process is achieved through smooth coordination between
                                    multiple care providers, streamlined verification processes and automated claims
                                    adjudication based on immutable, complete records.</p>
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>Data integrity</h3>
                            <div class="text">
                                <p>When EMRs and EHRs use blockchain, organizations benefit from smart health data
                                    manipulation.</p>
                                <p>Editing or falsifying medical data becomes impossible, and health information,
                                    medical test dates and results, billing and payments are immutably and automatically
                                    recorded, preventing fraudulent activity and saving money currently spent on manual
                                    data tracking.</p>
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>

        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>