<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner solution-single-banner blockchain-iot-banner blockchain-healthcare-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-12">
                    <h1>基于区块链的<br>医疗保健解决方案</h1>
                    <div class="h2-banner h2-banner-indents">
                        提高医疗服务的质量和效率。<br><br>使用区块链来保护隐私，更轻松，更有效的<br>数据交换以及安全的患者对自己数据的控制。
                    </div>
                    <a href="#contact" class="link">免费获取报价</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="top-health">
            <div class="container">
                <h2 class="mt-40">2019年关于健康的热门话题</h2>
                <div class="gor-100">
                    <div class="h4">
                        医疗保健行业在采用新技术和应用方面已经落后于其他行业。
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="iot-gathers-massive-img-point">
                            <div class="iot-gathers-massive-img img-row-sample top-health-img01"></div>
                            <p><a class="teal-link" href="http://www.sohu.com/a/240542099_114835" style="white-space: initial;" target="_blank"
                                    rel="noopener">IBM：连续第8年，医疗保健组织的数据泄露成本最高，每个丢失或被盗记录的成本为408美元</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="iot-gathers-massive-img-point">
                            <div class="iot-gathers-massive-img img-row-sample top-health-img02"></div>
                            <p><a class="teal-link"
                                    href="http://news.sina.com.cn/c/nd/2016-09-20/doc-ifxvyqvy6824874.shtml"
                                    style="white-space: initial;"
                                    target="_blank" rel="noopener">新浪新闻：2016年，在中国有80％新药临床数据涉假</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="iot-gathers-massive-img-point">
                            <div class="iot-gathers-massive-img img-row-sample top-health-img03"></div>
                            <p><a class="teal-link"
                                    href="https://www.cn-healthcare.com/article/20170822/content-495062.html"
                                    style="white-space: initial;"
                                    target="_blank" rel="noopener">健康界：患者数据匹配错误率达50％，医疗健康数据无缝对接</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="current-challenges-healthcare">
            <div class="container white-block">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="h4">
                            <p>当前医疗保健行业面临的挑战：</p>
                        </h4>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>药品的可追溯性不足</li>
                            <li>医疗数据管理不善</li>
                            <li>临床试验中的数据透明和安全</li>
                            <li>医疗设备数据跟踪</li>
                            <li>病历数据跟踪</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>小额支付麻烦</li>
                            <li>创新成本高</li>
                            <li>缺乏获得精准治疗的机会</li>
                            <li>不完整病史记录导致诊断失误</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="healthcare-opportunities-applications">
            <div class="container">
                <h2 class="mt-40">区块链与医疗保健：从游击队到正规军的转变</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="iot-gathers-massive-img-point">
                            <div class="iot-gathers-massive-img img-row-sample healthcare-applications-img01"></div>
                            <p><strong>已使用区块链：</strong> Humana, MultiPlan, Optum, Quest Diagnostics,
                                UnitedHealthcare, CVS Health-Aetna and Ascension. <a class="teal-link"
                                    href="https://www.synaptichealthalliance.com/our-founders" target="_blank"
                                    rel="noopener">Source</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="iot-gathers-massive-img-point">
                            <div class="iot-gathers-massive-img img-row-sample healthcare-applications-img02"></div>
                            <p>63％的医疗保健组织将在2019年投资超过100万美元<a class="teal-link"
                                    href="https://www2.deloitte.com/content/dam/Deloitte/cz/Documents/financial-services/cz-2018-deloitte-global-blockchain-survey.pdf"
                                    target="_blank" rel="noopener">Source</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="iot-gathers-massive-img-point">
                            <div class="iot-gathers-massive-img img-row-sample healthcare-applications-img03"></div>
                            <p>33％的生命科学组织将在2019年投资5至1000万美元。<a class="teal-link"
                                    href="https://www2.deloitte.com/content/dam/Deloitte/cz/Documents/financial-services/cz-2018-deloitte-global-blockchain-survey.pdf"
                                    target="_blank" rel="noopener">Source</a></p>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div> -->
        <div class="two-row-text">

            <div class="container">
                    <img class="manufacturer-dots" style="margin: 20px 0;" src="/images/Solutions/Logistics/dots.svg" alt="Dots">

                <div class="gor-100">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="h4">
                                <p>
                                    区块链技术可提供的数据交换的完整性、实时的数据共享，记录可信度更高的数据。
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="h4">
                                <p>通过以下的解决方案来改进医疗行业：</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-lakes">
            <div class="container">
                <div class="data-lakes-content">
                    <img class="manufacturer-image data-lakes-image"
                        src="/images/Solutions/Healthcare/Scheme-healthcare-1170.svg"
                        alt="Blockchain technology in healthcare">
                    <div class="manufacturer-points clinical-points">
                        <div class="manufacturer-point clinical-point">
                            <div class="manufacturer-point-toggle clinical-point-toggle clinical-point-toggle01">
                                <span class="manufacturer-point-title">患者，临床数据</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <img class="accordion-scheme accordion-scheme-01"
                                    src="/images/Solutions/Healthcare/Accordion-schemes/01.svg"
                                    alt="Patient, Clinical Data">
                            </div>
                        </div>
                        <div class="clinical-data-teal">加密和数字签名</div>
                        <div class="manufacturer-point clinical-point">
                            <div class="manufacturer-point-toggle clinical-point-toggle clinical-point-toggle02">
                                <span class="manufacturer-point-title">区块链</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <img class="accordion-scheme accordion-scheme-02"
                                    src="/images/Solutions/Healthcare/Accordion-schemes/02.svg" alt="Blockchain">
                            </div>
                        </div>
                        <div class="clinical-data-teal">解密和认证数字签名</div>
                        <div class="manufacturer-point clinical-point">
                            <div class="manufacturer-point-toggle clinical-point-toggle clinical-point-toggle03">
                                <span class="manufacturer-point-title">医疗团体</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <img class="accordion-scheme accordion-scheme-03"
                                    src="/images/Solutions/Healthcare/Accordion-schemes/03.svg"
                                    alt="Healthcare Parties">
                            </div>
                        </div>
                    </div>
                    <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
                </div>
            </div>
        </div>
        <div class="clinical-trials">
            <div class="container">
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>研制新药</h3>
                                <div class="text">
                                    <p>
                                        区块链技术提高了各个利益方之间的透明度和信任度，降低了审计成本，并改善了药品供应链管理。
                                    </p>
                                    <p>
                                        包括参与者（制造商，广告包装商，分销商，配送商和监管机构）以及更多详细信息，例如制造地、装运日期、批号、有效期和唯一标识号。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>医疗数据共享</h3>
                                <div class="text">
                                    <p>
                                        保持医疗机构，患者和保险公司等第三方之间的数据交换的完整性，提供实时的数据共享。
                                    </p>
                                    <!-- <p>
                                        它还使个人能够对其医疗机构负责，降低成本并提高医疗保健行业的效率。
                                    </p> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>主权化的健康档案</h3>
                                <div class="text">
                                    <p>
                                        患者可以控制自己的医疗数据，包括疾病的历史、治疗的方法，以及有关于家族遗传病的数据等等访问权限。
                                    </p>
                                    <p>
                                        未经患者授权，不能访问或修改患者本人的医疗数据。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>医疗设备跟踪</h3>
                                <div class="text">
                                    <p>跟踪医疗设备从生产到报废的整个设备生命周期。</p>
                                    <p>在设备的每一阶段都要知道所在的位置、以及制造商（包括零部件的生产历史）、经销商、序列号、维修历史记录和其它相关数据。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>小额支付</h3>
                                <div class="text">
                                    <p>在没有第三方的情况下促进小额支付，直接提供可追踪的交易数据流。</p>
                                    <!-- <p>对于按时参加约会，将其数据用于临床试验和研究并遵循医疗计划的患者，奖励计划开发中还有其他应用程序。</p> -->
                                    <!-- <p>参与了临床试验和遵守医疗计划的患者并将其数据进行奖励</p> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>促进研发效率</h3>
                                <div class="text">
                                    <p>简化并加速了医疗行业的研发、促进创新、降低制药和医疗技术公司的成本，并能够迅速处理来自全球研究实验室的研发数据。</p>
                                    <p>世界各地的医生和从事该行业的研究人员都能分享自己的研发成果，并保证成果不会被窃取、盗用、伪造，发明者拥有绝对的控制权。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="point-list point-list-wide point-list-accordion white-point-list">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>药品的可追溯性</h3>
                                <div class="text">
                                    <p>解决假药、未经批准的药物带来的危害。</p>
                                    <p>通过智能合约对药物进行注册，确定药物成分来源。（带有集成的GPS和产销监管链记录）可确保药物从制药厂到患者的每一步骤的信息准确无误。</p>
                                    <img class="stretch-img drug-trace-img drug-trace-768"
                                        src="/images/Solutions/Healthcare/drug-traceability-sheme-768.svg"
                                        alt="Blockchain technology in healthcare">
                                    <img class="stretch-img drug-trace-img drug-trace-624"
                                        src="/images/Solutions/Healthcare/drug-traceability-sheme-624.svg"
                                        alt="Blockchain technology in healthcare">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 dn768">
                            <div class="drug-trace-wrap">
                                <img class="stretch-img drug-trace-img drug-trace-1170"
                                    src="/images/Solutions/Healthcare/drug-traceability-sheme-1170.svg"
                                    alt="Blockchain technology in healthcare">
                                <img class="stretch-img drug-trace-img drug-trace-768"
                                    src="/images/Solutions/Healthcare/drug-traceability-sheme-768.svg"
                                    alt="Blockchain technology in healthcare">
                                <img class="stretch-img drug-trace-img drug-trace-624"
                                    src="/images/Solutions/Healthcare/drug-traceability-sheme-624.svg"
                                    alt="Blockchain technology in healthcare">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="automotive-solutions">
            <div class="container">
                <h3>已经在使用区块链的医疗公司：</h3>
                <div class="companies-icons companies-icons4">
                    <img src="/images/companies/healthcare1.svg">
                    <img src="/images/companies/healthcare2.svg">
                    <img src="/images/companies/healthcare3.svg">
                    <img src="/images/companies/healthcare4.svg">
                </div>
            </div>
        </div> -->
        <% include ../common/quote.ejs %>

        <div class="medical-services">
            <div class="container">
                <h2>如何提高医疗服务质量</h2>
                <div class="gor-100">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="h4">
                                <p>区块链技术已展现出重塑跨行业业务的能力，在医疗行业，它可以解决很多现有的弊端。</p>
                                <p>将区块链的潜力发挥到医疗领域中，它将重新定义患者的健康数据并塑造医疗行业的未来。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tiles-lable tiles-lable-collapse tiles-lable-healthcare">

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>更好的就医体验</h3>
                            <div class="text">
                                <p>以患者为中心的数据管理。</p>
                                <p>基于区块链的的电子病历和电子健康档案可促进整个行业的创新，改进医疗机构的效率并提供更高的服务标准。</p>
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>确保数据安全</h3>
                            <div class="text">
                                <p>数据的安全意味着患者的安全。医疗保健中的数据来源可追根溯源，且没有中介的参与更能让人信服。</p>
                                <p>通过验证和安全存储数据可获得高度的隐私和安全性。</p>
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>互通性</h3>
                            <div class="text">
                                <p>区块链技术可防止未经授权的信息访问并改善患者医疗数据的管理。</p>
                                <p>促进社保、商业保险和其它保护机构的协调，通过简化的验证过程和不可篡改的记录进行索赔裁决或者是基于智能合约的自动赔付。</p>
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>数据完整性</h3>
                            <div class="text">
                                <!-- <p>基于区块链的电子病历和电子健康档案，组织将从智能健康数据操纵中受益。</p> -->
                                <p>健康信息、检验日期、结果、账单和付款整个就医流程被完整的记录下来，这些数据都是无法篡改的。防止欺诈并节省在手动数据跟踪上花费的成本。</p>
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>

        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>