<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <!-- All in One SEO Pack 3.2.9 by Michael Torbert of Semper Fi Web Designob_start_detected [-1,-1] -->
    <meta name="description"
        content="OpenLedger为企业和各个行业构建创新的区块链解决方案和产品。 较低的费用并受益于区块链机会，例如令人印象深刻的安全级别，最大的透明度，优化和自动化的流程以及简化的流程。" />

    <link rel="canonical" href="#" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="企业区块链解决方案，服务和产品-OpenLedger" />
    <meta property="og:description"
        content="OpenLedger为企业和各个行业构建创新的区块链解决方案和产品。 较低的费用并受益于区块链机会，例如令人印象深刻的安全级别，最大的透明度，优化和自动化的流程以及简化的流程。" />
    <meta property="og:url" content="#" />
    <meta property="og:site_name" content="openledger.info" />
    <meta property="og:image" content="/images/open-grap-openledger-1200-630.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:secure_url" content="/images/open-grap-openledger-1200-630.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="企业区块链解决方案，服务和产品-OpenLedger" />
    <meta name="twitter:description"
        content="OpenLedger为企业和各个行业构建创新的区块链解决方案和产品。 较低的费用并受益于区块链机会，例如令人印象深刻的安全级别，最大的透明度，优化和自动化的流程以及简化的流程。" />
    <meta name="twitter:image" content="/images/open-grap-openledger-1200-630.jpg" />
    <!-- All in One SEO Pack -->
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet' id='openledger-bootstrap-css-css' href='/packages/bootstrap/css/bootstrap.css' media='all' />
    <link rel='stylesheet' id='openledger-slick-css-css' href='/packages/slick/slick.css' media='all' />
    <link rel='stylesheet' id='openledger-slick-theme-css-css' href='/packages/slick/slick-theme.css' media='all' />
    <link rel='stylesheet' id='openledger-lightbox-css-css' href='/packages/light-box/css/lightbox.min.js'
        media='all' />
    <link rel='stylesheet' id='openledger-style-css' href='/css/style.css' media='all' />
    <link rel='stylesheet' id='openledger-screen-css-css' href='/css/screen.css' media='all' />
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
    <style>
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner solution-main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>企业区块链解决方案开发</h1>
                    <div class="h2-banner h2-banner-indents">通过区块链优化的流程、透明的操作和对资产的完全即使控制来促进您的业务需求</div>
                    <a href="#contact" class="link">获取报价</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container solutions-tools">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="h1 color-h2 m-0 p-0">我们的解决方案</h2>
                </div>
                <div class="col-md-6">
                    OpenLedger为企业开发自定义端到端的区块链解决方案。我们运用我们丰富的知识和经验，创造复杂、大规模、有效的解决方案来满足您的行业和业务需求。我们为各种行业提供区块链产品。</div>
            </div>
        </div>
        <div class="container">
            <hr>
        </div>
        <% include ../common/solutions.ejs %>
        <% include ../common/quote.ejs %>
        <div class="container technologies technologies2">
            <div class="row">
                <div class="col-md-6">
                    <div class="background-white two-column">
                        <h3>区块链的应用</h3>
                        <ul class="two-column">
                            <li>去中心化的公共注册</li>
                            <li>多重签名的交易</li>
                            <li>投资基金和平台</li>
                            <li>事务跟踪系统</li>
                            <li>数字投票和文件批准</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="background-white two-column">
                        <h3>专业领域</h3>
                        <ul class="two-column">
                            <li>智能合约</li>
                            <li>去中心化交易所</li>
                            <li>虚拟机</li>
                            <li>数字钱包</li>
                            <li>数字通证</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>