<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner solution-single-banner blockchain-iot-banner real-estate-banner insurance-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-12">
                    <h1>保险行业<br>链改解决方案</h1>
                    <div class="h2-banner h2-banner-indents">用区块链转变您的业务 <br>在保险中。 建立安全，可信赖的 <br> 环境。 提高客户满意度，<br>
                        效率和风险管理。</div>
                    <a href="#contact" class="link">获得免费报价</a>
                    <div class="bg"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="content">

        <div class="transform-your-key">
            <div class="container">
                <div class="row scheme-row">
                    <div class="col-md-4">
                        <h3 class="black-desc">转变您的关键流程并利用区块链在保险中的潜力：</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767" src="/images/Solutions/Insurance/key/01.svg" alt="">
                            <img class="show767" src="/images/Solutions/Insurance/key/01-xs.svg" alt="">
                            <p><strong>46%</strong>的保险公司期望在2年内实施区块链。<a class="teal-link"
                                    href="https://insuranceblog.accenture.com/ultimate-guide-to-blockchain-in-insurance"
                                    target="_blank" rel="noopener">资源</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767" src="/images/Solutions/Insurance/key/02.svg" alt="">
                            <img class="show767" src="/images/Solutions/Insurance/key/02-xs.svg" alt="">
                            <p><strong>84%</strong>的保险业领导者认为，区块链可以有效地塑造业务关系。<a class="teal-link"
                                    href="https://insuranceblog.accenture.com/ultimate-guide-to-blockchain-in-insurance"
                                    target="_blank" rel="noopener">资源</a></p>

                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>

        <div class="insurance-challenges">
            <div class="container">
                <h2 class="mt-40">保险业的挑战</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>借助区块链保险开发领域的领先专家 改变公司提供透明度和创造商机的方式，解决行业中的重大挑战。</p>
                        <p>保险公司和组织面临许多挑战：</p>
                    </div>
                    <div class="exchange-list">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row bold-list">
                                    <ul>
                                        <li>信息交流效率低下</li>
                                        <li>容易欺诈的行业</li>
                                        <li>再保险的复杂责任评估</li>
                                        <li>中间人太多</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row bold-list">
                                    <ul>
                                        <li>人工索赔管理</li>
                                        <li>复杂的风险覆盖</li>
                                        <li>承保准确性有限</li>
                                        <li>零散的数据源</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Quote -->
        <% include ../common/quote.ejs %>
        <!-- Quote -->

        <div class="additional-schemes-block">
            <div class="container">
                <h2 class="big-black-title big-blue-title-xs">为什么区块链是保险索赔的首选解决方案？</h2>
                <div class="project-black-icons project-blue-icons three-blue-icons">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="project-black-icon project-blue-icon">
                                    <img src="/images/additional-schemes/insurance-claims1.svg" alt="Fast operations"
                                        class="project-black-ico">
                                    <h3 class="project-black-text">快速运作</h3>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="project-black-icon project-blue-icon">
                                    <img src="/images/additional-schemes/insurance-claims2.svg" alt="No intermediaries"
                                        class="project-black-ico">
                                    <h3 class="project-black-text">没有中介</h3>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="project-black-icon project-blue-icon">
                                    <img src="/images/additional-schemes/insurance-claims3.svg"
                                        alt="Secure transactions" class="project-black-ico">
                                    <h3 class="project-black-text">安全交易</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="additional-schemes additional-schemes-insurance">
                    <img class="additional-scheme additional-scheme-1170"
                        src="/images/additional-schemes/insurance_1170.svg">
                    <img class="additional-scheme additional-scheme-1024"
                        src="/images/additional-schemes/insurance_1024.svg">
                    <img class="additional-scheme additional-scheme-768"
                        src="/images/additional-schemes/insurance_768.svg">
                    <img class="additional-scheme additional-scheme-320 additional-scheme-320-insurance"
                        src="/images/additional-schemes/insurance_320.svg">
                    <div class="scheme-points">
                        <div class="scheme-point">
                            <div class="scheme-point-toggle">
                                <div class="scheme-point-toggle-left">
                                    <span>公司</span>
                                    <img src="/images/Solutions/Insurance/scheme-icons/1.svg">
                                </div>
                                <div class="scheme-point-toggle-right">
                                    <span>分散式</span>
                                </div>
                            </div>
                            <div class="scheme-point-content">
                                <p>所有网络参与者都有完整的分类帐副本，以实现完全透明。</p>
                            </div>
                        </div>
                        <div class="scheme-point">
                            <div class="scheme-point-toggle">
                                <div class="scheme-point-toggle-left">
                                    <span>供应商B</span>
                                    <img src="/images/Solutions/Insurance/scheme-icons/2.svg">
                                </div>
                                <div class="scheme-point-toggle-right">
                                    <span>匿名</span>
                                </div>
                            </div>
                            <div class="scheme-point-content">
                                <p>参与者的身份可以是匿名或匿名</p>
                            </div>
                        </div>
                        <div class="scheme-point">
                            <div class="scheme-point-toggle">
                                <div class="scheme-point-toggle-left">
                                    <span>商家B</span>
                                    <img src="/images/Solutions/Insurance/scheme-icons/3.svg">
                                </div>
                                <div class="scheme-point-toggle-right">
                                    <span>带时间戳</span>
                                </div>
                            </div>
                            <div class="scheme-point-content">
                                <p>交易时间戳记录在一个区块中</p>
                            </div>
                        </div>
                        <div class="scheme-point">
                            <div class="scheme-point-toggle">
                                <div class="scheme-point-toggle-left">
                                    <span>银行B</span>
                                    <img src="/images/Solutions/Insurance/scheme-icons/4.svg">
                                </div>
                                <div class="scheme-point-toggle-right">
                                    <span>共识</span>
                                </div>
                            </div>
                            <div class="scheme-point-content">
                                <p>所有网络参与者都同意每条记录的有效性</p>
                            </div>
                        </div>
                        <div class="scheme-point">
                            <div class="scheme-point-toggle">
                                <div class="scheme-point-toggle-left">
                                    <span>银行A</span>
                                    <img src="/images/Solutions/Insurance/scheme-icons/5.svg">
                                </div>
                                <div class="scheme-point-toggle-right">
                                    <span>一成不变</span>
                                </div>
                            </div>
                            <div class="scheme-point-content">
                                <p>任何经过验证的记录都是不可逆的，无法更改</p>
                            </div>
                        </div>
                        <div class="scheme-point">
                            <div class="scheme-point-toggle">
                                <div class="scheme-point-toggle-left">
                                    <span>商家A</span>
                                    <img src="/images/Solutions/Insurance/scheme-icons/6.svg">
                                </div>
                                <div class="scheme-point-toggle-right">
                                    <span>安全</span>
                                </div>
                            </div>
                            <div class="scheme-point-content">
                                <p>所有记录均经过单独加密</p>
                            </div>
                        </div>
                        <div class="scheme-point">
                            <div class="scheme-point-toggle">
                                <div class="scheme-point-toggle-left">
                                    <span>供应商A</span>
                                    <img src="/images/Solutions/Insurance/scheme-icons/7.svg">
                                </div>
                                <div class="scheme-point-toggle-right">
                                    <span>可编程的</span>
                                </div>
                            </div>
                            <div class="scheme-point-content">
                                <p>区块链是可编程的（《智能合约》）</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
            </div>
        </div>

        <div class="insurance-apps">
            <div class="container">
                <h2 class="mt-40">区块链与保险：应用</h2>
                <div class="gor-100">
                    <div class="h4">
                        保险业中的区块链为该行业提供了重大机遇，尽管在某些领域仍存在法律和法规障碍。 这是OpenLedger认为保险业中定制区块链开发最大潜力的九个领域。
                    </div>
                </div>
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>欺诈检测和预防</h3>
                                <div class="text">
                                    <p>使用保险中的区块链技术消除人为错误并检测欺诈活动。</p>
                                    <p>轻松验证KYC数据，检查策略并声明真实性并访问完整的不可变记录。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>索赔处理</h3>
                                <div class="text">
                                    <p>区块链允许同时访问数据和保护数据。 保险公司可以访问完整的最新信息-从索赔表到警察报告的所有内容。</p>
                                    <p>增强风险管理，加速索赔处理并提高数据准确性。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>健康保险</h3>
                                <div class="text">
                                    <p>在以区块链为基础的健康保险环境中，各方都可以安全，即时地存储，更新和共享病历。</p>
                                    <p>这加快了互操作性，导致创建了全新的交互式政策类型，并在医疗保险中推出了价值丰富的创新服务。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>物联网（IoT）和产品开发</h3>
                                <div class="text">
                                    <p>区块链技术使物联网既安全又相互连接。 保险公司可以从连接的设备和对象的庞大网络访问数据，从而推动了各种用例的发展，包括精算模型的开发和基于使用情况的保险等新产品的开发。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>新的分销和支付业务模式</h3>
                                <div class="text">
                                    <p>区块链技术降低了资产管理成本，降低了保险公司为保护自己免受国际交易中的货币波动影响而必须支付的对冲费用，并通过自动化和增加移动钱包数量来提高资本效率。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>财产保险</h3>
                                <div class="text">
                                    <p>借助区块链技术，以数字方式管理实物资产的管理，跟踪和保险方式。</p>
                                    <p>实现多个用例，利用区块链对业务规则进行数字化处理，并自动执行和监控运营流程，并为房地产客户提供增强的客户体验。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>智能合约</h3>
                                <div class="text">
                                    <p>保险业的区块链应用程序，可以连接来自多个系统和由航班延误，紧急情况，健康或财务状况等事件触发的活动的实时信息。</p>
                                    <p>为客户提供更快，更准确的索赔处理，付款和偿还。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>价值链</h3>
                                <div class="text">
                                    <p>安全便捷的资产跟踪为以区块链为动力的保险公司带来了巨大的收益。</p>
                                    <p>为您的富裕人士和机构客户提供安全，轻松的跟踪，并证明艺术品，珠宝或葡萄酒等资产的所有权和价值。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>再保险</h3>
                                <div class="text">
                                    <p>再保险中的区块链应用可根据当前合同提供准确的准备金计算。</p>
                                    <p>此数据可向保险公司提供有关财务细节的信息，并确保他们针对特定风险重新调整其风险敞口。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="insurance-benefits">
            <div class="container">
                <div class="insurance-benefits-content">
                    <h2>您如何从保险业中受益于区块链</h2>
                    <div class="h4 gor-100">OpenLedger在区块链和保险领域拥有深厚的专业知识，可为客户提供有关如何使用该技术革新其行业的建议。</div>
                    <div class="gor-100">
                        <div class="row advisory-icons sc-icons insurance-icons">

                            <div class="col-lg-6 col-md-12 col-sm-12 df">
                                <div class="ico"></div>
                                <h3 class="icon-text-18">通过自动索赔和数据验证来削减成本</h3>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 df">
                                <div class="ico"></div>
                                <h3 class="icon-text-18">通过智能合约提高速度和效率</h3>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 df">
                                <div class="ico"></div>
                                <h3 class="icon-text-18">通过提高可追溯性来减少欺诈</h3>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 df">
                                <div class="ico"></div>
                                <h3 class="icon-text-18">增强客户体验，提供透明度和安全性
                                </h3>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 df">
                                <div class="ico"></div>
                                <h3 class="icon-text-18">通过将中介委派给智能合约来移除中介</h3>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 df">
                                <div class="ico"></div>
                                <h3 class="icon-text-18">加快索赔处理</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="grey-divider">
        </div>
        <div class="automotive-solutions">
            <div class="container">
                <h3>保险公司利用区块链</h3>
                <div class="companies-icons companies-icons6">
                    <img src="/images/companies/insurance1.svg">
                    <img src="/images/companies/insurance2.svg">
                    <img src="/images/companies/insurance3.svg">
                    <img src="/images/companies/insurance4.svg">
                    <img src="/images/companies/insurance5.svg">
                    <img src="/images/companies/insurance6.svg">
                </div>
            </div>
        </div>

        <!-- Quote -->
        <% include ../common/quote.ejs %>
        <!-- Quote -->

        <div class="medical-services">
            <div class="container">
                <h2>保险中的区块链-您的业务机会</h2>
                <div class="gor-100">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="h4">
                                <p>传统上，保险业与日常事务和行政管理相关，文书工作很多，有时甚至缺乏信任。</p>
                                <p>区块链具有改变保险业务，提供运营效率，安全性和透明度的潜力。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tiles-lable tiles-lable-collapse tiles-lable-insurance">

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>客户满意度</h3>
                            <div class="text">
                                <p>区块链通过公平，合规的供应链和物联网系统，为保险业务提供了与客户互动和开放的机会。</p>
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>竞争优势</h3>
                            <div class="text">
                                <p>选择区块链解决方案时，可获得早期采用者的优势。 减少管理工作量，享受一致的数据跟踪，并确保您的客户可扩展的运营和国际合作伙伴关系。</p>
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>透明与信任</h3>
                            <div class="text">
                                <p>区块链为保险界带来了信任和透明度。 智能合约和自动索赔消除了人工输入，可验证的，不变的记录证明了准确性。</p>
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>降低行政成本</h3>
                            <div class="text">
                                <p>区块链减少了中介者的作用，降低了管理成本，减轻或自动化了管理负担，减少了人为错误和重复，并简化了交易。</p>
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>

        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>