<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner solution-single-banner blockchain-iot-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-12">
                    <h1>基于区块链的<br>物联网解决方案</h1>
                    <div class="h2-banner h2-banner-indents">
                        区块链使物联网安全、透明、防篡改。
                        <br>
                        通过快速的数字事务和完整的流程跟踪，获取关于客户、资产和位置的实时数据。
                        <br>
                    </div>
                    <a href="#contact" class="link">联系我们</a>
                    <div class="bg"></div>
                </div>

            </div>
        </div>
    </div>


    <div class="content">

        <div class="iot-gathers-massive">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="puffy">
                            <h3 class="h5">物联网往往需要收集大量数据，为新的商业决策提供更准确的信息。。</h3>
                            <p>
                                区块链提供可验证的、安全和永久的数据存储。并将安全性和可审核性自动化。它们共同使数据可用、可信赖和安全。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8 iot-gathers-massive-img-points">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="iot-gathers-massive-img-point">
                                    <div class="iot-gathers-massive-img iot-gathers-massive-img01"></div>
                                    <p>截止2019年，20%的物联网设备将采用区块链技术</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="iot-gathers-massive-img-point">
                                    <div class="iot-gathers-massive-img iot-gathers-massive-img02"></div>
                                    <p>全球物联网设备的数量将从2017年的270亿增长至2030年的1250亿</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>


        <div class="how-we-bring">
            <div class="container">
                <h2>我们是如何将区块链技术和物联网结合</h2>
                <div class="gor-100">
                    <div class="h4">
                        由于数据流的安全性和完整性方面的存在的各种问题，企业在物联网应用方面面临诸多挑战。通过我们的区块链物联网解决方案，OpenLedger可以解决这些问题，推动物联网设备无故障集成到你的业务中。
                    </div>
                </div>
                <ul class="black-point-list">
                    <li>不可改变</li>
                    <li class="point-list-partition">|</li>
                    <li>加密</li>
                    <li class="point-list-partition">|</li>
                    <li>防篡改</li>
                    <li class="point-list-partition">|</li>
                    <li>可扩展</li>
                </ul>
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>数字身份认证和来源</h3>
                                <div class="text">
                                    <p>
                                        通过区块链强大的验证机制和可追溯的数字身份管理，可以实现数据的透明、点到点的流程追踪。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>事务自动化与验证</h3>
                                <div class="text">
                                    <p>
                                        智能合约自动处理每个业务事务，包括机器对机器的交互，允许远程资产管理和即时数据验证。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>数据交换</h3>
                                <div class="text">
                                    <p>
                                        在去中心化的区块链内，通过网络实时共享物联网产生的数据流。每个记录都是不可变的，并且对所有网络成员可见。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>物联网数据分析</h3>
                                <div class="text">
                                    <p>
                                        区块链为所连接的服务和设备收集的数据提供了详细的预测分析机会，记录元数据并生成物联网生态系统中不可变的决策历史。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>网络安全</h3>
                                <div class="text">
                                    <p>
                                        区块链将攻击面减少到最小，消除了集中的数据湖。分布式账本通过基于哈希的安全、定制的共识协议和安全的软件更新来解决当前的物联网安全威胁。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>无压力的可伸缩性</h3>
                                <div class="text">
                                    <p>
                                        区块链消除了集中的、基于云的物联网平台的限制，允许连接设备和交易的数量扩展，而不影响基础设施和数据管理。
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="blockchain-supported">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="puffy">
                            <h3 class="h5">区块链-支持物联网业务网络</h3>
                            <h4 class="grey18">
                                物联网收集大量数据，为新的商业决策提供信息。区块链自动化安全性和可审核性，提供可验证的、安全的和永久的数据存储。它们共同使数据可用、可访问和安全。
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="iot-scheme"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="our-tech-stack">
            <div class="container">
                <h2>我们消除了您的选择顾虑</h2>
                <h3 class="black-title">IoT platforms</h3>
                <div class="our-tech-stack-points">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="our-tech-stack-point our-tech-stack-point-color">
                                <svg width="246" height="60" viewBox="0 0 246 60" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M149.638 32.6L145.838 47.9H140.638L134.638 25.1H139.638L143.238 40.5L147.138 25.1H151.938C151.938 25.1 155.738 40.4 155.838 40.7C156.338 38.6 159.538 25 159.538 25H164.538L158.538 47.8H153.438L149.638 32.5V32.6Z"
                                        fill="#3F4247" />
                                    <path
                                        d="M108.238 28.3996C108.138 28.8996 108.138 30.0996 108.138 30.0996V47.8996H105.938V25.0996H109.238L117.038 44.7996L124.938 25.0996H128.238V47.8996H125.938C125.938 47.8996 125.938 36.3996 125.938 30.3996C125.938 30.0996 125.938 28.9996 125.838 28.5996C125.438 29.4996 125.038 30.4996 124.738 31.3996C122.638 36.7996 118.238 47.8996 118.238 47.8996H115.938C115.938 47.8996 110.738 34.7996 108.438 28.9996C108.338 28.7996 108.338 28.6996 108.238 28.3996Z"
                                        fill="#3F4247" />
                                    <path
                                        d="M175.738 46.1004C173.938 47.8004 171.738 48.2004 169.438 48.0004C167.538 47.9004 165.938 47.2004 165.138 45.4004C164.338 43.7004 164.438 41.9004 165.538 40.3004C166.338 39.2004 167.538 38.7004 168.738 38.4004C170.338 38.0004 172.038 38.0004 173.638 37.6004C173.838 37.6004 174.138 37.5004 174.338 37.4004C175.238 37.1004 175.638 36.6004 175.638 35.8004C175.638 34.8004 175.138 34.1004 174.238 33.8004C173.338 33.6004 172.338 33.5004 171.438 33.8004C170.538 34.1004 169.938 34.7004 169.838 35.7004C169.738 36.1004 169.738 36.2004 169.738 36.2004H165.138C165.138 36.2004 165.138 36.1004 165.138 35.7004C165.438 33.6004 166.538 32.1004 168.538 31.4004C171.438 30.3004 174.438 30.3004 177.438 31.3004C179.238 31.9004 180.138 33.3004 180.138 35.3004C180.138 38.5004 180.138 41.7004 180.238 44.8004C180.238 45.6004 180.338 46.4004 180.638 47.1004C180.738 47.4004 180.738 47.4004 180.838 47.5004C179.638 47.5004 177.938 47.5004 176.738 47.5004C176.538 47.4004 176.238 47.3004 176.138 46.9004C175.938 46.8004 175.838 46.5004 175.738 46.1004ZM175.638 39.6004C174.638 40.1004 173.738 40.2004 172.738 40.3004C171.838 40.4004 170.938 40.5004 170.138 41.1004C169.338 41.6004 169.138 42.4004 169.238 43.3004C169.338 44.1004 169.938 44.6004 170.738 44.8004C171.638 45.0004 172.538 45.0004 173.438 44.7004C174.438 44.4004 175.038 43.7004 175.438 42.8004C175.738 41.8004 175.638 40.8004 175.638 39.6004Z"
                                        fill="#3F4247" />
                                    <path
                                        d="M234.738 33.3999C236.838 30.4999 239.638 30.0999 242.538 30.9999C244.738 31.6999 245.538 33.3999 245.838 35.4999C246.038 37.1999 245.938 38.8999 245.938 40.5999C245.938 42.6999 245.938 47.7999 245.938 47.7999H241.338C241.338 47.7999 241.338 41.0999 241.338 38.0999C241.338 37.3999 241.238 36.5999 241.038 35.8999C240.738 34.8999 239.938 34.2999 238.838 34.1999C236.638 33.9999 235.338 35.0999 235.038 37.2999C235.038 37.3999 235.038 37.6999 235.038 38.1999C235.038 40.3999 235.038 47.7999 235.038 47.7999H230.338V30.9999H234.638C234.738 31.0999 234.738 32.6999 234.738 33.3999Z"
                                        fill="#3F4247" />
                                    <path
                                        d="M228.238 39.4002C228.238 41.4002 227.738 43.3002 226.538 44.9002C224.938 47.1002 222.638 47.9002 220.038 48.0002C216.638 48.1002 213.638 46.8002 212.038 43.7002C210.738 41.0002 210.738 38.3002 211.738 35.5002C212.338 33.8002 213.438 32.6002 215.038 31.7002C218.138 30.0002 223.638 30.1002 226.338 33.5002C227.738 35.3002 228.238 37.3002 228.238 39.4002ZM215.738 39.3002C215.738 40.3002 215.838 41.3002 216.238 42.2002C216.838 43.7002 217.938 44.5002 219.438 44.5002C221.338 44.5002 222.538 43.8002 223.138 42.3002C223.938 40.4002 223.938 38.4002 223.138 36.4002C222.538 34.7002 221.338 34.0002 219.538 34.0002C217.938 34.0002 216.738 34.9002 216.138 36.5002C215.838 37.5002 215.738 38.4002 215.738 39.3002Z"
                                        fill="#3F4247" />
                                    <path
                                        d="M204.738 35.9002C204.638 35.7002 204.438 35.2002 204.438 34.9002C204.238 34.3002 203.638 33.9002 202.938 33.8002C202.138 33.6002 201.238 33.6002 200.438 33.8002C199.638 34.0002 199.238 34.4002 199.138 35.0002C199.038 35.7002 199.338 36.1002 200.038 36.5002C201.038 37.0002 202.238 37.2002 203.338 37.4002C204.338 37.6002 205.338 37.8002 206.238 38.2002C208.038 38.9002 209.438 40.0002 209.438 42.1002C209.538 44.2002 208.638 45.9002 206.738 47.0002C205.038 47.9002 203.238 48.1002 201.338 48.1002C199.538 48.0002 197.838 47.7002 196.338 46.6002C195.038 45.6002 194.338 44.3002 194.138 42.7002C194.138 42.3002 194.138 42.4002 194.138 42.2002C194.838 42.2002 197.338 42.2002 198.438 42.2002C198.438 42.3002 198.438 42.2002 198.438 42.5002C198.538 43.5002 199.138 44.2002 200.038 44.6002C201.138 45.1002 202.338 45.1002 203.538 44.7002C203.838 44.6002 204.138 44.4002 204.338 44.2002C205.138 43.4002 205.138 42.3002 204.138 41.7002C203.138 41.0002 201.938 40.8002 200.738 40.6002C199.538 40.3002 198.438 40.1002 197.338 39.7002C195.838 39.1002 194.738 38.2002 194.538 36.5002C194.338 34.5002 195.038 32.8002 196.838 31.8002C198.438 30.9002 200.238 30.7002 202.038 30.7002C203.438 30.7002 204.938 30.9002 206.238 31.6002C207.838 32.4002 208.738 33.8002 208.938 35.5002C209.038 35.9002 208.938 35.9002 208.938 36.0002C208.438 35.9002 205.038 35.9002 204.738 35.9002Z"
                                        fill="#3F4247" />
                                    <path
                                        d="M97.8377 35.7996C100.438 36.2996 102.138 37.7996 102.438 40.1996C102.938 43.8996 101.438 46.4996 97.6377 47.4996C96.6377 47.7996 95.5377 47.8996 94.5377 47.8996C91.4377 47.8996 84.6377 47.8996 84.6377 47.8996V25.0996C84.6377 25.0996 91.4377 25.0996 94.5377 25.0996C96.1377 25.0996 97.6377 25.2996 99.0377 26.0996C101.538 27.3996 102.438 30.7996 100.938 33.3996C100.238 34.4996 99.2377 35.2996 97.8377 35.7996ZM86.8377 45.9996C86.8377 45.9996 92.1377 45.9996 94.5377 45.9996C95.7377 45.9996 97.0377 45.7996 98.1377 45.1996C100.438 43.9996 101.038 40.1996 99.1377 38.3996C97.9377 37.1996 96.3377 36.8996 94.7377 36.8996C92.3377 36.7996 86.8377 36.8996 86.8377 36.8996V45.9996ZM95.6377 34.9996C98.5377 34.5996 100.038 32.3996 99.2377 29.6996C98.6377 27.8996 97.2377 27.1996 95.5377 26.9996C94.8377 26.8996 94.0377 26.8996 93.1377 26.8996C90.2377 26.8996 86.7377 26.8996 86.7377 26.8996V34.9996C86.8377 35.0996 94.1377 35.1996 95.6377 34.9996Z"
                                        fill="#3F4247" />
                                    <path
                                        d="M184.838 34.2002H182.038V31.1002H184.838V26.2002H189.438V31.1002H192.738V34.2002H189.438C189.438 34.2002 189.438 40.1002 189.438 42.9002C189.438 43.9002 189.838 44.3002 190.838 44.4002C191.338 44.5002 191.838 44.4002 192.238 44.4002C192.538 44.4002 192.738 44.3002 192.738 44.3002V47.5002C192.738 47.5002 192.738 47.7002 192.738 47.8002C191.238 48.0002 189.038 48.2002 187.438 47.8002C185.838 47.4002 185.038 46.4002 184.938 44.8002C184.838 42.9002 184.838 34.2002 184.838 34.2002Z"
                                        fill="#3F4247" />
                                    <path d="M78.2378 25H80.4378V47.9H78.2378V25Z" fill="#3F4247" />
                                    <path
                                        d="M38.9379 17.7C46.8379 20.5 52.5379 28.1 52.5379 37C52.5379 48.3 43.3379 57.5 32.0379 57.5C27.2379 57.5 22.8379 55.8 19.3379 53C19.3379 53 19.3379 56.1 19.7379 56.4C20.0379 56.6 20.2379 56.7 20.5379 56.9C23.9379 58.9 27.9379 60 32.0379 60C44.7379 60 55.0379 49.7 55.0379 37C55.0379 28.1 49.8379 20.4 42.4379 16.5C42.2379 16.3 38.9379 17.7 38.9379 17.7Z"
                                        fill="url(#paint0_linear)" />
                                    <path
                                        d="M40.0376 23.0996C37.7376 21.7996 35.3376 20.6996 32.9376 20.0996L30.5376 22.0996C33.3376 22.6996 36.1376 23.7996 38.7376 25.2996C43.6376 28.0996 47.4376 32.0996 49.4376 36.3996C51.1376 40.0996 51.4376 43.5996 50.1376 46.3996L52.4376 47.5996C56.0376 40.0996 50.6376 29.2996 40.0376 23.0996Z"
                                        fill="url(#paint1_linear)" />
                                    <path
                                        d="M7.43783 23.9997C7.23783 23.9997 7.03783 23.8997 6.83783 23.7997L0.637829 20.2997C0.0378293 19.8997 -0.162171 19.1997 0.137829 18.5997C0.537829 17.9997 1.23783 17.7997 1.83783 18.0997L8.03783 21.5997C8.63783 21.9997 8.83783 22.6997 8.53783 23.2997C8.23783 23.6997 7.83783 23.9997 7.43783 23.9997Z"
                                        fill="url(#paint2_linear)" />
                                    <path
                                        d="M56.7377 23.9997C56.3377 23.9997 55.8377 23.7997 55.6377 23.3997C55.2377 22.7997 55.5377 21.9997 56.1377 21.6997L62.3377 18.1997C62.9377 17.7997 63.7377 18.0997 64.0377 18.6997C64.4377 19.2997 64.1377 20.0997 63.5377 20.3997L57.3377 23.8997C57.2377 23.9997 56.9377 23.9997 56.7377 23.9997Z"
                                        fill="url(#paint3_linear)" />
                                    <path
                                        d="M32.1379 9.7C31.4379 9.7 30.8379 9.1 30.8379 8.4V1.3C30.8379 0.6 31.4379 0 32.1379 0C32.8379 0 33.4379 0.6 33.4379 1.3V8.4C33.4379 9.1 32.8379 9.7 32.1379 9.7Z"
                                        fill="url(#paint4_linear)" />
                                    <path
                                        d="M17.5376 13.3999C17.0376 13.3999 16.6376 13.1999 16.4376 12.6999L12.9376 6.49994C12.6376 5.89994 12.8376 5.09994 13.4376 4.79994C14.0376 4.49994 14.8376 4.69994 15.1376 5.29994L18.6376 11.4999C18.9376 12.0999 18.7376 12.8999 18.1376 13.1999C18.0376 13.2999 17.7376 13.3999 17.5376 13.3999Z"
                                        fill="url(#paint5_linear)" />
                                    <path
                                        d="M46.3379 13.6001C46.1379 13.6001 45.9379 13.5001 45.7379 13.4001C45.1379 13.1001 44.9379 12.3001 45.2379 11.7001L48.7379 5.50013C49.0379 4.90013 49.8379 4.70013 50.4379 5.00013C51.0379 5.30013 51.2379 6.10013 50.9379 6.70013L47.5379 13.0001C47.2379 13.4001 46.8379 13.6001 46.3379 13.6001Z"
                                        fill="url(#paint6_linear)" />
                                    <path
                                        d="M19.138 47.2C19.338 42.7 20.938 37.5 23.738 32.4C28.838 23.3 35.638 18.5 39.738 18.5C40.538 18.5 41.138 18.7 41.738 19C43.138 19.8 44.038 21.5 44.238 24L44.338 23.9L46.938 24.6C46.738 21 45.438 18.1 43.038 16.8C42.038 16.3 40.938 16 39.838 16C34.238 16 26.738 22 21.538 31.2C15.638 41.8 14.938 52.7 19.738 56.5L21.038 54.3C19.738 53 19.038 50.5 19.138 47.2Z"
                                        fill="url(#paint7_linear)" />
                                    <path
                                        d="M23.8378 57.7998C29.4378 57.7998 36.9378 51.7998 42.1378 42.5998C45.7378 36.1998 47.4378 29.5998 47.0378 24.4998L44.4378 23.7998L44.3378 23.9998C44.4378 24.7998 44.4378 25.6998 44.4378 26.5998C44.2378 31.0998 42.6378 36.2998 39.8378 41.3998C34.7378 50.4998 27.9378 55.2998 23.8378 55.2998C23.0378 55.2998 22.4378 55.0998 21.8378 54.7998C21.6378 54.6998 21.3378 54.4998 21.1378 54.2998L19.7378 56.2998C20.0378 56.4998 20.4378 56.7998 20.7378 56.9998C21.7378 57.4998 22.6378 57.7998 23.8378 57.7998Z"
                                        fill="url(#paint8_linear)" />
                                    <path
                                        d="M15.9378 49.8C14.7378 48.1 15.2378 45.2 17.0378 41.8C19.2378 37.9 23.1378 34 27.9378 30.8C33.4378 27.1 39.6378 25 44.4378 25C46.0378 25 48.8378 25.3 50.1378 27.2C50.8378 26.8 51.6378 26.3 52.2378 25.8C50.7378 23.6 47.8378 22.5 44.3378 22.5C39.2378 22.5 32.7378 24.7 26.5378 28.8C15.9378 35.8 10.2378 45.9 13.8378 51.3C14.0378 51.6 14.2378 51.8 14.4378 52L16.3378 50.3C16.1378 50.1 16.0378 49.9 15.9378 49.8Z"
                                        fill="url(#paint9_linear)" />
                                    <path
                                        d="M21.6378 54.5002C26.7378 54.5002 33.2378 52.3002 39.4378 48.2002C50.0378 41.2002 55.7378 31.1002 52.1378 25.7002C51.4378 26.1002 50.6378 26.6002 50.0378 27.1002C51.1378 28.8002 50.7378 31.7002 48.8378 35.0002C46.6378 38.9002 42.7378 42.8002 37.9378 46.0002C32.4378 49.7002 26.2378 51.9002 21.5378 51.9002C20.0378 51.9002 17.5378 51.7002 16.1378 50.2002L14.2378 51.9002C15.9378 53.7002 18.5378 54.5002 21.6378 54.5002Z"
                                        fill="url(#paint10_linear)" />
                                    <path
                                        d="M49.7379 47.2C47.8379 50.5 43.7379 52.4 38.6379 52.4C34.3379 52.4 29.5379 51 25.3379 48.6C20.4379 45.8 16.6379 41.8 14.6379 37.5C12.7379 33.5 12.6379 29.7 14.3379 26.7C16.2379 23.4 20.3379 21.5 25.4379 21.5C27.1379 21.5 28.8379 21.7 30.5379 22.1L32.9379 20.1C30.3379 19.4 27.8379 19 25.4379 19C19.5379 19 14.5379 21.2 12.1379 25.5C7.73793 33.1 13.1379 44.5 24.1379 50.8C29.0379 53.6 34.1379 55 38.7379 55C44.6379 55 49.6379 52.8 52.0379 48.5C52.2379 48.2 52.3379 48 52.4379 47.7L50.2379 46.5C50.1379 46.8 49.9379 47 49.7379 47.2Z"
                                        fill="url(#paint11_linear)" />
                                    <path
                                        d="M11.6377 37C11.6377 25.7 20.8377 16.5 32.1377 16.5C34.5377 16.5 36.8377 16.9 39.0377 17.7L42.7377 16.6L40.9377 15.7C38.2377 14.6 35.2377 14 32.1377 14C19.4377 14 9.1377 24.3 9.1377 37C9.1377 44.6 12.8377 51.4 18.5377 55.6L19.9377 56.5L19.3377 53C14.6377 49.2 11.6377 43.4 11.6377 37Z"
                                        fill="url(#paint12_linear)" />
                                    <defs>
                                        <linearGradient id="paint0_linear" x1="28.4536" y1="61.3869" x2="59.4815"
                                            y2="9.83753" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#3F8AFF" />
                                            <stop offset="0.9219" stop-color="#AD8EFF" />
                                        </linearGradient>
                                        <linearGradient id="paint1_linear" x1="54.7028" y1="42.9066" x2="30.4176"
                                            y2="21.2813" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.0641793" stop-color="#3F8AFF" stop-opacity="0.1" />
                                            <stop offset="0.1645" stop-color="#4A8AFF" stop-opacity="0.0776638" />
                                            <stop offset="0.3282" stop-color="#548BFF" stop-opacity="0.041219" />
                                            <stop offset="0.5134" stop-color="#588BFF" stop-opacity="0" />
                                            <stop offset="0.6314" stop-color="#7C8CFF" stop-opacity="0.1147" />
                                            <stop offset="0.7462" stop-color="#978DFF" stop-opacity="0.2263" />
                                            <stop offset="0.8476" stop-color="#A78EFF" stop-opacity="0.3249" />
                                            <stop offset="0.925" stop-color="#AD8EFF" stop-opacity="0.4" />
                                        </linearGradient>
                                        <linearGradient id="paint2_linear" x1="-7.85317" y1="41.0556" x2="24.1977"
                                            y2="-12.0348" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.037627" stop-color="#3F8AFF" stop-opacity="0" />
                                            <stop offset="0.0635166" stop-color="#4A8AFF" stop-opacity="0.0269018" />
                                            <stop offset="0.1399" stop-color="#668CFF" stop-opacity="0.1063" />
                                            <stop offset="0.2264" stop-color="#7D8CFF" stop-opacity="0.1962" />
                                            <stop offset="0.326" stop-color="#8E8DFF" stop-opacity="0.2996" />
                                            <stop offset="0.4463" stop-color="#9B8EFF" stop-opacity="0.4247" />
                                            <stop offset="0.6091" stop-color="#A28EFF" stop-opacity="0.5938" />
                                            <stop offset="1" stop-color="#A48EFF" />
                                        </linearGradient>
                                        <linearGradient id="paint3_linear" x1="32.9011" y1="65.6592" x2="64.9519"
                                            y2="12.5688" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.037627" stop-color="#3F8AFF" stop-opacity="0" />
                                            <stop offset="0.0635166" stop-color="#4A8AFF" stop-opacity="0.0269018" />
                                            <stop offset="0.1399" stop-color="#668CFF" stop-opacity="0.1063" />
                                            <stop offset="0.2264" stop-color="#7D8CFF" stop-opacity="0.1962" />
                                            <stop offset="0.326" stop-color="#8E8DFF" stop-opacity="0.2996" />
                                            <stop offset="0.4463" stop-color="#9B8EFF" stop-opacity="0.4247" />
                                            <stop offset="0.6091" stop-color="#A28EFF" stop-opacity="0.5938" />
                                            <stop offset="1" stop-color="#A48EFF" />
                                        </linearGradient>
                                        <linearGradient id="paint4_linear" x1="5.40939" y1="49.0626" x2="37.4603"
                                            y2="-4.02781" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.037627" stop-color="#3F8AFF" stop-opacity="0" />
                                            <stop offset="0.0635166" stop-color="#4A8AFF" stop-opacity="0.0269018" />
                                            <stop offset="0.1399" stop-color="#668CFF" stop-opacity="0.1063" />
                                            <stop offset="0.2264" stop-color="#7D8CFF" stop-opacity="0.1962" />
                                            <stop offset="0.326" stop-color="#8E8DFF" stop-opacity="0.2996" />
                                            <stop offset="0.4463" stop-color="#9B8EFF" stop-opacity="0.4247" />
                                            <stop offset="0.6091" stop-color="#A28EFF" stop-opacity="0.5938" />
                                            <stop offset="1" stop-color="#A48EFF" />
                                        </linearGradient>
                                        <linearGradient id="paint5_linear" x1="-4.67697" y1="42.9735" x2="27.3739"
                                            y2="-10.1169" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.037627" stop-color="#3F8AFF" stop-opacity="0" />
                                            <stop offset="0.0635166" stop-color="#4A8AFF" stop-opacity="0.0269018" />
                                            <stop offset="0.1399" stop-color="#668CFF" stop-opacity="0.1063" />
                                            <stop offset="0.2264" stop-color="#7D8CFF" stop-opacity="0.1962" />
                                            <stop offset="0.326" stop-color="#8E8DFF" stop-opacity="0.2996" />
                                            <stop offset="0.4463" stop-color="#9B8EFF" stop-opacity="0.4247" />
                                            <stop offset="0.6091" stop-color="#A28EFF" stop-opacity="0.5938" />
                                            <stop offset="1" stop-color="#A48EFF" />
                                        </linearGradient>
                                        <linearGradient id="paint6_linear" x1="19.0732" y1="57.3116" x2="51.1241"
                                            y2="4.22124" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.037627" stop-color="#3F8AFF" stop-opacity="0" />
                                            <stop offset="0.0635166" stop-color="#4A8AFF" stop-opacity="0.0269018" />
                                            <stop offset="0.1399" stop-color="#668CFF" stop-opacity="0.1063" />
                                            <stop offset="0.2264" stop-color="#7D8CFF" stop-opacity="0.1962" />
                                            <stop offset="0.326" stop-color="#8E8DFF" stop-opacity="0.2996" />
                                            <stop offset="0.4463" stop-color="#9B8EFF" stop-opacity="0.4247" />
                                            <stop offset="0.6091" stop-color="#A28EFF" stop-opacity="0.5938" />
                                            <stop offset="1" stop-color="#A48EFF" />
                                        </linearGradient>
                                        <linearGradient id="paint7_linear" x1="19.0203" y1="55.6693" x2="47.5398"
                                            y2="3.7442" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#3F8AFF" />
                                            <stop offset="0.9219" stop-color="#AD8EFF" />
                                        </linearGradient>
                                        <linearGradient id="paint8_linear" x1="33.5429" y1="44.6563" x2="44.8083"
                                            y2="24.1457" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.1664" stop-color="#3F8AFF" stop-opacity="0" />
                                            <stop offset="0.9212" stop-color="#AD8EFF" stop-opacity="0.4" />
                                        </linearGradient>
                                        <linearGradient id="paint9_linear" x1="17.917" y1="44.6409" x2="53.9104"
                                            y2="15.14" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.037627" stop-color="#3F8AFF" stop-opacity="0" />
                                            <stop offset="0.0539938" stop-color="#4A8AFF" stop-opacity="0.0269018" />
                                            <stop offset="0.1023" stop-color="#668CFF" stop-opacity="0.1063" />
                                            <stop offset="0.157" stop-color="#7D8CFF" stop-opacity="0.1962" />
                                            <stop offset="0.2199" stop-color="#8E8DFF" stop-opacity="0.2996" />
                                            <stop offset="0.296" stop-color="#9B8EFF" stop-opacity="0.4247" />
                                            <stop offset="0.3989" stop-color="#A28EFF" stop-opacity="0.5938" />
                                            <stop offset="0.646" stop-color="#A48EFF" />
                                            <stop offset="0.9974" stop-color="#838CFF" />
                                        </linearGradient>
                                        <linearGradient id="paint10_linear" x1="16.3179" y1="73.0995" x2="47.406"
                                            y2="18.1949" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.2328" stop-color="#3F8AFF" stop-opacity="0" />
                                            <stop offset="0.7632" stop-color="#AD8EFF" stop-opacity="0.3" />
                                        </linearGradient>
                                        <linearGradient id="paint11_linear" x1="22.5844" y1="56.4699" x2="48.2447"
                                            y2="3.5761" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#3F8AFF" />
                                            <stop offset="0.9224" stop-color="#AD8EFF" stop-opacity="0.6" />
                                        </linearGradient>
                                        <linearGradient id="paint12_linear" x1="9.39419" y1="51.9058" x2="43.483"
                                            y2="-4.7291" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#3F8AFF" />
                                            <stop offset="0.3817" stop-color="#7A8CFF" stop-opacity="0" />
                                            <stop offset="0.8349" stop-color="#A48EFF" stop-opacity="0.839" />
                                            <stop offset="0.9219" stop-color="#AD8EFF" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="our-tech-stack-point our-tech-stack-point-color">
                                <svg width="99" height="60" viewBox="0 0 99 60" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M27.8995 21.7907C27.8995 23.0254 28.0312 24.0265 28.2617 24.7607C28.5251 25.4948 28.8544 26.2957 29.3153 27.1633C29.48 27.4303 29.5458 27.6973 29.5458 27.9308C29.5458 28.2646 29.3482 28.5983 28.9202 28.932L26.8458 30.3335C26.5495 30.5337 26.2532 30.6338 25.9898 30.6338C25.6605 30.6338 25.3312 30.467 25.002 30.1667C24.541 29.6661 24.1459 29.1322 23.8166 28.5983C23.4874 28.031 23.1581 27.3969 22.7959 26.6294C20.2277 29.6995 17.0009 31.2345 13.1156 31.2345C10.3498 31.2345 8.14369 30.4336 6.5303 28.8318C4.91691 27.2301 4.09375 25.0944 4.09375 22.4248C4.09375 19.5883 5.08154 17.2858 7.09005 15.5505C9.09855 13.8153 11.7656 12.9476 15.157 12.9476C16.2765 12.9476 17.4289 13.0477 18.6472 13.2146C19.8655 13.3814 21.1167 13.6484 22.4337 13.9487V11.5127C22.4337 8.97658 21.9069 7.20796 20.8862 6.17348C19.8325 5.13901 18.0545 4.63846 15.5192 4.63846C14.3668 4.63846 13.1814 4.77194 11.9631 5.07227C10.7449 5.3726 9.55952 5.73967 8.4071 6.20686C7.88028 6.44045 7.48516 6.57393 7.25468 6.64067C7.02419 6.70741 6.85956 6.74078 6.72786 6.74078C6.26689 6.74078 6.0364 6.40708 6.0364 5.7063V4.07116C6.0364 3.53724 6.10226 3.1368 6.26689 2.90321C6.43152 2.66962 6.72786 2.43602 7.18883 2.20243C8.34125 1.60177 9.72415 1.10122 11.3375 0.700774C12.9509 0.266961 14.6631 0.0667403 16.4741 0.0667403C20.3923 0.0667403 23.2569 0.967735 25.1008 2.76973C26.9117 4.57172 27.8336 7.30807 27.8336 10.9788V21.7907H27.8995ZM14.5314 26.863C15.618 26.863 16.7375 26.6628 17.9228 26.2623C19.1082 25.8619 20.1618 25.1278 21.0508 24.1266C21.5776 23.4926 21.9728 22.7918 22.1703 21.991C22.3679 21.1901 22.4996 20.2223 22.4996 19.0877V17.6862C21.5447 17.4526 20.524 17.2524 19.4703 17.1189C18.4167 16.9854 17.396 16.9187 16.3753 16.9187C14.1692 16.9187 12.5558 17.3525 11.4692 18.2535C10.3827 19.1545 9.85586 20.4226 9.85586 22.0911C9.85586 23.6595 10.251 24.8274 11.0741 25.6283C11.8644 26.4626 13.0168 26.863 14.5314 26.863ZM40.9712 30.467C40.3786 30.467 39.9835 30.3669 39.72 30.1333C39.4566 29.9331 39.2262 29.4659 39.0286 28.8318L31.2909 3.03669C31.0933 2.36928 30.9946 1.93547 30.9946 1.70188C30.9946 1.16796 31.258 0.867625 31.7848 0.867625H35.0116C35.6372 0.867625 36.0652 0.967735 36.2957 1.20133C36.5591 1.40155 36.7567 1.86873 36.9542 2.50276L42.4859 24.5938L47.6224 2.50276C47.787 1.83536 47.9846 1.40155 48.248 1.20133C48.5114 1.00111 48.9723 0.867625 49.565 0.867625H52.1991C52.8247 0.867625 53.2528 0.967735 53.5162 1.20133C53.7796 1.40155 54.0101 1.86873 54.1418 2.50276L59.3441 24.8608L65.0404 2.50276C65.238 1.83536 65.4684 1.40155 65.6989 1.20133C65.9623 1.00111 66.3904 0.867625 66.9831 0.867625H70.0452C70.572 0.867625 70.8684 1.13459 70.8684 1.70188C70.8684 1.86873 70.8354 2.03558 70.8025 2.2358C70.7696 2.43602 70.7037 2.70299 70.572 3.07006L62.6368 28.8652C62.4392 29.5326 62.2087 29.9664 61.9453 30.1667C61.6819 30.3669 61.2539 30.5004 60.6941 30.5004H57.8625C57.2369 30.5004 56.8088 30.4002 56.5454 30.1667C56.282 29.9331 56.0515 29.4992 55.9198 28.8318L50.8162 7.30807L45.7456 28.7985C45.5809 29.4659 45.3834 29.8997 45.12 30.1333C44.8566 30.3669 44.3956 30.467 43.8029 30.467H40.9712ZM83.2816 31.368C81.5694 31.368 79.8572 31.1678 78.2109 30.7673C76.5646 30.3669 75.2805 29.9331 74.4244 29.4325C73.8976 29.1322 73.5354 28.7985 73.4037 28.4981C73.272 28.1978 73.2061 27.8641 73.2061 27.5638V25.8619C73.2061 25.1611 73.4695 24.8274 73.9634 24.8274C74.161 24.8274 74.3586 24.8608 74.5561 24.9275C74.7537 24.9943 75.05 25.1278 75.3793 25.2612C76.4988 25.7618 77.717 26.1622 79.0012 26.4292C80.3182 26.6962 81.6023 26.8296 82.9194 26.8296C84.9938 26.8296 86.6071 26.4626 87.7266 25.7284C88.8461 24.9943 89.4388 23.9264 89.4388 22.5582C89.4388 21.6239 89.1425 20.8564 88.5498 20.2223C87.9571 19.5883 86.8376 19.021 85.2242 18.4871L80.4499 16.9854C78.0463 16.2179 76.2683 15.0833 75.1817 13.5817C74.0951 12.1134 73.5354 10.4782 73.5354 8.74299C73.5354 7.34144 73.8317 6.10674 74.4244 5.0389C75.0171 3.97105 75.8073 3.03669 76.7951 2.30254C77.7829 1.53503 78.9024 0.967735 80.2194 0.567293C81.5365 0.166851 82.9194 0 84.3682 0C85.0925 0 85.8498 0.0333702 86.5742 0.133481C87.3315 0.233591 88.023 0.367072 88.7144 0.500553C89.373 0.667404 89.9986 0.834255 90.5912 1.03448C91.1839 1.2347 91.6449 1.43492 91.9741 1.63514C92.4351 1.9021 92.7644 2.16906 92.9619 2.46939C93.1595 2.73636 93.2583 3.10343 93.2583 3.57061V5.13901C93.2583 5.83978 92.9949 6.20686 92.501 6.20686C92.2375 6.20686 91.8095 6.07337 91.2498 5.80641C89.373 4.93879 87.2657 4.50498 84.9279 4.50498C83.0511 4.50498 81.5694 4.80531 80.5487 5.43934C79.528 6.07337 79.0012 7.04111 79.0012 8.40929C79.0012 9.34365 79.3304 10.1445 79.989 10.7786C80.6475 11.4126 81.8658 12.0466 83.6108 12.6139L88.2864 14.1156C90.6571 14.8831 92.3692 15.951 93.39 17.3191C94.4107 18.6873 94.9046 20.2557 94.9046 21.991C94.9046 23.4259 94.6082 24.7273 94.0485 25.8619C93.4558 26.9965 92.6656 27.9976 91.6449 28.7985C90.6242 29.6327 89.4059 30.2334 87.9901 30.6672C86.5084 31.1344 84.9608 31.368 83.2816 31.368Z"
                                        fill="#252F3E" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M89.5043 47.5863C78.6716 55.6953 62.9328 60 49.4 60C30.4345 60 13.3457 52.8922 0.438584 41.0791C-0.582132 40.1448 0.339805 38.8767 1.55808 39.6109C15.5188 47.8199 32.7393 52.7921 50.5525 52.7921C62.5706 52.7921 75.774 50.2559 87.9239 45.0502C89.7348 44.2159 91.2823 46.2515 89.5043 47.5863Z"
                                        fill="#FF9900" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M94.0154 42.381C92.6325 40.579 84.8618 41.5134 81.3387 41.9472C80.2851 42.0807 80.1205 41.1463 81.0753 40.4455C87.2655 36.0407 97.4397 37.3087 98.6251 38.777C99.8104 40.2787 98.2958 50.5901 92.5008 55.5288C91.6117 56.2964 90.7557 55.8959 91.1508 54.8948C92.4678 51.5912 95.3983 44.1496 94.0154 42.381Z"
                                        fill="#FF9900" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="our-tech-stack-point our-tech-stack-point-color"><svg width="198" height="60"
                                    viewBox="0 0 198 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M59.9 0.000976562C48.8 1.50098 37.8 3.00098 26.6 4.60098V29.301H59.9V0.000976562Z"
                                        fill="#35A8E1" />
                                    <path
                                        d="M190.9 4.00098C189.3 2.90098 187 3.30098 185.9 4.80098C185.463 5.89338 185.45 7.03882 185.437 8.2373V8.24236C185.432 8.6879 185.427 9.14077 185.4 9.60098C184.862 9.64984 184.325 9.67483 183.799 9.69927C183.249 9.72485 182.711 9.74984 182.2 9.80098C182.622 10.716 183.491 10.6897 184.351 10.6636C184.713 10.6527 185.074 10.6418 185.4 10.701C185.4 11.8805 185.394 13.0601 185.387 14.2382V14.304C185.369 17.8978 185.35 21.4775 185.5 25.001C185.744 25.001 186.121 25.1334 186.414 25.2367C186.481 25.2603 186.544 25.2824 186.6 25.301V10.601H193.3C193.343 12.3131 193.331 14.0435 193.318 15.7765V15.7816C193.302 18.0958 193.286 20.4147 193.4 22.701C193.7 24.901 196.2 25.201 198 25.201V24.301C197.702 24.2414 197.395 24.2084 197.09 24.1757C196.371 24.0984 195.662 24.0222 195.1 23.601C194.513 23.1607 194.518 22.3435 194.523 21.584C194.525 21.3085 194.527 21.0406 194.5 20.801V10.501H198V9.60098C196.8 9.50098 195.7 9.50098 194.5 9.50098V4.80098H193.3C193.3 5.60098 193.275 6.40098 193.25 7.20098C193.225 8.00098 193.2 8.80098 193.2 9.60098H186.6C186.667 9.06674 186.644 8.5102 186.622 7.95743C186.578 6.85468 186.534 5.76691 187.2 4.90098C187.927 4.50418 188.786 4.36979 189.631 4.23751C190.064 4.16977 190.494 4.10258 190.9 4.00098Z"
                                        fill="#35A8E1" />
                                    <path
                                        d="M77.85 3.70098C78.2 3.77598 78.55 3.85098 78.8 3.90098C80.9567 8.0837 82.8572 12.3946 84.7526 16.694C85.7573 18.9731 86.7607 21.2491 87.8 23.501C90.0348 19.36 91.924 15.003 93.8083 10.6572L93.8088 10.656C94.7911 8.39057 95.7721 6.12816 96.8 3.90098H98.8V25.101C98.65 25.101 98.3751 25.076 98.1001 25.051C97.8251 25.026 97.55 25.001 97.4 25.001C97.4 22.8343 97.4111 20.6676 97.4222 18.501C97.4444 14.1676 97.4667 9.83431 97.4 5.50098C95.6075 9.20157 93.9488 13.0025 92.2885 16.807C91.0774 19.582 89.8652 22.3597 88.6 25.101H87.3C85.3 20.801 83.3 16.401 81.4 12.101C81.1177 11.5081 80.8593 10.9073 80.6023 10.3098C79.949 8.79072 79.3048 7.29283 78.3 6.00098C78.1501 10.7979 78.1687 15.5386 78.1875 20.3074C78.1937 21.9011 78.2 23.4979 78.2 25.101C77.9 25.101 77.2 25.101 76.9 25.201V3.50098C77.1499 3.55095 77.5002 3.62601 77.85 3.70098Z"
                                        fill="#35A8E1" />
                                    <path d="M104.2 3.70098H103.1V6.50098H104.2V3.70098Z" fill="#35A8E1" />
                                    <path
                                        d="M0 8.40098C2.92235 7.9835 5.85681 7.59023 8.79915 7.1959C14.3143 6.45677 19.8571 5.71392 25.4 4.80098C25.4667 10.2676 25.4444 15.7343 25.4222 21.201C25.4111 23.9343 25.4 26.6676 25.4 29.401C23.3031 29.401 21.2 29.3947 19.0938 29.3885C12.7628 29.3697 6.40295 29.3509 0.1 29.501C0.05 25.951 0.05 22.426 0.05 18.9135C0.05 15.401 0.05 11.901 0 8.40098Z"
                                        fill="#35A8E1" />
                                    <path
                                        d="M122 13.901C120.6 8.60098 113.1 7.50098 109.6 11.201C105.7 15.201 107 23.601 112.7 25.001C116.7 26.201 121.2 23.701 122 19.501C121.037 19.3259 120.687 20.0706 120.347 20.7955C120.298 20.8985 120.25 21.0015 120.2 21.101C118.6 25.001 112.5 25.301 110 22.101C108.1 19.401 108 15.401 109.8 12.601C112.3 8.60098 119.9 9.20098 120.9 14.301C121.05 14.251 121.25 14.1761 121.45 14.1011C121.65 14.0261 121.85 13.951 122 13.901Z"
                                        fill="#35A8E1" />
                                    <path d="M103.1 9.50098H104.2V24.901L103.1 25.001V9.50098Z" fill="#35A8E1" />
                                    <path
                                        d="M126.2 9.50098H125C125.043 11.6433 125.031 13.8039 125.018 15.9672C125.002 18.8529 124.986 21.7433 125.1 24.601C125.3 24.701 125.8 25.001 126.1 25.201C126.24 23.5668 126.228 21.9326 126.215 20.3086C126.201 18.4544 126.187 16.6135 126.4 14.801C127 11.801 130.2 10.301 133 10.201C132.95 10.101 132.85 9.97598 132.75 9.85098C132.65 9.72598 132.55 9.60098 132.5 9.50098C130 9.10098 128 10.801 126.3 12.301C126.2 11.401 126.2 10.501 126.2 9.50098Z"
                                        fill="#35A8E1" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M138.1 9.50098C140.8 8.50098 144 9.20098 146 11.201C149.2 14.601 149 20.701 145.4 23.701C142.1 26.401 136.4 25.501 134.3 21.701C131.7 17.601 133.2 11.101 138.1 9.50098ZM138.7 10.301C133.1 12.101 132.7 21.301 137.9 23.801C140.2 24.801 143.1 24.501 144.9 22.701C147.6 19.901 147.7 15.001 145.2 12.001C143.7 10.101 141 9.70098 138.7 10.301Z"
                                        fill="#35A8E1" />
                                    <path
                                        d="M161.5 10.201C159 8.70098 155.7 8.80098 153.1 10.101C151 11.201 150.8 14.501 152.7 15.901C154.087 16.9145 155.758 17.2167 157.441 17.5208C158.913 17.7869 160.394 18.0545 161.7 18.801C163.6 20.001 163.1 23.101 161 23.801C158.6 24.601 155.7 24.801 153.6 23.201C152.756 22.5102 152.383 21.4659 152.029 20.4751C151.922 20.175 151.816 19.8799 151.7 19.601C150.4 20.201 151.1 21.601 151.7 22.601C153.3 25.001 156.5 25.601 159.2 25.201C160.9 24.901 162.9 24.301 163.7 22.601C164.3 21.101 164 19.001 162.5 18.001C161.13 17.1577 159.565 16.87 157.996 16.5815C156.588 16.3226 155.177 16.0631 153.9 15.401C152.1 14.501 152.1 11.801 153.8 10.901C155.9 9.80098 158.7 9.70098 160.8 11.001C161.415 11.3085 161.683 11.9442 161.942 12.5603C162.273 13.3466 162.591 14.101 163.6 14.101C163.552 13.9347 163.506 13.7641 163.46 13.5914C163.113 12.3098 162.734 10.9059 161.5 10.201Z"
                                        fill="#35A8E1" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M170.7 9.70098C173.6 8.40098 177.4 9.10098 179.5 11.601C182.1 14.901 182 20.001 179.2 23.101C176.5 25.801 171.7 26.101 168.9 23.401C164.8 19.901 165.5 11.901 170.7 9.70098ZM173.1 10.101C168.1 10.501 166.2 16.901 168.2 20.901C169.6 24.401 174.5 25.401 177.4 23.301C180.5 20.901 180.9 16.101 178.9 12.801C177.8 10.801 175.4 9.80098 173.1 10.101Z"
                                        fill="#35A8E1" />
                                    <path
                                        d="M25.4 30.601H0.1C0 37.601 0 44.701 0.1 51.701C3.1229 52.0968 6.15875 52.5445 9.19823 52.9927C14.6048 53.7899 20.023 54.5889 25.4 55.101V30.601Z"
                                        fill="#35A8E1" />
                                    <path
                                        d="M26.6184 44.7672C26.602 40.053 26.5857 35.3431 26.7 30.601C34.1 30.6676 41.5 30.6454 48.9 30.6232C52.6 30.6121 56.3 30.601 60 30.601V60.001C48.8 58.601 37.7 57.001 26.6 55.401C26.6429 51.8434 26.6306 48.3037 26.6184 44.7672Z"
                                        fill="#35A8E1" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M87.2 32.901C86.1 32.801 84.9 32.801 83.8 32.801C81.7335 37.534 79.7559 42.2669 77.7783 46.9999L77.7778 47.0009C76.7889 49.3676 75.8 51.7343 74.8 54.101H77.8C78.1379 53.275 78.4617 52.463 78.7821 51.6599C79.3148 50.324 79.8379 49.0125 80.4 47.701H90.4C90.8667 48.9845 91.3675 50.234 91.8626 51.4693C92.2161 52.3513 92.5668 53.2262 92.9 54.101H96.2C93.1 47.101 90.1 40.001 87.2 32.901ZM89.3 45.301H81.3C81.842 44.0235 82.354 42.731 82.865 41.4409C83.6739 39.3988 84.4808 37.3619 85.4 35.401C86.3333 37.5343 87.1778 39.7565 88.0222 41.9787C88.4444 43.0898 88.8667 44.201 89.3 45.301Z"
                                        fill="#35A8E1" />
                                    <path
                                        d="M133.8 41.601C135.4 39.701 137.4 38.001 140 38.101V40.701C137.7 40.801 135 41.701 134.4 44.201C133.891 46.237 133.949 48.3539 134.007 50.4746C134.04 51.687 134.073 52.9006 134 54.101H131.3V38.601H133.8V41.601Z"
                                        fill="#35A8E1" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M153.9 40.501C151 37.301 145.3 37.601 142.6 41.001C139.9 44.201 140.1 49.401 143.2 52.401C147 55.901 154.5 54.701 156 49.301C155.4 49.201 154.1 49.201 153.5 49.201C152.3 52.701 147.4 53.301 144.9 50.801C143.986 49.9702 143.762 48.8634 143.541 47.7672C143.496 47.544 143.451 47.3209 143.4 47.101H156.1C156 44.801 155.5 42.301 153.9 40.501ZM153.5 44.901C150.1 45.001 146.7 45.001 143.3 44.901C143.8 42.701 145.4 40.301 148 40.401C150.8 39.901 153 42.401 153.5 44.901Z"
                                        fill="#35A8E1" />
                                    <path
                                        d="M101.515 38.5788C104.481 38.5566 107.463 38.5342 110.4 38.601C110.311 40.1189 109.265 41.2382 108.259 42.3148C108.138 42.4438 108.018 42.5725 107.9 42.701C106.997 43.7433 106.081 44.7856 105.162 45.8321C103.436 47.7976 101.697 49.778 100 51.801C101.703 52.1415 103.429 52.0561 105.156 51.9706C106.979 51.8804 108.803 51.7901 110.6 52.201V54.001H96.6V52.101C97.425 51.176 98.2563 50.2572 99.0875 49.3385C101.581 46.5822 104.075 43.826 106.4 40.901C104.763 40.7373 103.097 40.7522 101.434 40.7671C100.048 40.7795 98.6634 40.7919 97.3 40.701C97.3 40.451 97.25 40.051 97.2 39.651C97.15 39.251 97.1 38.851 97.1 38.601C98.5628 38.601 100.037 38.5899 101.515 38.5788Z"
                                        fill="#35A8E1" />
                                    <path
                                        d="M115.8 38.601H113.1C113.1 39.4494 113.094 40.2979 113.088 41.1479C113.069 43.7041 113.05 46.2744 113.2 48.901C113.2 50.701 113.8 52.901 115.6 53.701C118.5 55.101 122.1 54.401 124.3 52.001C124.3 52.501 124.4 53.601 124.5 54.101H126.9V38.601H124.3C124.3 39.6676 124.311 40.7343 124.322 41.801C124.344 43.9343 124.367 46.0676 124.3 48.201C124.3 52.301 117.3 54.201 115.9 50.101C115.72 47.8198 115.756 45.5025 115.792 43.1925C115.816 41.6546 115.84 40.1198 115.8 38.601Z"
                                        fill="#35A8E1" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="our-tech-stack-point our-tech-stack-point-color">
                                <svg width="195" height="60" viewBox="0 0 195 60" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M70.7153 1.54516C65.8161 -3.31867 50.8423 3.6691 36.1304 17.3261C37.2538 18.3644 38.3724 19.4382 39.4863 20.5474C44.7564 25.7429 49.4623 31.4811 53.5255 37.6663C68.0887 22.4802 75.7278 6.58598 70.7153 1.54516Z"
                                        fill="#230066" />
                                    <path
                                        d="M39.4863 20.519C38.3724 19.4052 37.2538 18.3408 36.1304 17.3261C21.4257 3.6691 6.40941 -3.31867 1.54558 1.54516C-3.48816 6.5789 4.17219 22.4802 18.7354 37.6522C22.7978 31.462 27.5037 25.719 32.7746 20.519C33.8885 19.4052 30.7358 22.4671 31.8591 21.4334L36.1304 52.5198C46.2263 59.3235 54.9557 61.9288 58.4531 58.4527C63.6921 53.2207 55.1964 36.2291 39.4863 20.519Z"
                                        fill="url(#paint0_linear)" />
                                    <path
                                        d="M32.7747 20.5201C17.0646 36.2302 8.5688 53.2218 13.8079 58.4538C17.3053 61.9512 26.0347 59.3246 36.1305 52.5209V17.3271C35.0119 18.3419 33.8933 19.4063 32.7747 20.5201Z"
                                        fill="#230066" />
                                    <path
                                        d="M86.59 37.9068C87.4114 37.9589 88.2348 37.8461 89.012 37.5752C89.2489 37.4581 89.4441 37.2709 89.571 37.0391C89.698 36.8073 89.7506 36.542 89.7216 36.2793C89.6991 35.9988 89.6022 35.7295 89.4408 35.499C89.2795 35.2684 89.0595 35.0852 88.8037 34.968C87.9115 34.4682 86.9772 34.0475 86.0115 33.7107C85.1111 33.3803 84.2281 33.0045 83.3658 32.5846C82.6225 32.2291 81.9404 31.7579 81.3449 31.1885C80.7821 30.638 80.3407 29.9759 80.049 29.2447C79.7208 28.378 79.5637 27.456 79.5862 26.5296C79.552 25.5898 79.7444 24.6556 80.1472 23.8058C80.5499 22.956 81.1512 22.2156 81.9002 21.647C83.4429 20.4489 85.5435 19.8498 88.2021 19.8498C89.496 19.8445 90.7875 19.9633 92.0588 20.2046C93.0532 20.379 94.0311 20.637 94.9822 20.9759L93.8946 25.8122C93.1203 25.5467 92.3324 25.3227 91.5343 25.1412C90.5969 24.9372 89.6396 24.8389 88.6803 24.8481C86.7314 24.8481 85.7569 25.3906 85.7569 26.4756C85.7518 26.7054 85.7938 26.9337 85.8803 27.1467C85.9936 27.3761 86.1669 27.5707 86.3817 27.7097C86.7066 27.9336 87.0498 28.1297 87.4076 28.2959C87.8395 28.5068 88.3898 28.7382 89.0583 28.9902C90.2191 29.4066 91.3482 29.9068 92.4367 30.4866C93.2209 30.8973 93.9323 31.4341 94.5425 32.0755C95.043 32.6183 95.4147 33.2668 95.6301 33.973C95.8522 34.7581 95.9587 35.5714 95.9463 36.3873C95.9993 37.3471 95.8026 38.3043 95.3754 39.1654C94.9483 40.0265 94.3052 40.7622 93.5089 41.3007C91.8531 42.4115 89.5339 42.9668 86.5514 42.9668C84.9171 43.0005 83.285 42.8321 81.692 42.4655C80.7759 42.2526 79.8762 41.9742 79 41.6324L80.0413 36.5878C81.1021 37.0054 82.1961 37.3331 83.3118 37.5674C84.3897 37.7945 85.4884 37.9082 86.59 37.9068Z"
                                        fill="#230066" />
                                    <path
                                        d="M106.491 14.0878C106.511 14.5837 106.423 15.0781 106.232 15.5364C106.042 15.9947 105.753 16.4059 105.388 16.7412C104.666 17.3732 103.74 17.7215 102.78 17.7215C101.821 17.7215 100.895 17.3732 100.173 16.7412C99.8022 16.4016 99.5109 15.9842 99.3202 15.5188C99.1295 15.0534 99.0442 14.5515 99.0703 14.0492C99.0442 13.5469 99.1295 13.0451 99.3202 12.5797C99.5109 12.1143 99.8022 11.6968 100.173 11.3573C100.895 10.7253 101.821 10.377 102.78 10.377C103.74 10.377 104.666 10.7253 105.388 11.3573C105.763 11.7014 106.057 12.1252 106.248 12.5976C106.439 13.0701 106.522 13.5792 106.491 14.0878ZM105.904 42.3728H99.6873V20.4282H105.904V42.3728Z"
                                        fill="#230066" />
                                    <path
                                        d="M129.854 39.619C129.854 43.2186 128.944 45.8822 127.124 47.61C125.304 49.3378 122.475 50.2069 118.639 50.2172C117.297 50.2161 115.957 50.0974 114.636 49.8624C113.377 49.644 112.137 49.3294 110.926 48.9213L112.036 43.7379C113.036 44.1341 114.068 44.4412 115.122 44.6558C116.324 44.8898 117.546 45.001 118.77 44.9875C120.549 44.9875 121.809 44.5993 122.55 43.8228C123.299 43.0073 123.696 41.9288 123.653 40.8223V40.0509C122.991 40.3547 122.298 40.5849 121.586 40.7374C120.825 40.8963 120.049 40.9739 119.272 40.9688C116.238 40.9688 113.924 40.0715 112.33 38.2768C110.735 36.4822 109.928 33.9728 109.908 30.7486C109.894 29.2457 110.156 27.7531 110.679 26.3442C111.13 25.0588 111.857 23.8874 112.808 22.9118C113.813 21.938 115.015 21.191 116.333 20.7212C117.846 20.1865 119.441 19.9253 121.046 19.9498C121.796 19.9498 122.568 19.9858 123.36 20.0578C124.152 20.1298 124.938 20.2198 125.72 20.3278C126.497 20.4409 127.24 20.572 127.949 20.7212C128.659 20.8703 129.291 21.0297 129.847 21.1994L129.854 39.619ZM116.209 30.6869C116.209 34.163 117.613 35.9011 120.421 35.9011C121.029 35.9072 121.634 35.824 122.218 35.6543C122.712 35.5131 123.188 35.3164 123.637 35.0681V25.1409C123.329 25.0844 122.966 25.0355 122.55 24.9944C122.133 24.9532 121.653 24.9327 121.107 24.9327C120.409 24.883 119.709 25.0054 119.069 25.2892C118.429 25.5729 117.868 26.0093 117.436 26.5602C116.587 27.7645 116.156 29.2142 116.209 30.6869Z"
                                        fill="#230066" />
                                    <path
                                        d="M144.371 10.0005C145.451 9.99124 146.528 10.1103 147.58 10.3553C148.347 10.5272 149.1 10.7567 149.832 11.0418L148.629 15.9707C148.049 15.713 147.44 15.524 146.816 15.4076C146.219 15.2891 145.612 15.2271 145.004 15.2225C144.357 15.2058 143.713 15.3131 143.106 15.5387C142.636 15.7156 142.219 16.0104 141.895 16.3949C141.594 16.7757 141.381 17.2181 141.27 17.6908C141.142 18.2236 141.08 18.7702 141.085 19.3183V20.4059H148.799V25.5816H141.085V42.3736H134.868V19.2334C134.804 18.0048 134.983 16.7755 135.395 15.6161C135.806 14.4566 136.443 13.3897 137.267 12.4765C138.835 10.8258 141.203 10.0005 144.371 10.0005Z"
                                        fill="#230066" />
                                    <path
                                        d="M171.823 31.3594C171.835 32.9703 171.574 34.5716 171.052 36.0955C170.607 37.4534 169.885 38.7039 168.93 39.767C167.979 40.7881 166.819 41.593 165.529 42.1273C164.112 42.7057 162.593 42.9917 161.063 42.9681C159.554 42.989 158.056 42.7057 156.658 42.1351C155.369 41.6009 154.209 40.796 153.257 39.7748C152.281 38.7112 151.528 37.4627 151.043 36.1032C150.507 34.5828 150.246 32.9791 150.272 31.3672C150.251 29.7598 150.525 28.1623 151.082 26.6543C151.58 25.304 152.346 24.0683 153.334 23.0213C154.302 22.0234 155.465 21.2357 156.751 20.7072C158.115 20.1271 159.581 19.828 161.063 19.8279C162.557 19.8103 164.039 20.0936 165.421 20.661C166.704 21.1859 167.863 21.9742 168.822 22.975C169.798 24.0242 170.551 25.26 171.036 26.608C171.583 28.1315 171.849 29.7412 171.823 31.3594ZM165.483 31.3594C165.561 29.7651 165.149 28.185 164.302 26.8317C163.943 26.2986 163.453 25.8668 162.879 25.5777C162.305 25.2886 161.666 25.152 161.024 25.181C160.38 25.1545 159.74 25.2921 159.164 25.5809C158.588 25.8696 158.095 26.3 157.731 26.8317C156.891 28.1867 156.493 29.7685 156.589 31.3594C156.504 32.9646 156.91 34.5574 157.754 35.9258C158.111 36.4667 158.602 36.9063 159.179 37.2022C159.756 37.4981 160.4 37.6403 161.047 37.615C161.69 37.6381 162.327 37.4946 162.897 37.1986C163.468 36.9026 163.952 36.4642 164.302 35.9258C165.145 34.5563 165.556 32.9654 165.483 31.3594Z"
                                        fill="#230066" />
                                    <path
                                        d="M187.034 31.3199L190.968 25.7277L194.701 20.4209H187.983L183.671 26.5916L179.359 20.4209H172.641L176.374 25.7277L180.308 31.3199L176.374 36.9121L172.641 42.1958H179.359L183.671 36.0251L187.983 42.1958H194.701L190.968 36.889L187.034 31.3199Z"
                                        fill="#230066" />
                                    <defs>
                                        <linearGradient id="paint0_linear" x1="-0.00489802" y1="29.9989" x2="60.0036"
                                            y2="29.9989" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#00DBFF" />
                                            <stop offset="1" stop-color="#8024FF" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="black-divider">
            </div>
        </div>


        <div class="blockchain-platforms">
            <div class="container">
                <h3 class="black-title">Blockchain platforms</h3>
                <div class="blockchain-platforms-tabs-wrap">
                    <div class="blockchain-platforms-tabs">
                        <div class="nav nav-tabs blockchain-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-hyperledger-tab" data-toggle="tab"
                                href="#nav-hyperledger" role="tab" aria-controls="nav-hyperledger" aria-selected="true">
                                <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/hyperledger.svg"
                                    alt="hyperledger" class="tab-img-color">
                                <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/hyperledger-grey.svg"
                                    alt="hyperledger" class="tab-img-grey">
                            </a>
                            <a class="nav-item nav-link" id="nav-bitshares-tab" data-toggle="tab" href="#nav-bitshares"
                                role="tab" aria-controls="nav-bitshares" aria-selected="false"> <img
                                    src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/bitshares.svg"
                                    alt="bitshares" class="tab-img-color">
                                <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/bitshares-grey.svg"
                                    alt="bitshares" class="tab-img-grey"></a>
                            <a class="nav-item nav-link" id="nav-geneos-tab" data-toggle="tab" href="#nav-geneos"
                                role="tab" aria-controls="nav-geneos" aria-selected="false"> <img
                                    src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/genEOS.svg" alt="genEOS"
                                    class="tab-img-color">
                                <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/genEOS-grey.svg"
                                    alt="genEOS" class="tab-img-grey"></a>
                            <a class="nav-item nav-link" id="nav-eosio-tab" data-toggle="tab" href="#nav-eosio"
                                role="tab" aria-controls="nav-eosio" aria-selected="false"> <img
                                    src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/eosIO.svg" alt="eosIO"
                                    class="tab-img-color">
                                <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/eosIO-grey.svg"
                                    alt="eosIO" class="tab-img-grey"></a>
                            <a class="nav-item nav-link" id="nav-etherium-tab" data-toggle="tab" href="#nav-etherium"
                                role="tab" aria-controls="nav-etherium" aria-selected="false"> <img
                                    src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/ethereum.svg"
                                    alt="ethereum" class="tab-img-color">
                                <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/ethereum-grey.svg"
                                    alt="ethereum" class="tab-img-grey"></a>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane show active" id="nav-hyperledger" role="tabpanel"
                                aria-labelledby="nav-hyperledger-tab">
                                <div class="tab-frameworks">
                                    <h5 class="tab-frameworks-title">Frameworks</h5>
                                    <div class="tab-frameworks-points">
                                        <div class="tab-frameworks-point">
                                            <div class="tab-frameworks-point-img">
                                                <img src="/images/Solutions/Blockchain-IoT/Frameworks/Fabric.svg"
                                                    alt="Hyperledger FABRIC">
                                            </div>
                                            <h6>Hyperledger FABRIC</h6>
                                            <p>Permissionable with channel support</p>
                                        </div>
                                        <div class="tab-frameworks-point">
                                            <div class="tab-frameworks-point-img">
                                                <img src="/images/Solutions/Blockchain-IoT/Frameworks/Indy.svg"
                                                    alt="Hyperledger INDY">
                                            </div>
                                            <h6>Hyperledger INDY</h6>
                                            <p>Decentralized identity</p>
                                        </div>
                                        <div class="tab-frameworks-point">
                                            <div class="tab-frameworks-point-img">
                                                <img src="/images/Solutions/Blockchain-IoT/Frameworks/Iroha.svg"
                                                    alt="Hyperledger IROHA">
                                            </div>
                                            <h6>Hyperledger IROHA</h6>
                                            <p>Mobile application focus</p>
                                        </div>
                                        <div class="tab-frameworks-point">
                                            <div class="tab-frameworks-point-img">
                                                <img src="/images/Solutions/Blockchain-IoT/Frameworks/Sawtooth.svg"
                                                    alt="Hyperledger SAWTOOTH">
                                            </div>
                                            <h6>Hyperledger SAWTOOTH</h6>
                                            <p>Permissioned & permissionless support; EVM transaction family</p>
                                        </div>
                                        <div class="tab-frameworks-point">
                                            <div class="tab-frameworks-point-img">
                                                <img src="/images/Solutions/Blockchain-IoT/Frameworks/Burrow.svg"
                                                    alt="Hyperledger BURROW">
                                            </div>
                                            <h6>Hyperledger BURROW</h6>
                                            <p>Permissionable smart contract machine (EVM)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="planning-block">
                                    <h5>Planning a blockchain integration?</h5>
                                    <p>Learn how Hyperledger blockchain technology can help your business.</p>
                                    <a href="/services/blockchain-development/hyperledger/" class="link link240">Learn
                                        More</a>
                                </div>
                            </div>
                            <div class="tab-pane" id="nav-bitshares" role="tabpanel"
                                aria-labelledby="nav-bitshares-tab">
                                <div class="planning-block">
                                    <h5>Planning a blockchain integration?</h5>
                                    <p>Learn how BitShares/Graphene blockchain technology can help your business.</p>
                                    <a href="/services/blockchain-development/bitshares-graphene/"
                                        class="link link240">Learn More</a>
                                </div>
                            </div>
                            <div class="tab-pane" id="nav-geneos" role="tabpanel" aria-labelledby="nav-geneos-tab">
                                <div class="planning-block">
                                    <h5>Planning a blockchain integration?</h5>
                                    <p>Learn how the genEOS blockchain platform can help your business.</p>
                                    <a href="/products/geneos/" class="link link240">Learn More</a>
                                </div>
                            </div>
                            <div class="tab-pane" id="nav-eosio" role="tabpanel" aria-labelledby="nav-eosio-tab">
                                <div class="planning-block">
                                    <h5>Planning a blockchain integration?</h5>
                                    <p>Learn how the EOSIO blockchain technology can help your business.</p>
                                    <a href="/services/blockchain-development/eosio-development/"
                                        class="link link240">Learn More</a>
                                </div>
                            </div>
                            <div class="tab-pane" id="nav-etherium" role="tabpanel" aria-labelledby="nav-etherium-tab">
                                <div class="planning-block">
                                    <h5>Planning a blockchain integration?</h5>
                                    <p>Learn how Ethereum-based smart contracts can help your business.</p>
                                    <a href="/services/blockchain-development/smart-contracts/#ethereum-smart-contracts"
                                        class="link link240">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="blockchain-platforms-accordion">
                    <div class="bp-accordion-point">
                        <a href="#!" class="bp-accordion-title bp-accordion-title-active">
                            <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/hyperledger.svg"
                                alt="hyperledger" class="tab-img-color">
                            <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/hyperledger-grey.svg"
                                alt="hyperledger" class="tab-img-grey">
                        </a>
                        <div class="bp-accordion-content">
                            <div class="accordion-frameworks">
                                <h5 class="tab-frameworks-title">Frameworks</h5>
                                <div class="slider-frameworks">
                                    <div class="tab-frameworks-point">
                                        <div class="tab-frameworks-point-img">
                                            <img src="/images/Solutions/Blockchain-IoT/Frameworks/Fabric.svg"
                                                alt="Hyperledger FABRIC">
                                        </div>
                                        <h6>Hyperledger FABRIC</h6>
                                        <p>Permissionable with channel support</p>
                                    </div>
                                    <div class="tab-frameworks-point">
                                        <div class="tab-frameworks-point-img">
                                            <img src="/images/Solutions/Blockchain-IoT/Frameworks/Indy.svg"
                                                alt="Hyperledger INDY">
                                        </div>
                                        <h6>Hyperledger INDY</h6>
                                        <p>Decentralized identity</p>
                                    </div>
                                    <div class="tab-frameworks-point">
                                        <div class="tab-frameworks-point-img">
                                            <img src="/images/Solutions/Blockchain-IoT/Frameworks/Iroha.svg"
                                                alt="Hyperledger IROHA">
                                        </div>
                                        <h6>Hyperledger IROHA</h6>
                                        <p>Mobile application focus</p>
                                    </div>
                                    <div class="tab-frameworks-point">
                                        <div class="tab-frameworks-point-img">
                                            <img src="/images/Solutions/Blockchain-IoT/Frameworks/Sawtooth.svg"
                                                alt="Hyperledger SAWTOOTH">
                                        </div>
                                        <h6>Hyperledger SAWTOOTH</h6>
                                        <p>Permissioned & permissionless support; EVM transaction family</p>
                                    </div>
                                    <div class="tab-frameworks-point">
                                        <div class="tab-frameworks-point-img">
                                            <img src="/images/Solutions/Blockchain-IoT/Frameworks/Burrow.svg"
                                                alt="Hyperledger BURROW">
                                        </div>
                                        <h6>Hyperledger BURROW</h6>
                                        <p>Permissionable smart contract machine (EVM)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="planning-block">
                                <h5>Planning a blockchain integration?</h5>
                                <p>Learn how Hyperledger blockchain technology can help your business.</p>
                                <a href="/services/blockchain-development/hyperledger/" class="link link240">Learn
                                    More</a>
                            </div>
                        </div>
                    </div>
                    <div class="bp-accordion-point">
                        <a href="#!" class="bp-accordion-title">
                            <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/bitshares.svg"
                                alt="bitshares" class="tab-img-color">
                            <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/bitshares-grey.svg"
                                alt="bitshares" class="tab-img-grey">
                        </a>
                        <div class="bp-accordion-content">
                            <div class="planning-block">
                                <h5>Planning a blockchain integration?</h5>
                                <p>Learn how BitShares/Graphene blockchain technology can help your business.</p>
                                <a href="/services/blockchain-development/bitshares-graphene/"
                                    class="link link240">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="bp-accordion-point">
                        <a href="#!" class="bp-accordion-title">
                            <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/genEOS.svg" alt="genEOS"
                                class="tab-img-color">
                            <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/genEOS-grey.svg"
                                alt="genEOS" class="tab-img-grey">
                        </a>
                        <div class="bp-accordion-content">
                            <div class="planning-block">
                                <h5>Planning a blockchain integration?</h5>
                                <p>Learn how the genEOS blockchain platform can help your business.</p>
                                <a href="/products/geneos/" class="link link240">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="bp-accordion-point">
                        <a href="#!" class="bp-accordion-title">
                            <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/eosIO.svg" alt="eosIO"
                                class="tab-img-color">
                            <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/eosIO-grey.svg" alt="eosIO"
                                class="tab-img-grey">
                        </a>
                        <div class="bp-accordion-content">
                            <div class="planning-block">
                                <h5>Planning a blockchain integration?</h5>
                                <p>Learn how the EOSIO blockchain technology can help your business.</p>
                                <a href="/services/blockchain-development/eosio-development/" class="link link240">Learn
                                    More</a>
                            </div>
                        </div>
                    </div>
                    <div class="bp-accordion-point">
                        <a href="#!" class="bp-accordion-title">
                            <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/ethereum.svg" alt="ethereum"
                                class="tab-img-color">
                            <img src="/images/Solutions/Blockchain-IoT/Blockchain-Platforms/ethereum-grey.svg"
                                alt="ethereum" class="tab-img-grey">
                        </a>
                        <div class="bp-accordion-content">
                            <div class="planning-block">
                                <h5>Planning a blockchain integration?</h5>
                                <p>Learn how Ethereum-based smart contracts can help your business.</p>
                                <a href="/services/blockchain-development/smart-contracts/#ethereum-smart-contracts"
                                    class="link link240">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="we-remove-adoptive-barriers">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="h5 black-h5">我们消除了您的选择顾虑</h2>
                    </div>
                    <div class="col-md-5">
                        <p>
                            OpenLedger的内部团队由顾问、架构师、开发人员和QA专家组成，他们将帮助您的企业克服瓶颈和障碍，实现区块链物联网。
                        </p>
                        <p>
                            为了给您带来采用这些技术的最终价值，我们使用与敏捷开发方法相结合的高级研发过程。
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Quote -->
        <% include ../common/quote.ejs %>
        <!-- Quote -->

        <div class="why-graphene-content">
            <div class="container">
                <h2>区块链和物联网跨行业的结合</h2>
                <div class="h4 gor-100">
                    OpenLedger提供创新的解决方案，将物联网与加密的、不可变的、可审计的区块链相结合。这种结合带来了一系列独特的好处:
                </div>
            </div>
        </div>

        <div class="business-gains blockchain-across-industries">
            <div class="container">
                <div class="row business-gains-row blockchain-across-industries-row">

                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">卫生保健</h3>
                                <ul class="across-sub-menu">
                                    <li>能够实时跟踪慢性病</li>
                                    <li>确保联网医疗设备记录的私人病人数据的安全性</li>
                                    <li>将设备和人员监控连接到一个可扩展的系统中</li>
                                    <li>基于持续的病人健康状况监测，个性化健康保险</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">供应链</h3>
                                <ul class="across-sub-menu">
                                    <li>获得从生产到销售的端到端的可见性</li>
                                    <li>为顺利转运及跨境交易提供即时资讯共享服务</li>
                                    <li>确保供应链网络的可靠性和可追溯性</li>
                                    <li>提高库存管理</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">物流</h3>
                                <ul class="across-sub-menu">
                                    <li>利用来自运动传感器、GPS、温度传感器、车辆传感器和连接设备的数据实现运输过程的透明性</li>
                                    <li>消除延迟交货</li>
                                    <li>自动化管理、报告和文档工作流程</li>
                                    <li>改善运输成本和风险管理</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">金融科技</h3>
                                <ul class="across-sub-menu">
                                    <li>确保对按使用付费模式的保护的有效性</li>
                                    <li>保护无线支付和信用卡数据</li>
                                    <li>保护现有和新兴的生物识别系统</li>
                                    <li>根据客户的交易和行为模式定制忠诚度计划</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">汽车</h3>
                                <ul class="across-sub-menu">
                                    <li>用区块链的认证来避免欺骗性的汽车零件交易</li>
                                    <li>使用嵌入式传感器优化车辆维护和维修日志</li>
                                    <li>简化制造商、进口商、分销商、经销商和其他各方之间的文件和付款处理</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">不动产</h3>
                                <ul class="across-sub-menu">
                                    <li>通过持续的财产状况跟踪，加速客户的定制化的保险处理过程</li>
                                    <li>加快财产在所有权历史，财产年龄，折旧评估方面的详细信息的搜索过程</li>
                                    <li>通过嵌入GPS跟踪器、测量标记和不可变时间戳土地记录，改进产权管理，降低欺诈风险</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>