<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner solution-single-banner blockchain-iot-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-12">
                    <h1>物联网<br>链改解决方案</h1>
                    <div class="h2-banner h2-banner-indents">
                        通过高效的事务处理和完整的流程跟踪，
                        <br>
                        获取关于客户、资产和位置的实时数据。
                        <br>
                    </div>
                    <a href="#contact" class="link">联系我们</a>
                    <div class="bg"></div>
                </div>

            </div>
        </div>
    </div>


    <div class="content">

        <div class="iot-gathers-massive">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="puffy">
                            <h3 class="h5">物联网需要收集大量的数据，为下一步的决策提供更准确的信息。</h3>
                            <p>
                                区块链提供可验证、安全和永久的数据存储，通过智能合约的自动事务流转使这些数据变得高可用，可信赖。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8 iot-gathers-massive-img-points">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="iot-gathers-massive-img-point">
                                    <div class="iot-gathers-massive-img iot-gathers-massive-img01"></div>
                                    <p><a class="teal-link" style="white-space: initial;" target="_blank" href="https://new.qq.com/rain/a/20190430A0EVT5">截止2019年，20%的物联网设备将采用区块链技术</a></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="iot-gathers-massive-img-point">
                                    <div class="iot-gathers-massive-img iot-gathers-massive-img02"></div>
                                    <p><a class="teal-link" style="white-space: initial;" target="_blank" href="http://www.elecfans.com/video/20190115850776.html">全球物联网设备的数量将从2017年的270亿增长至2030年的1250亿</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>


        <div class="how-we-bring">
            <div class="container">
                <h2>如何将区块链技术和物联网结合</h2>
                <div class="gor-100">
                    <div class="h4">
                        由于数据流的安全性和完整性方面存在的各种问题，物联网企业在应用方面面临各种问题。通过我们提供的基于区块链的物联网解决方案可以解决这些问题。
                    </div>
                </div>
                <ul class="black-point-list">
                    <li>不可变</li>
                    <li class="point-list-partition">|</li>
                    <li>加密</li>
                    <li class="point-list-partition">|</li>
                    <li>防篡改</li>
                    <li class="point-list-partition">|</li>
                    <li>可扩展</li>
                </ul>
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>数字身份的认证和来源</h3>
                                <div class="text">
                                    <p>
                                        强大的验证机制和可追溯的数字身份管理，可以实现数据的透明、点到点的流程追踪。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>事务自动化与验证</h3>
                                <div class="text">
                                    <p>
                                        智能合约自动处理每个事务，包括机器和机器之间的交互，且能够远程的管理资产和即时的数据验证。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>数据交换</h3>
                                <div class="text">
                                    <p>
                                        在去中心化的区块链系统中能够实时的共享物联网产生的数据并写入区块链中，每条记录都是不可变的，并且对所有网络成员可见。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>物联网数据分析</h3>
                                <div class="text">
                                    <p>
                                        在物联网生态系统中，区块链提供的元数据给物联网设备提供了详细的预测和分析的条件，同时也记录了人或机器决策的历史。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>网络安全</h3>
                                <div class="text">
                                    <p>
                                        解决了集中的数据湖带来的隐患。通过基于哈希加密的分布式账本，能保证数据的绝对的安全，以及不断的更新软件来解决当前物联网行业面临的安全问题。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>可无限拓展</h3>
                                <div class="text">
                                    <p>
                                        解决了基于云的物联网平台的限制，允许连接的设备和事务的数量无限的扩展。
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="blockchain-supported" style="margin-top: 40px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="puffy">
                            <h3 class="h5">区块链-支持物联网业务网络</h3>
                            <h4 class="grey18">
                                物联网需要收集大量数据，为商业重大决策提供信息。<br>
                                通过区块链提供可验证、安全和永久的数据存储，使数据高可用、安全。
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="iot-scheme"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="we-remove-adoptive-barriers">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="h5 black-h5">消除您的选择顾虑</h2>
                    </div>
                    <div class="col-md-5">
                        <p>
                            我们的团队内部由架构师、开发人员和QA专家组成，他们将帮助您的企业克服瓶颈和障碍，实现区块链物联网。
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Quote -->
        <% include ../common/quote.ejs %>
        <!-- Quote -->

        <div class="why-graphene-content">
            <div class="container">
                <h2>区块链和物联网跨行业的结合</h2>
                <div class="h4 gor-100">
                    提供创新的解决方案，将物联网与加密的、不可篡改的、可审计的区块链相结合。这种结合带来了诸多好处:
                </div>
            </div>
        </div>

        <div class="business-gains blockchain-across-industries">
            <div class="container">
                <div class="row business-gains-row blockchain-across-industries-row">

                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">医疗保健</h3>
                                <ul class="across-sub-menu">
                                    <li>实时跟踪慢性病</li>
                                    <li>确保联网医疗设备记录的个人数据的安全性</li>
                                    <li>将设备对个人数据的监控转移到可无限拓展的系统中</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">供应链</h3>
                                <ul class="across-sub-menu">
                                    <li>从生产到销售的端到端的可见性</li>
                                    <li>转运及跨境交易提供即时资讯共享服务</li>
                                    <li>确保供应链网络的可靠性和可追溯性</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">物流</h3>
                                <ul class="across-sub-menu">
                                    <li>来自运动传感器、GPS、温度传感器、车辆传感器和其它设备的数据实现运输过程的透明性</li>
                                    <!-- <li>消除延迟交货</li> -->
                                    <li>自动化管理、报告和文档工作流程</li>
                                    <li>改善运输成本和风险管理</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">金融科技</h3>
                                <ul class="across-sub-menu">
                                    <li>保护按使用付费的模式</li>
                                    <li>保护无线支付和信用卡数据</li>
                                    <li>保护生物识别系统</li>
                                    <li>根据客户的交易和行为模式定制忠诚度</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">汽车</h3>
                                <ul class="across-sub-menu">
                                    <li>避免欺骗性的汽车零件交易</li>
                                    <li>使用嵌入式传感器优化车辆维护和维修日志</li>
                                    <li>简化制造商、进口商、分销商、经销商和其他各方之间的文件和付款处理</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">不动产</h3>
                                <ul class="across-sub-menu">
                                    <li>通过持续的财产状况跟踪，加快客户的保险处理过程</li>
                                    <li>加快不动产的历史，年数，折旧评估等方面详细信息的搜索过程</li>
                                    <li>通过土地信息的记录，改进产权的管理，降低欺诈风险</li>
                                    <!-- <li>通过区块链的保护措施，消除第三方中介所带来的成本</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>