<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner legal-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>Blockchain development for legal</h1>
                    <div class="h2-banner h2-banner-indents">Leverage the power of blockchain technology<br> in your
                        legal operations. Automate the execution<br> of legal agreements. Provide a protected<br> and
                        maintainable database for documents.</div>
                    <div class="text">
                    </div>
                    <a href="#contact" class="link">Get a Free Quote</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="transform-your-key transform-your-key-legal">
            <div class="container">
                <div class="row scheme-row">
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767"
                                src="/images/Solutions/Legal/Processes/1.svg"
                                alt="48%">
                            <img class="show767"
                                src="/images/Solutions/Legal/Processes/1-xs.svg"
                                alt="48%">
                            <p><strong>48%</strong> of law firms focus on cyber threats in their crisis management
                                exercises. <a class="teal-link"
                                    href="https://www.pwc.fr/fr/assets/files/pdf/2017/12/law-firms-survey-report-2017.pdf"
                                    target="_blank" rel="noopener">Source</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767"
                                src="/images/Solutions/Legal/Processes/2.svg"
                                alt="20%">
                            <img class="show767"
                                src="/images/Solutions/Legal/Processes/2-xs.svg"
                                alt="20%">
                            <p><strong>20%</strong> of clients expect law firms to have better data privacy expertise
                                than they do. <a class="teal-link"
                                    href="https://www2.deloitte.com/content/dam/Deloitte/global/Documents/Legal/dttl-legal-future-trends-for-legal-services.pdf"
                                    target="_blank" rel="noopener">Source</a></p>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767"
                                src="/images/Solutions/Legal/Processes/3.svg"
                                alt="19%">
                            <img class="show767"
                                src="/images/Solutions/Legal/Processes/3-xs.svg"
                                alt="19%">
                            <p><strong>19%</strong> of consumers find transparency a vital quality of legal service
                                providers. <a class="teal-link"
                                    href="https://www.softwareadvice.com/resources/legal-industry-trends/"
                                    target="_blank" rel="noopener">Source</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="key-challenges-retail key-challenges-legal">
            <div class="container">
                <h2 class="mt-40">Key challenges<br> for the legal industry</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>Today’s legal sector suffers from excessive paperwork, lack of security, transparency, and
                            slow processes, all arising from outdated methods and practices. Blockchain technology is
                            designed to create an automated, fast, accessible, and tamper-proof environment for legal
                            operations.</p>
                        <p>OpenLedger offers blockchain solutions covering the following critical aspects of the legal
                            industry:</p>
                    </div>
                </div>
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Manual work</h3>
                                <div class="text">
                                    Legal contracts are still handwritten and certified with physical signatures, which
                                    requires time to process and the physical presence of parties. </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Intellectual property</h3>
                                <div class="text">
                                    Every day the industry faces intellectual property violation issues regarding music,
                                    videos, or works of art. Typically, violations stem from the lack of access
                                    permission control. </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Data storage</h3>
                                <div class="text">
                                    With piles of legal documents claiming property ownership, rental, and other rights,
                                    law firms recognize the necessity of adequately organized, searchable database as
                                    never before. </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Documentary evidence</h3>
                                <div class="text">
                                    Some jurisdictions require an auditable, provable chain of custody as well as
                                    requirements for traditional documentary evidence. As a result, such documents might
                                    become not relevant at the time of their presentation. </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Notary services</h3>
                                <div class="text">
                                    Currently, legal documents, such as leases or rental agreements, require the
                                    presence of a general notary who verifies the signatures. The notarization process
                                    itself is costly and time-consuming. </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Arbitration cases</h3>
                                <div class="text">
                                    The average turnaround for an arbitration case through FINRA is 14 months; the
                                    agency currently runs a 4,800-case backlog. Arbitration remains preferable to court
                                    proceedings but is still a slow and unwieldy process. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Quote -->
        <% include ../common/quote.ejs %>
        <!-- Quote -->

        <div class="retail-apps legal-apps">
            <div class="container">
                <h2 class="mt-40">Blockchain for legal: applications</h2>
                <div class="gor-100">
                    <div class="h4">
                        Blockchain has an answer to every burning question faced by the legal industry. Below are some
                        cases proving blockchain’s versatility. </div>
                </div>
                <div
                    class="row row tiles-lable enhance-tiles-lable blockchain-logistics-lable blockchain-legal-lable tiles-lable-collapse">

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>
                                Automated contracts </h3>
                            <div class="text">
                                Delegate the task of contract signing to on-chain, self-executing ‘smart’ contracts that
                                execute agreements between parties automatically when pre-arranged conditions are met.
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>
                                Tamper-proof database </h3>
                            <div class="text">
                                Blockchain might serve you as a useful tool for arranging an irreversible data storage
                                where users can send FOIA requests without the risk of altering data or accessing
                                confidential information. </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>
                                Cost-effective arbitration </h3>
                            <div class="text">
                                With smart contracts, you can limit the number of cases in which disputes are possible.
                                When differences take place, smart contracts could automatically assign arbiters from
                                the selected databases. </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>
                                Evidence tracking </h3>
                            <div class="text">
                                Blockchain takes care of chain of custody recording. Evidence can be stored directly
                                on-chain, or smart contracts can require changes in custody be recorded on-chain,
                                resulting in a tamper-proof, auditable record. </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>
                                No middlemen </h3>
                            <div class="text">
                                Forget about notary services – every document on the blockchain is “marked” by a digital
                                signature serving as a proof of its validity. </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>
                                Property protection </h3>
                            <div class="text">
                                Users can register intellectual property rights with unique IDs, minimizing chances for
                                violation and fraud. </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="funding-assets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="black-desc">How can smart contracts revolutionize the legal industry?</h3>
                    </div>
                    <div class="col-md-8">
                        <div class="scheme-row-point">
                            <img class="additional-scheme additional-scheme-1170"
                                src="/images/additional-schemes/legal_1170.svg">
                            <img class="additional-scheme additional-scheme-1024"
                                src="/images/additional-schemes/legal_1024.svg">
                            <img class="additional-scheme additional-scheme-768"
                                src="/images/additional-schemes/legal_1170.svg">
                            <img class="additional-scheme additional-scheme-320"
                                src="/images/additional-schemes/legal_320.svg">
                        </div>
                    </div>
                </div>
                <img class="manufacturer-dots"
                    src="/images/Solutions/Logistics/dots.svg"
                    alt="Dots">
            </div>
        </div>
        <div class="automotive-solutions">
            <div class="container">
                <h3>Law firms that use blockchain</h3>
                <div class="companies-icons companies-icons6">

                    <img src="/images/Uploads/legal_1.svg">

                    <img src="/images/Uploads/legal_2.svg">

                    <img src="/images/Uploads/legal_3.svg">

                    <img src="/images/Uploads/legal_4.svg">

                    <img src="/images/Uploads/legal_5.svg">

                    <img src="/images/Uploads/legal_6.svg">

                </div>
            </div>
        </div>
        <!-- Quote -->
        <% include ../common/quote.ejs %>
        <!-- Quote -->
        <div class="opportunities-charities">
            <div class="container">
                <h2 class="mt-40">Blockchain opportunities for the legal industry</h2>
                <div class="gor-100">
                    <div class="h4">
                        Eventually, blockchain’s implementation scope might go beyond the existing aspects. Here are
                        just a few examples of entirely new potential use cases.</div>
                </div>
                <div class="row tiles-label-mini tiles-lable-charity-solutions tiles-lable-legal-solutions three-tiles">

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>Automatic asset issuing</h3>
                            <div class="text">
                                Think of estate planning with assets to be provided to an executor upon a particular
                                event or date. Smart contracts could be used to issue the assets automatically at the
                                right moment.</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>Public record maintenance</h3>
                            <div class="text">
                                For governments, the fragmentary nature of census data often makes it challenging to
                                satisfactorily record and maintain it, as well as to extract insights from it.
                                Blockchain could advance this cause by providing shared, secure record storage.</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>Regulatory compliance</h3>
                            <div class="text">
                                Blockchain could make the process of compliance with government regulations faster and
                                less expensive. Every time regulators needed to check a particular certification, they
                                could demand it from a secure blockchain record. </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="charity-benefit">
            <div class="container">
                <h2 class="mt-40">Change the face of your legal operations with OpenLedger</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>With deep expertise in blockchain development, OpenLedger is ready to meet the challenges
                            faced by the legal industry. A custom blockchain or a dapp — we put a personal touch to
                            every project. </p>
                    </div>
                </div>
                <div class="opportunities-points opportunities-points-legal">
                    <div class="row third-point-row">

                        <div class="col-md-4">
                            <div class="third-point">
                                <div class="third-point-icon">
                                    <img src="/images/Uploads/face-of-legal_1.svg"
                                        alt="Professional assistance">
                                </div>
                                <h3>Professional assistance</h3>
                            </div>
                            <div class="third-point-info">
                                <p>As blockchain permeates more and more areas, the law needs to adapt to these changes.
                                    With our blockchain experts, you can count on insightful consultation or a <a
                                        href="/services/blockchain-workshops/">blockchain workshop</a>.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="third-point">
                                <div class="third-point-icon">
                                    <img src="/images/Uploads/face-of-legal_2.svg"
                                        alt="White-label blockchain">
                                </div>
                                <h3>White-label blockchain</h3>
                            </div>
                            <div class="third-point-info">
                                <p>Need a public, private, or hybrid blockchain for your legal documents? We can build a
                                    blockchain protocol tailor-made to your requirements, the one where you can
                                    precisely define access permissions or grant equal access to all network
                                    participants.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="third-point">
                                <div class="third-point-icon">
                                    <img src="/images/Uploads/face-of-legal_3.svg"
                                        alt="Smart<br> applications">
                                </div>
                                <h3>Smart<br> applications</h3>
                            </div>
                            <div class="third-point-info">
                                <p>On your demand, we will build a decentralized application that runs on smart
                                    contracts automating your workflow. Make your legal operations autonomous, fast, and
                                    accurate with DLT.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <hr>
            </div>
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>