<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner solution-single-banner blockchain-iot-banner solution-logistics-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-12">
                    <h1>基于区块链的物流运输方案</h1>
                    <div class="h2-banner h2-banner-indents">使用区块链改进物流行业的流程管理，以此来获得市场竞争的优势并降低成本。</div>
                    <a href="#contact" class="link">免费获取报价</a>
                    <div class="bg"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="content">
        <div class="modern-logistics">
            <div class="container">
                <h2 class="mt-40">目前的物流行业所面临的问题</h2>
                <div class="gor-100">
                    <div class="h4">随着物联网、虚拟现实、增强现实、人工智能、机器学习、机器人等高新科技的发展彻底改变了传统的物流行业，但是物流行业仍然效率低下且缺少改进的方法。</div>
                </div>
                <div class="industry-faces mt60">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3 class="black-desc">如今，全球物流行业主要面临的挑战：</h3>
                        </div>
                        <div class="col-lg-6">
                            <div class="row bold-list">
                                <ul class="two-column">
                                    <li>数据不够透明</li>
                                    <li>运营成本过高</li>
                                    <li>无法跟踪的运输流程</li>
                                    <li>不完整的数据</li>
                                    <li>各方之间缺乏信任</li>
                                    <li>流程过于复杂</li>
                                    <li>数据不准确</li>
                                    <li>中介太多</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="enhance-business-content we-change-the-game">
            <div class="container">
                <h2>我们如何通过区块链改进物流行业的规则</h2>
                <div class="gor-100">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="h4">
                                <p>通过区块链改善物流公司的流程</p>
                            </div>
                        </div>
                        <div class="col-md-6 font-weight-bold">
                            <p>我们的研发团队知道如何将区块链的解决方案实施到物流行业中去</p>
                        </div>
                    </div>
                </div>
                <div class="row tiles-lable enhance-tiles-lable blockchain-logistics-lable tiles-lable-collapse">

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>数据透明</h3>
                            <div class="text">去中心化的账本中记录的数据是完全公开的，每一个参与者都可以对其进行审查。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>流程自动化</h3>
                            <div class="text">当满足了智能合约所设定的条件，就无需在手动的操作。智能合约可以自动执行出发、装运、所有权的变更和其它程序。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>强大的安全性</h3>
                            <div class="text">存储在区块链上的数据可以防止伪造、不小心丢失、未授权</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>可追溯性</h3>
                            <div class="text">区块链可让您跟踪运输物品的每个动作、停靠点。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>真伪鉴定</h3>
                            <div class="text">通过数据的透明性和可追溯性，最终用户可以轻松的查询到货物是否符合规则。例如：原产国、合法性、运输条件等。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>即时合作</h3>
                            <div class="text">我们基于区块链的系统提供的可访问性实现了各方之间的无缝协作。并且提供了一组强大的工作流程工具，例如电子签名和联系人的验证。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="how-blockchain-works-in-logistics">
            <div class="container">
                <h2 class="big-black-title">区块链在物流行业是如何运作的</h2>
                <div class="row advisory-icons hyperledger-icons works-in-logistics-icons">
                    <div class="col-lg-4 df">
                        <div class="ico ico-1"></div>
                        <h3>通过智能合约控制每个阶段的货物交接过程</h3>
                    </div>
                    <div class="col-lg-4 df">
                        <div class="ico ico-2"></div>
                        <h3>物流和仓库能实时的优化库存和出货量</h3>
                    </div>
                    <div class="col-lg-4 df">
                        <div class="ico ico-3"></div>
                        <h3>物流和承运人能够提供货物的状态和可见性
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="manufacturer-scheme">
            <div class="container">
                <div class="manufacturer-scheme-content">
                    <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
                    <img class="manufacturer-image manufacturer-image-1170"
                        src="/images/Solutions/Logistics/manufacturer-scheme1170.svg"
                        alt="How blockchain works in logistics">
                    <img class="manufacturer-image manufacturer-image-1024"
                        src="/images/Solutions/Logistics/manufacturer-scheme1024.svg"
                        alt="How blockchain works in logistics">
                    <div class="manufacturer-points">
                        <div class="manufacturer-point">
                            <div
                                class="manufacturer-point-toggle manufacturer-point-toggle-active manufacturer-point-toggle01">
                                <span class="manufacturer-point-title">制造商</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <div class="dotted-arrow"></div>
                                <ul class="manufacturer-point-list manufacturer-list">
                                    <li>原产地证书</li>
                                    <li>批次号</li>
                                    <li>数据处理</li>
                                    <li>条码</li>
                                    <li>出货日期</li>
                                </ul>
                            </div>
                        </div>
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle manufacturer-point-toggle02">
                                <span class="manufacturer-point-title">供应商</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <div class="dotted-arrow"></div>
                                <ul class="manufacturer-point-list manufacturer-list">
                                    <li>打包清单</li>
                                    <li>订单号</li>
                                    <li>批次号</li>
                                    <li>生产信息</li>
                                    <li>装运规格（DIMS）</li>
                                </ul>
                            </div>
                        </div>
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle manufacturer-point-toggle03">
                                <span class="manufacturer-point-title">物流</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <div class="dotted-arrow"></div>
                                <ul class="manufacturer-point-list manufacturer-list">
                                    <li>提货单</li>
                                    <li>线路提示</li>
                                    <li>发货日期</li>
                                    <li>商品描述</li>
                                </ul>
                            </div>
                        </div>
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle manufacturer-point-toggle04">
                                <span class="manufacturer-point-title">长途运输</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <div class="dotted-arrow"></div>
                                <ul class="manufacturer-point-list manufacturer-list">
                                    <li>签名交付</li>
                                    <li>Temperature</li>
                                    <li>运输状态</li>
                                </ul>
                            </div>
                        </div>
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle manufacturer-point-toggle05">
                                <span class="manufacturer-point-title">仓库</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <div class="dotted-arrow"></div>
                                <ul class="manufacturer-point-list manufacturer-list">
                                    <li>线路提示</li>
                                    <li>选择日期</li>
                                    <li>打包 </li>
                                    <li>技术指标</li>
                                    <li>包装条码</li>
                                </ul>
                            </div>
                        </div>
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle manufacturer-point-toggle06">
                                <span class="manufacturer-point-title">短途运输</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <div class="dotted-arrow"></div>
                                <ul class="manufacturer-point-list manufacturer-list">
                                    <li>接收日期</li>
                                    <li>发票号码</li>
                                    <li>客户ID</li>
                                    <li>运输状态</li>
                                    <li>交货收据</li>
                                </ul>
                            </div>
                        </div>
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle manufacturer-point-toggle07">
                                <span class="manufacturer-point-title">收货人</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr class="grey-divider">
            </hr>
        </div>
        <div class="automotive-solutions">
            <div class="container">
                <h3>使用区块链技术的物流公司：</h3>
                <div class="companies-icons companies-icons4">
                    <img src="/images/companies/logistics1.svg">
                    <img src="/images/companies/logistics2.svg">
                    <img src="/images/companies/logistics3.svg">
                    <img src="/images/companies/logistics4.svg">
                </div>
            </div>
        </div>
        <!-- Quote -->
        <% include ../common/quote.ejs %>
        <!-- Quote -->
        <div class="logistics-processes">
            <div class="container">
                <h2>通过区块链改善物流公司的流程</h2>
                <div class="gor-100">
                    <div class="h4">
                        如今，区块链技术正在重塑物流业，许多企业正在以创新和利益的角度开始重建流程。<br />
                        <br />
                        抓住早期引入区块链技术带来的行业竞争上的优势和享受有效利用区块链的物流业务的好处，例如：</div>
                </div>
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>建立信任</h3>
                                <div class="text">
                                    <p>在供应链中数据的透明性和可追溯性使我们的合作伙伴和客户之间有更多的信任。而且信任是相互的，它不仅可以为您的公司带来好处，也可以为交易方带来好处。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>减少成本</h3>
                                <div class="text">
                                    <p>通过使用智能合约将业务流程自动化，可以大大降低运营成本。 除此之外，因为许多操作都是自动执行无需人工的干预， 因此，您的业务效率也会大大的提升。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>提升信用</h3>
                                <div class="text">
                                    <p>透明、不可篡改的账本使您能充分展示您的诚信，从而提高您的信用。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>提升自信</h3>
                                <div class="text">
                                    <p>区块链可使承包商、合作方和监管机构的合作变得安全和透明；任何一方如有争议，所有方均可以获得完整的记录。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>安全放心</h3>
                                <div class="text">
                                    <p>在基于区块链的系统中，您拥有企业最终的控制权；数据盗窃是不可能发生的，通过自动、不可篡改的记账功能可以很容易的证明数据的伪造。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>提高竞争力</h3>
                                <div class="text">
                                    <p>
                                        早期的采用者将从区块链改变的业务流程中获得非常大的竞争优势，也包括改进服务和提高收益的机会。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>