<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner solution-single-banner blockchain-iot-banner real-estate-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-12">
                    <h1>房地产<br />链改解决方案</h1>
                    <div class="h2-banner h2-banner-indents">
                        专业的技术团队和领域专家结合，<br>提供专业的解决方案。<br>提高房地产的生产效率，<br>确保各合同文件的准确性，<br>并提供实时的数据分析。</div>
                    <a href="#contact" class="link">免费获取报价</a>
                    <div class="bg"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="content">
        <div class="changing-world">
            <div class="container">
                <h2 class="mt-40">Real estate: challenges in a rapidly changing world</h2>
                <div class="gor-100">
                    <div class="h4">
                        As the technologies continue to evolve, OpenLedger’s expertise in implementing blockchain in
                        commercial real estate creates opportunities to grow your business by overcoming the industry’s
                        major challenges. </div>
                </div>
                <div class="industry-faces blockchain-for-real-estate mt60">
                    <div class="row">
                        <div class="col-lg-4">
                            <h3 class="black-desc">房地产的区块链可改善的最佳用例：</h3>
                        </div>
                        <div class="col-lg-4">
                            <div class="row bold-list">
                                <ul>
                                    <li>过多的中介人（代理商，经纪人等）</li>
                                    <li>耗时且耗费纸张的尽职调查</li>
                                    <li>复杂产权管理</li>
                                    <li>所有权转移过程效率低下</li>
                                    <li>物联网数据需求以支持租赁智能合约</li>
                                    <li>有缺陷的财产搜索过程</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row bold-list">
                                <ul>
                                    <li>缺乏物联网预测分析功能，无法在系统故障发生之前进行识别和解决</li>
                                    <li>缺少丰富的实时数据和分析</li>
                                    <li>缓慢而昂贵的融资和付款处理</li>
                                    <li>复杂的法律框架（例如，租赁合同）</li>
                                    <li>高额产权保险及相关费用</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider">
            </div>
        </div>
        <div class="estate-improvement">
            <div class="container">
                <h2 class="mt-40">为什么要使用区块链来改善房地产？</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>区块链是一项强大而有前途的技术，在房地产行业的所有服务类别中都有应用。</p>
                        <p>与OpenLedger经验丰富的区块链开发团队一起探索区块链在房地产中的优势，包括数据管理和财务处理优化。</p>
                    </div>
                </div>
                <div class="row tiles-label-mini">

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>物业管理</h3>
                            <div class="text">利用外部利益相关方的可审核性，并最大限度地减少官僚主义的时间和成本。</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>房地产清单</h3>
                            <div class="text">促进所有相关方之间的联系，并享受信息的免费访问和平稳的数据共享。</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile">
                            <h3>家庭自动化服务</h3>
                            <div class="text">通过智能合约自动提供服务。</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="blockchain-in-real-estate">
            <div class="container">
                <h2 class="mt-40">区块链如何在房地产中运作</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>智能合约简化了房地产交易流程，消除了不必要的中间商，降低了主要参与者的成本并加快了交易的完成。</p>
                        <p>房地产中的区块链提供高效可靠的工作流程，在所有阶段均提供透明性和可见性。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="real-estate-scheme">
            <div class="container">
                <div class="manufacturer-scheme-content">
                    <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
                    <img class="manufacturer-image manufacturer-image-1170"
                        src="/images/Solutions/Real-estate/scheme-real-estate1170.svg"
                        alt="How blockchain works in real estate">
                    <img class="manufacturer-image manufacturer-image-1024"
                        src="/images/Solutions/Real-estate/scheme-real-estate1024.svg"
                        alt="How blockchain works in real estate">
                    <div class="manufacturer-points clinical-points real-estate-points">
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle clinical-point-toggle real-estate-toggle01">
                                <span class="manufacturer-point-title">第1部分</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <img src="/images/Solutions/Real-estate/part01.svg" alt=""
                                    class="estate-part estate-part01">
                            </div>
                        </div>
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle clinical-point-toggle real-estate-toggle02">
                                <span class="manufacturer-point-title">区块链</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <img src="/images/Solutions/Real-estate/scheme.svg" alt="" class="estate-scheme">
                                <img src="/images/Solutions/Real-estate/part02.svg" alt=""
                                    class="estate-part estate-part02">
                            </div>
                        </div>
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle clinical-point-toggle real-estate-toggle03">
                                <span class="manufacturer-point-title">第2部分</span>
                            </div>
                            <div class="manufacturer-point-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr class="grey-divider">
        </div>
        <div class="automotive-solutions">
            <div class="container">
                <h3>房地产公司利用区块链：</h3>
                <div class="companies-icons companies-icons6">
                    <img src="/images/companies/real-estate1.svg">
                    <img src="/images/companies/real-estate2.svg">
                    <img src="/images/companies/real-estate3.svg">
                    <img src="/images/companies/real-estate4.svg">
                    <img src="/images/companies/real-estate5.svg">
                    <img src="/images/companies/real-estate6.svg">
                </div>
            </div>
        </div>
        <!-- Quote -->
        <% include ../common/quote.ejs %>
        <!-- Quote -->
        <div class="technology-for-real-estate">
            <div class="container">
                <h2 class="mt-40">为什么将区块链技术用于房地产？</h2>
                <div class="industry-faces mt60">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3 class="black-desc">扰乱房地产市场</h3>
                        </div>
                        <div class="col-lg-6">
                            <p>与OpenLedger的团队一起发掘区块链房地产开发的潜力。 消除现有的低效率，改善业务流程并从区块链可以为行业提供的独特机会中受益。</p>
                        </div>
                    </div>
                </div>
                <hr class="grey-divider">
            </div>
        </div>

        <div class="technology-points">
            <div class="container">
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>更高的透明度</h3>
                                <div class="text">
                                    <p>更加透明的租赁，买卖交易流程降低了各方的风险。</p>
                                    <p>区块链技术提供了数据完整性，不变的记录保持以及更流畅，更有效的尽职调查。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>降低成本</h3>
                                <div class="text">
                                    <p>房地产的区块链技术为监督和批准财产支出提供了完全的透明度和控制力。</p>
                                    <p>它还降低了会计，合规和财产管理的成本。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>增强安全性和合规性</h3>
                                <div class="text">
                                    <p>区块链技术使房地产企业可以改善尽职调查的安全性和合规性。</p>
                                    <p>对空缺职位，个人资料或财务和法律状况进行快速数字检查。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>更快的受保护付款</h3>
                                <div class="text">
                                    <p>启用区块链的解决方案提高了房地产融资和支付系统的效率。</p>
                                    <p>得益于加密的P2P交易，可受益于更快，成本更低，更安全，更简化的流程。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>及时发现欺诈</h3>
                                <div class="text">
                                    <p>区块链为房地产行业提供分布式，防篡改和加密流程。</p>
                                    <p>正确实施区块链解决方案可消除与标题记录有关的欺诈活动的可能性，并确保标题信息的真实性和准确性。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>简化物业管理</h3>
                                <div class="text">
                                    <p>利用用于商业房地产的区块链解决方案简化财产管理流程。</p>
                                    <p>通过智能合约管理付款，服务交易和支票，并借助自动管理例程节省了工作量。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>具有法律效力的合同</h3>
                                <div class="text">
                                    <p>房地产中由区块链驱动的智能合约可提高租赁条款管理和现金流的透明度，透明度和效率。</p>
                                    <p>花几个小时而不是几天或几周来处理合同。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>实时分析</h3>
                                <div class="text">
                                    <p>通过访问有关个人，财产和组织的付款，交易和数字身份的经过验证的数据，可以促进明智的决策。</p>
                                    <p>分析周转率，预测租金模式并监督收入。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>更容易访问注册表</h3>
                                <div class="text">
                                    <p>区块链促进了对多个房地产登记处的免费访问。</p>
                                    <p>获得有关物业位置，房价，资本价值，所有权历史，租户详细信息和产权明晰度的可信赖和可靠的信息。</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>