<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner retail-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>零售行业<br>链改解决方案</h1>
                    <div class="h2-banner h2-banner-indents">借助零售区块链，建立信任，<br />提高供应链透明度，减少假货，并快速安全地进入新市场。
                    </div>
                    <a href="#contact" class="link">获得免费报价</a>
                    <div class="bg"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="transform-your-key transform-your-key-retail">
            <div class="container">
                <div class="row scheme-row">
                    <div class="col-md-4">
                        <h3 class="black-desc">转变您的关键流程并利用零售中区块链的潜力：</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767" src="/images/Solutions/Retail/key/01.svg" alt="">
                            <img class="show767" src="/images/Solutions/Retail/key/01-xs.svg" alt="">
                            <p><strong>1,170亿美元</strong>每年在美国发布的消费者忠诚度奖励； 无人认领的点会造成资产负债表问题。<a class="teal-link"
                                    href="https://www.cognizant.com/whitepapers/retail-opening-the-doors-to-blockchain-codex2879.pdf"
                                    target="_blank" rel="noopener">Source</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="scheme-row-point">
                            <img class="hidden767" src="/images/Solutions/Retail/key/02.svg" alt="">
                            <img class="show767" src="/images/Solutions/Retail/key/02-xs.svg" alt="">
                            <p><strong>70%</strong> 零售和消费品公司希望在三年内建立一个区块链生产网络。<a class="teal-link"
                                    href="https://coresight.com/research/blockchain-in-retail-decentralizing-the-digitalization-of-retail-operations/"
                                    target="_blank" rel="noopener">Source</a></p>

                        </div>
                    </div>
                </div>
                <hr class="grey-divider dn768">
            </div>
        </div>
        <div class="key-challenges-retail">
            <div class="container">
                <h2 class="mt-40">零售业的主要挑战</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>零售业挣扎着利润空间狭窄，消费者期望值不断提高以及有效数字化转型的所有困难。 在各个渠道中，零售商都面临着与任何大型组织相同的物流挑战，并且需要满足个人消费者的需求。</p>
                        <p>OpenLedger具有解决零售商最紧迫问题的经验和知识，包括：</p>
                    </div>
                </div>
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>运营效率低下</h3>
                                <div class="text">零售供应链缺乏关键业务部门的可见性，并且孤岛式存储和静态记录保存是集成和高效运营管理的主要障碍。</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>综合全渠道零售</h3>
                                <div class="text">
                                    95％的美国消费者在网上购物-然后65％的人在商店购物。 消费者要求进行全渠道购物，但是零售商却在克服数据管理障碍并提供这些障碍。
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>消费者参与和跟踪</h3>
                                <div class="text">
                                    消费者数据收集工作会带来安全风险，并且可能难以编译，共享和分析，从而增加了管理成本。
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>防伪</h3>
                                <div class="text">
                                    2017年，假冒消费品的全球市场价值3400亿美元，损害品牌并降低消费者的信任度和收入。
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>质量，出处，品牌</h3>
                                <div class="text">
                                    消费者想知道他们的产品来自哪里，并且不信任品牌对道德采购和优质材料或成分的主张。
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>合规性</h3>
                                <div class="text">
                                    当前的供应链，生产和销售点技术使整个组织难以建立和证明法规遵从性。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>

        <div class="additional-schemes-block">
            <div class="container">
                <h2 class="mt-40">区块链如何改变零售业的面貌？</h2>
                <div class="h4 gor-100">区块链可确保在整个生产和分销过程中对货物进行端到端跟踪，从而最大程度地减少了假冒供应的机会。</div>
                <div class="additional-schemes">
                    <img class="additional-scheme additional-scheme-1170"
                        src="/images/additional-schemes/retail_1170.svg">
                    <img class="additional-scheme additional-scheme-1024"
                        src="/images/additional-schemes/retail_1024.svg">
                    <img class="additional-scheme additional-scheme-768"
                        src="/images/additional-schemes/retail_768.svg">
                    <img class="additional-scheme additional-scheme-320"
                        src="/images/additional-schemes/retail_320.svg">
                </div>
                <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
            </div>
        </div>

        <div class="retail-apps">
            <div class="container">
                <h2 class="mt-40">区块链和零售：应用</h2>
                <div class="gor-100">
                    <div class="h4">零售是一个由供应，制造，物流和客户关系组成的复杂网络。 以下是可以在零售中实施区块链技术的一些关键方法： </div>
                </div>
                <div
                    class="row tiles-label-mini tiles-lable-collapse tiles-lable-retail-apps three-tiles point-list-accordion-plus">

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>供应链管理</h3>
                            <div class="text">
                                轻松，即时，安全地实现供应链透明，自动将请求上下传递
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>产品验证</h3>
                            <div class="text">打击假冒，证明责任。 从材料采购到货架，向监管者和客户展示您的产品如何符合道德和高品质</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>付款处理</h3>
                            <div class="text">安全地处理付款，创建各方都可以访问的无可辩驳的记录，并接受店内和在线付款</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>数字和店内整合</h3>
                            <div class="text">
                                分散，加密的客户互动和偏好数据库可实现无缝的全渠道互动，可在任何地方实时访问
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>合规审核</h3>
                            <div class="text">
                                向监管机构提供有关活动的透明，不变，可审核的日志，清楚地表明各个辖区都遵守法律，标准和法规
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>会员计划</h3>
                            <div class="text">
                                降低成本，鼓励参与并基于实时访问自动更新，带有时间戳的基于区块链的记录创建无摩擦的系统
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>确保交货</h3>
                            <div class="text">
                                改善消费者的运输体验，通过IoT标签监控整个运输过程中的物品位置，并实时管理交付
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>打击黑客和网络犯罪</h3>
                            <div class="text">
                                将记录保存在安全，加密的区块链上，您可以在其中控制访问权限，并且没有中央数据存储库可供攻击者定位
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>隐私保护</h3>
                            <div class="text">
                                通过控制消费者，让他们对其区块链上的数据拥有主权，让消费者放心他们的隐私
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="automotive-solutions">
            <div class="container">
                <h3>利用区块链的零售公司：</h3>
                <div class="companies-icons companies-icons4">

                    <img src="/images/Uploads/retail_1.svg" alt="retail_1">

                    <img src="/images/Uploads/retail_2.svg" alt="retail_2">

                    <img src="/images/Uploads/retail_3.svg" alt="retail_3">

                    <img src="/images/Uploads/retail_4.svg" alt="retail_4">
                </div>
            </div>
        </div>
        <div class="container">
            <hr>
        </div>
        <div class="insurance-benefits-content">
            <div class="container">
                <h2>零售企业如何从区块链中受益</h2>
                <div class="h4 gor-100">OpenLedger在零售业的区块链领域拥有深厚的专业知识，包括定制开发，智能合约创建以及就如何最有效地利用这种变革性技术为其客户提供咨询服务。</div>
                <div class="gor-100">
                    <div class="row advisory-icons sc-icons retail-icons">

                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                            <div class="ico"></div>
                            <h3 class="icon-text-18">降低整个组织的处理和管理成本</h3>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                            <div class="ico"></div>
                            <h3 class="icon-text-18">基于区块链的单一客户视图推动了统一的客户体验</h3>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                            <div class="ico"></div>
                            <h3 class="icon-text-18">为消费者提供便捷的便利和可靠的隐私</h3>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                            <div class="ico"></div>
                            <h3 class="icon-text-18">快速，安全地处理跨货币和渠道的付款</h3>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                            <div class="ico"></div>
                            <h3 class="icon-text-18">利用智能合约提供全新的增值服务</h3>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                            <div class="ico"></div>
                            <h3 class="icon-text-18">结合物联网和区块链减少欺诈，盗窃和伪造</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
        <div class="retail-opportunities">
            <div class="container">
                <h2>零售中的区块链：您的业务机会</h2>
                <div class="gor-100">
                    <div class="h4">
                        <p>区块链可以提高企业已经完成的工作的效率，安全性和效率。 但是，它也使您能够提供消费者喜爱的全新增值服务。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="opportunities-points">
            <div class="container">
                <div class="row third-point-row">
                    <div class="col-md-4">
                        <div class="third-point">
                            <div class="third-point-icon">
                                <img src="/images/Uploads/shopping-experiences.svg"
                                    alt="Customized omnichannel shopping experiences">
                            </div>
                            <h3 class="fs18">定制的全渠道购物体验</h3>
                        </div>
                        <div class="third-point-info">
                            <p>消费者可以准确确定您要访问的数据。 您可以用它来量身定制他们的购物体验-再也不会在牛排上提供素食主义者折扣。 建立围绕每个客户的整个商店体验。</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="third-point">
                            <div class="third-point-icon">
                                <img src="/images/Uploads/demand-contracts.svg" alt="Consumer demand contracts">
                            </div>
                            <h3 class="fs18">消费者需求合同</h3>
                        </div>
                        <div class="third-point-info">
                            <p>消费者告诉您他们需要的事件或过程-每周购物，婚礼，房屋翻新。 提供来自整个品牌家族的有凝聚力的产品包装，或让竞争品牌向您付款以竞标供应要素。</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="third-point">
                            <div class="third-point-icon">
                                <img src="/images/Uploads/wallet-based-loyalty-schemes.svg"
                                    alt="Wallet-based loyalty schemes">
                            </div>
                            <h3 class="fs18">基于钱包的会员计划</h3>
                        </div>
                        <div class="third-point-info">
                            <p>允许用户将无处不在的奖励积分存储在同一个钱包中，而不是孤立的会员计划中，从而鼓励参与和重复定制。</p>
                        </div>
                    </div>

                </div>
                <hr class="grey-divider">
            </div>
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>