<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner supply-chain-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>基于区块链技术<br>的供应链管理</h1>
                    <div class="h2-banner h2-banner-indents">区块链可以确保您的流程更加合理化, <br>透明的运营管理和全面的资产控制</div>
                    <a href="#contact" class="link">获取报价</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="container text_challenges-block">
            <h2>传统的供应链存在如下问题</h2>
            <div class="row">
                <div class="col-md-4 font-weight-bold">
                    <p>从小规模的批发商到经销商或是全球跨国贸易公司得供应链都存在着相同的危险和障碍</p>
                </div>
                <div class="col-md-4 text_challenges_2-md">
                    <ul>
                        <li>供应链成员可获得到的信息分散、延迟、不完整、不可靠的信息</li>
                        <li>库存管理和文档工作产生的成本</li>
                        <li>自然灾害、无法预见的事情使需求激增</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>资产的可追溯性不足</li>
                        <li>欺诈和盗窃、人为错误、假冒伪劣商品以及安全保障的缺失</li>
                        <li>无法满足客户的期望</li>
                        <li>缺乏通用且可维护的数据库</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>为什么传统的供应链使用区块链技术会更好</h2>
            <div class="row narrow">
                <div class="col-md-6">
                    <div class="h4">改变企业供应链市场的格局</div>
                </div>
                <div class="col-md-6">OpenLedger帮助您从这些主要的区块链机会中受益，从而使数百个供应链运营更具成本效益：</div>
            </div>
            <div class="point-list point-list-accordion">
                <div class="row">
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>完全透明</h3>
                            <div class="text">
                                <p>
                                    存储在区块链中的记录都可以同时、即时地发送给托运人和监管者，并且运用不会被篡改。这种数据的可访问性使决策和操作的流程变得更加效率，更加简单。并且流程的复杂性也能大大降低。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>智能合约</h3>
                            <div class="text">
                                <p>
                                    <!-- 简化和改善到达和离开，装运，所有权变更和其他操作。 通过自动化以前需要手动执行的过程来降低成本。 -->
                                    使用区块链智能合约的技术能够简化、改善货物到达目的地和离开目的地，所有权变更等其他操作。通过智能合约以前需要手动执行的过程现在完全可以自动执行，从而使得您的运营成本大大的降低。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>操作安全</h3>
                            <div class="text">
                                <p>
                                    区块链上的记录无法删除、隐藏或篡改，并且可以防止未经授权的访问。这是一种点对点但适应性比较强的安全解决方案，因此我们可保证供应链的安全问题。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>端到端可追溯性</h3>
                            <div class="text">
                                <p>
                                    区块链可以跟踪每个账户资产的来源，财产。识别欺诈、盗窃和恶意破坏，并可采取一系列有效的措施防止发生事务失败
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>认证与是否符合规章制度</h3>
                            <div class="text">
                                <p>
                                    对于企业管理货物和员工是否符合规章制度的验证和认证从来没有像今天这样简单过
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>无缝协作</h3>
                            <div class="text">
                                <p>
                                    基于区块链的系统允许多个企事业单位和参与者使用电子签名、实时的文档交换、自动校验合同等其它的协作办公方式
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="automotive-solutions">
            <div class="container">
                <h3>已经在供应链的领域中使用区块链技术并受益的公司</h3>
                <div class="companies-icons companies-icons6">
                    <img src="/images/companies/supply-chain1.svg">
                    <img src="/images/companies/supply-chain2.svg">
                    <img src="/images/companies/supply-chain3.svg">
                    <img src="/images/companies/supply-chain4.svg">
                    <img src="/images/companies/supply-chain5.svg">
                    <img src="/images/companies/supply-chain6.svg">
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
        <div class="additional-schemes-block">
            <div class="container">
                <h2 class="mt-40">区块链技术支撑的供应链</h2>
                <div class="h4 gor-100">从供应商到客户，每一环节的运输状态以及任何一方的信息都永久的记录在账本中</div>
                <div class="additional-schemes">
                    <img class="additional-scheme additional-scheme-1170"
                        src="/images/additional-schemes/supply-chain_1170.svg">
                    <img class="additional-scheme additional-scheme-1024"
                        src="/images/additional-schemes/supply-chain_1024.svg">
                    <img class="additional-scheme additional-scheme-768"
                        src="/images/additional-schemes/supply-chain_768.svg">
                    <img class="additional-scheme additional-scheme-320"
                        src="/images/additional-schemes/supply-chain_320.svg">
                </div>
                <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
            </div>
        </div>
        <div class="container">
            <h2 class="mt-40">Get smoother operations and happier customers</h2>
            <div class="h4 narrow-100">
                去中心化的供应链在公司、企业、集团和市场、各行各业中扮演着不可替代的角色，它们将来会改变全球的贸易。
            </div>
            <div class="tiles-list">
                <div class="row tiles-lable-collapse tiles-lable-collapse-chains">
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>消费者满意度</h3>
                            <div class="text">准确的跟踪产品每一步的质量和源头。添加流程更简单方便的库存管理。对客户需求的上升和下降做出合理的改进。一切都比以往要更好、更效率、更加可靠。
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>公平的事务流转</h3>
                            <div class="text">
                                基于区块链技术可以验证资产的来源、制造商、材料等。公司减少了假冒伪劣商品，并且这些都是可证明的，以此来推动持续化和诚信贸易
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>品牌推广</h3>
                            <div class="text">通过提供一流的服务来实现品牌竞争的优势，更加效率的工作流程，透明度提高了合作伙伴与员工之间的信任，并提高了销售的收入。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>贸易便利化</h3>
                            <div class="text">简单的流程使您可以跨国界、辖区和进出口有差异的地方建立联系</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>竞争优势</h3>
                            <div class="text">
                                对于初创的企业而言，使用区块链技术进行运营管理上的优化是赢得更多知名竞争对手的关键。我们基于区块链的解决方案可以应对整个行业的挑战，让您在市场中占据优势。
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>安全的互动</h3>
                            <div class="text">区块链充当供应链中各方之间的单点通信，该网络中只有选定的参与者才能访问数据，而每个动作都记录在去中心化得账本中可以的到安全的保护。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="grey-divider dn768">
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>