<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner supply-chain-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>基于区块链的<br>供应链解决方案</h1>
                    <div class="h2-banner h2-banner-indents">区块链可以确保流程合理化, <br>操作透明和完全的资产控制。</div>
                    <a href="#contact" class="link">获取报价</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="container text_challenges-block">
            <h2>传统的供应链存在各种问题</h2>
            <div class="row">
                <div class="col-md-4 font-weight-bold">
                    <p>从小规模的批发商到经销商或是国际贸易公司得供应链都存在着相同的危险和障碍</p>
                </div>
                <div class="col-md-4 text_challenges_2-md">
                    <ul>
                        <li>供应链成员获得的信息分散、延迟、不完整、不可靠</li>
                        <li>库存管理和文档工作产生的过多的成本</li>
                        <li>自然灾害，不可预见的短缺，需求激增</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>资产的可追溯性不足</li>
                        <li>欺诈和盗窃、人为错误、假冒伪劣商品以及安全保障的缺失</li>
                        <li>无法满足客户的期望</li>
                        <li>缺乏通用且可维护的数据库</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>为什么使用区块链技术的供应链会比使用传统技术的会更好</h2>
            <div class="row narrow">
                <div class="col-md-6">
                    <div class="h4">改变企业供应链市场的格局</div>
                </div>
                <div class="col-md-6">OpenLedger帮助您从这些主要的区块链机会中受益，从而使数百个供应链运营更具成本效益：</div>
            </div>
            <div class="point-list point-list-accordion">
                <div class="row">
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>完全透明</h3>
                            <div class="text">
                                <p>
                                    存储在区块链中的记录都可以同时、即时地发送给发送方、接收方、托运人和监管机构。这种数据的可访问性使决策和操作的流程变得更具效率，更加简单。并且流程的复杂性也能大大降低。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>智能合约</h3>
                            <div class="text">
                                <p>
                                    使用区块链智能合约的技术能够简化、改善货物到港和离岗、装运、所有权变更等其他操作。以前需要手动执行的过程现在完全可以自动化执行，从而使得您的运营成本大大的降低。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>操作安全</h3>
                            <div class="text">
                                <p>
                                    区块链上的记录无法删除、隐藏或篡改，并且可以防止未经授权的访问。这是一种从根本上能保证安全的适合供应链使用的点对点供应链安全解决方案。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>端到端可追溯性</h3>
                            <div class="text">
                                <p>
                                    可以跟踪每一笔资产的来源、性质和跨越贸易区域和边境的流动。识别欺诈、盗窃和损坏，并可在问题发生之前采取预防措施。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>认证和合规</h3>
                            <div class="text">
                                <p>
                                    企业管理商品和员工的合规性、验证和认证方面，从来没有像有了区块链技术以后这样简单。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>无缝协作</h3>
                            <div class="text">
                                <p>
                                    基于区块链的系统允许多个实体和参与者使用电子签名、即时的文档交换、自动校验合同等其它的协作办公方式。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="automotive-solutions">
            <div class="container">
                <h3>已经在供应链的领域中使用区块链技术并受益的公司</h3>
                <div class="companies-icons companies-icons6">
                    <img src="/images/companies/supply-chain1.svg">
                    <img src="/images/companies/supply-chain2.svg">
                    <img src="/images/companies/supply-chain3.svg">
                    <img src="/images/companies/supply-chain4.svg">
                    <img src="/images/companies/supply-chain5.svg">
                    <img src="/images/companies/supply-chain6.svg">
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
        <div class="additional-schemes-block">
            <div class="container">
                <h2 class="mt-40">区块链技术支撑的供应链</h2>
                <div class="h4 gor-100">从供应商到客户，每一环节的运输状态以及任何一方的信息都永久的记录在账本中</div>
                <div class="additional-schemes">
                    <img class="additional-scheme additional-scheme-1170"
                        src="/images/additional-schemes/supply-chain_1170.svg">
                    <img class="additional-scheme additional-scheme-1024"
                        src="/images/additional-schemes/supply-chain_1024.svg">
                    <img class="additional-scheme additional-scheme-768"
                        src="/images/additional-schemes/supply-chain_768.svg">
                    <img class="additional-scheme additional-scheme-320"
                        src="/images/additional-schemes/supply-chain_320.svg">
                </div>
                <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
            </div>
        </div>
        <div class="container">
            <h2 class="mt-40">让运营更顺利，让客户更满意</h2>
            <div class="h4 narrow-100">
                去中心化的供应链正在影响公司、企业、集团和各行各业的市场，改变全球贸易活动和环境。
            </div>
            <div class="tiles-list">
                <div class="row tiles-lable-collapse tiles-lable-collapse-chains">
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>客户满意度</h3>
                            <div class="text">
                                无论是准确地跟踪产品的质量和产地还是更顺畅、更平滑的库存管理和在应对客户需求的变化等方面都比以往任何时候都更好、更快、更可靠。
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>公平交易</h3>
                            <div class="text">
                                基于区块链技术可以验证资产的来源、制造商、材料等。公司减少了假冒伪劣产品，以此来推动公司的可持续化发展和遵守道德的贸易、人权、环保等的可查验性。
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>品牌推广</h3>
                            <div class="text">
                                通过提供一流的服务来实现品牌竞争优势。更好的工作流程、透明度和效率提高了合作伙伴和员工之间的信任，也提高了销售和收入。
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>贸易往来便利化</h3>
                            <div class="text">简化的流程使您能够有效地建立跨越国界、司法管辖区和业务差异的联系。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>竞争优势</h3>
                            <div class="text">
                                对于初创公司来说，使用区块链技术进行运营优化是战胜更强大的竞争对手的关键。我们基于区块链的解决方案使您可以应对整个行业的挑战,在充满激烈竞争的市场中获得优势。
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>安全的互动</h3>
                            <div class="text">
                                区块链是供应链中所有参与方之间的单一通信点，在这个网络中，只有选定的参与方可以访问数据，每个操作都记录在分布式账本上，并受到安全保护。
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="grey-divider dn768">
        </div>
        <% include ../common/solutions.ejs %>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>