<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner supply-chain-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>基于区块链技术<br>的供应链管理</h1>
                    <div class="h2-banner h2-banner-indents">区块链可以确保您的流程更加合理化, <br>透明的运营管理和全面的资产控制</div>
                    <a href="#contact" class="link">获取报价</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="container text_challenges-block">
            <h2>传统的供应链存在如下问题</h2>
            <div class="row">
                <div class="col-md-4 font-weight-bold">
                    <p>从小规模的批发商到经销商或是全球跨国贸易公司得供应链都存在着相同的危险和障碍</p>
                </div>
                <div class="col-md-4 text_challenges_2-md">
                    <ul>
                        <li>供应链成员可获得到的信息分散、延迟、不完整、不可靠的信息</li>
                        <li>库存管理和文档工作产生的成本</li>
                        <li>自然灾害、无法预见的事情使需求激增</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>资产的可追溯性不足</li>
                        <li>欺诈和盗窃、人为错误、假冒伪劣商品以及安全保障的缺失</li>
                        <li>无法满足客户的期望</li>
                        <li>缺乏通用且可维护的数据库</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- OL-way -->
        <div class="olway-wrap container">
            <div class="olway">
                <div class="olway-slider-dots">
                    <a href="#!" class="olway-slider-first"><svg width="140" height="40" viewBox="0 0 140 40"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M34.3982 1.14471V24.7859C34.3982 28.2119 37.1666 30.9803 40.5845 30.9803V39.9838C35.2425 39.9838 30.5338 37.191 27.8547 33.0099C28.2362 32.4498 28.561 31.8328 28.8533 31.2157L26.986 31.4512C27.2377 31.9951 27.5299 32.5228 27.8547 33.0262C25.1756 37.2072 20.4668 40 15.1248 40C6.79521 40 0 33.2048 0 24.8752C0 16.5456 6.79521 9.75036 15.1248 9.75036C19.1273 9.75036 22.7725 11.301 25.4678 13.8583V15.5632L27.2052 15.7824C26.6775 15.0923 26.1011 14.4591 25.4678 13.8583V8.91415C25.4678 8.0617 23.6412 6.86828 23.6412 6.86828V4.66004L32.531 0L34.3982 1.14471ZM30.0467 22.3584C29.9411 21.7739 29.8112 21.2137 29.6489 20.6535L25.4841 21.1812V21.8307L30.0467 22.3584ZM25.4678 19.0867V19.7361L29.5271 20.2233C29.3485 19.6793 29.1455 19.1516 28.9101 18.6483L25.4678 19.0867ZM30.2334 24.4611C30.2334 23.8604 30.1766 23.2596 30.0873 22.6832L25.4678 23.2677V23.9172L30.2334 24.4611ZM30.2496 24.8752V24.7696L25.4922 25.3623C25.4922 25.5734 25.5084 25.7926 25.5247 26.0118L30.1603 26.5395C30.2172 25.9955 30.2496 25.4354 30.2496 24.8752ZM29.795 28.5772C29.9411 28.017 30.0467 27.4488 30.1197 26.8723L25.6789 27.4325C25.7073 27.5502 25.7297 27.668 25.752 27.7857C25.7743 27.9034 25.7966 28.0211 25.825 28.1388L29.795 28.5772ZM27.8905 16.7768C27.8731 16.7484 27.8558 16.72 27.8384 16.6917L25.4841 17.0002V17.6497L28.6178 18.0313C28.3976 17.606 28.1419 17.1879 27.8905 16.7768ZM7.7126 24.8752C7.7126 28.975 11.0331 32.2874 15.1248 32.2874C19.2166 32.2874 22.537 28.9669 22.537 24.8752C22.537 20.7753 19.2247 17.463 15.1248 17.463C11.025 17.463 7.7126 20.7834 7.7126 24.8752ZM26.1904 29.4378C26.2797 29.7301 26.3771 30.0223 26.4826 30.2902L29.1212 30.5581C29.3404 30.0467 29.519 29.5271 29.6651 28.9994L26.1904 29.4378Z"
                                fill="#00DCE6" fill-opacity="0.3" />
                            <path
                                d="M86.2438 12.3152L77.3681 39.6852H69.0789L63.8395 23.0286L58.3655 39.6852H50.0763L41.2006 12.3152H49.177L54.6901 29.7929L60.4769 12.3152H67.5931L73.1062 29.9493L78.8539 12.3152H86.2438Z"
                                fill="#00DCE6" fill-opacity="0.3" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M105.228 34.3676H93.6545L91.504 39.6852H83.6058L95.6877 12.3152H103.312L115.433 39.6852H107.379L105.228 34.3676ZM102.96 28.659L99.4413 19.9006L95.9223 28.659H102.96Z"
                                fill="#00DCE6" fill-opacity="0.3" />
                            <path
                                d="M129.399 39.6852V29.8711L139.878 12.3152H132.371L125.88 23.185L119.39 12.3152H111.218L121.657 29.7538V39.6852H129.399Z"
                                fill="#00DCE6" fill-opacity="0.3" />
                        </svg></a>
                    <a href="#!" class="olway-slider-second"><svg width="216" height="40" viewBox="0 0 216 40"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M56.4117 9.02255L56.0667 7.77659L53.9534 8.33512C51.2363 -0.12878 42.4813 0.000112601 42.3951 0.000112601L42.4382 1.28903C42.4382 1.28903 42.9126 1.28903 43.6458 1.37496L43.4733 11.0848L36.7884 12.8463C36.7884 12.5456 36.7453 12.3308 36.7453 12.2019C36.314 7.08917 34.2007 4.38244 32.3031 4.33947C31.4836 4.33947 30.7505 4.64022 30.1467 5.28468C29.4566 6.01507 28.6803 7.56177 29.0253 10.6552C29.1547 12.073 29.586 13.4478 30.1467 14.6079L22.0386 16.7561L21.6073 17.6583C21.6504 17.7442 22.5993 19.7206 25.4457 19.8065C27.6452 19.8495 33.2088 19.205 33.4244 19.205L33.8126 18.1309C33.8126 18.1309 32.8637 17.0568 31.9581 15.4671L35.4083 14.5649C35.322 16.842 34.8045 19.6776 33.5969 22.4703C33.295 22.3843 32.95 22.2984 32.6481 22.2555C28.249 21.5251 23.9362 22.771 20.0547 24.4896C20.141 23.6303 20.0547 22.814 19.7097 22.1695C19.1921 21.0525 18.1139 20.408 16.6907 20.408C15.0087 20.408 13.3698 21.9117 11.6447 23.5014C9.83334 25.177 7.97884 26.8526 6.16746 26.8526C2.58783 26.8526 0.948959 25.8644 0.948959 25.8644L0.000140826 26.337C0.000140826 26.423 -0.0429872 28.1845 1.38024 29.6023C2.58783 30.8053 4.48546 31.4068 6.94376 31.3638C9.40206 31.3209 12.2916 29.8171 15.6556 28.0556C16.3888 27.6689 17.122 27.2822 17.8983 26.8956C17.7689 27.0674 17.6395 27.2393 17.5101 27.4111C15.3537 29.989 13.5855 30.5475 13.5855 30.5475L13.1542 31.3209C13.1542 31.3209 13.6717 33.2542 12.7229 35.4884C11.9466 37.3788 10.049 38.324 10.049 38.324L9.48832 38.6247L10.049 39.7848L10.6097 39.484C10.6959 39.441 12.9386 38.324 13.8874 36.0039C14.7068 34.1135 14.6206 32.4379 14.4912 31.5786C15.2675 31.192 16.777 30.2897 18.5021 28.2704C19.0628 27.583 19.494 26.8096 19.7959 25.9933C23.8068 24.1459 28.0765 22.6851 32.5187 23.4584C32.7344 23.5014 32.9069 23.5444 33.1225 23.5873C32.3462 25.134 31.3111 26.6378 29.9742 28.0126C28.8097 27.8837 27.6021 27.8837 26.3945 27.9267C23.2031 28.0556 19.1921 28.8719 17.5533 30.7623C16.3457 32.1801 16.0869 33.5979 16.8632 34.5002C18.2433 36.0899 21.9955 35.1876 27.1708 31.9223C28.4216 31.149 29.5429 30.2468 30.4917 29.3445C32.6912 29.6023 34.8045 30.2038 36.314 31.192C40.8856 34.1135 44.6808 39.1403 44.724 39.1833L45.8884 38.6677C45.8453 38.5388 45.069 34.9298 43.0851 31.106C40.9287 26.9385 38.1254 24.1029 34.9339 22.8569C36.3571 19.4628 36.7021 16.2405 36.7453 14.2212L43.732 12.3737L48.8211 20.408C48.2173 20.8376 47.7861 21.0954 47.7429 21.1384L48.3899 22.2555C48.4761 22.2125 56.1529 17.7872 54.2984 9.58108L56.4117 9.02255ZM18.7177 25.0911C17.467 25.6926 16.2594 26.337 15.095 26.9385C11.8604 28.6141 9.10017 30.0319 6.94376 30.1179C4.83049 30.1608 3.321 29.6882 2.32906 28.743C1.89778 28.3134 1.63901 27.8408 1.50962 27.4541C2.45844 27.7978 4.01105 28.1415 6.21059 28.1415C8.5395 28.1415 10.5665 26.2511 12.5935 24.4466C14.0599 23.0718 15.6125 21.6969 16.777 21.6969C17.6827 21.6969 18.3296 22.0406 18.6315 22.7281C18.9334 23.3296 18.9334 24.1888 18.7177 25.0911ZM26.5239 30.8482C21.2623 34.1565 18.459 34.3283 17.8552 33.6839C17.5533 33.3402 17.812 32.4809 18.5452 31.6216C19.8822 30.0749 23.5912 29.1727 27.4727 29.1727C27.904 29.1727 28.2922 29.1727 28.7234 29.2156C28.0765 29.7741 27.3433 30.3327 26.5239 30.8482ZM43.7752 36.0469C42.1794 34.2854 39.7642 31.8794 37.0472 30.1608C35.6671 29.2586 33.7694 28.6141 31.613 28.2704C32.8206 26.8956 33.7263 25.4778 34.4595 24.0599C39.5917 26.0363 42.4813 32.2661 43.7752 36.0469ZM32.1306 18.002C30.3623 18.1739 26.9983 18.5176 25.4888 18.4746C24.4106 18.4317 23.7206 18.0879 23.3324 17.7442L30.7073 15.8109C31.2249 16.7131 31.7424 17.4435 32.1306 18.002ZM31.3974 14.2642C30.8799 13.1471 30.4486 11.8582 30.3192 10.5263C30.1035 8.50698 30.4054 6.96028 31.1386 6.18692C31.5268 5.75729 31.9581 5.67136 32.26 5.67136C32.26 5.67136 32.26 5.67136 32.3031 5.67136C33.2088 5.67136 35.0633 7.69066 35.4514 12.3737C35.4946 12.6315 35.4946 12.9323 35.4946 13.233L31.3974 14.2642ZM44.9396 1.63274C47.441 2.23424 51.1932 3.90983 52.7458 8.63587L44.7671 10.7411L44.9396 1.63274ZM49.8562 19.5058L45.1121 11.9871L53.0908 9.88183C54.0828 14.5219 51.7538 17.7442 49.8562 19.5058Z"
                                fill="#00DCE6" fill-opacity="0.3" />
                            <path
                                d="M95.9608 37.809C94.9689 38.5394 91.9499 39.1409 89.1035 39.1409C83.7556 39.1409 73.9224 34.5867 73.9224 23.502C73.9224 21.0101 74.138 18.733 75.0006 16.6707C75.8631 14.6085 76.8551 13.2336 78.192 11.644C81.6854 7.56238 86.257 6.44531 90.8717 6.44531C95.5727 6.44531 100.274 9.19501 102.301 11.8158C101.611 12.4173 98.3329 14.8233 98.3329 14.8233C97.0822 13.7922 94.8826 11.3432 90.6992 11.3432C86.3433 11.3432 83.4968 13.1477 82.4186 14.3077C81.3835 15.4677 80.1759 17.0145 79.5721 18.5612C79.0115 20.1079 78.7096 21.7405 78.7096 23.459C78.7096 27.1969 82.8068 34.0711 89.1466 34.0711C90.958 34.0711 92.985 33.9852 93.7613 33.5556L95.9608 37.809Z"
                                fill="#00DCE6" fill-opacity="0.3" />
                            <path
                                d="M125.59 18.1743C125.633 18.7328 125.676 20.2795 125.676 20.7091C125.676 20.7091 125.978 20.5802 126.452 20.0647C126.927 19.5921 127.444 19.1195 128.048 18.7758C128.652 18.3891 129.299 18.1313 130.032 17.9165C130.765 17.7017 132.663 17.6157 133.439 17.6157C138.787 17.6157 140.642 21.8262 140.642 26.2515L140.771 39.4414H136.027V27.6263C136.027 22.9862 133.396 21.8692 131.153 21.8692C129.471 21.8692 128.005 22.3418 127.099 23.7166C126.107 25.2203 125.978 27.9271 125.978 30.0323V39.4414H121.363V18.0883L125.59 18.1743Z"
                                fill="#00DCE6" fill-opacity="0.3" />
                            <path
                                d="M154.787 21.9545H150.302V32.6955C150.302 33.9844 150.474 34.414 150.906 34.9726C151.466 35.7029 155.477 35.2303 155.822 35.0585L155.952 39.183C155.434 39.3549 154.528 39.4838 153.925 39.6127C153.321 39.6986 152.674 39.7845 152.027 39.7845C150 39.7845 148.102 39.226 147.067 38.1089C145.989 36.9919 145.471 35.3592 145.471 33.1251V21.9545H142.625V18.2166H145.471V12.0728H150.302V18.1736H154.787V21.9545Z"
                                fill="#00DCE6" fill-opacity="0.3" />
                            <path
                                d="M171.219 22.5136C170.313 21.6973 169.192 21.4825 167.596 21.4825C166.388 21.4825 165.267 21.8262 164.318 22.4707C163.456 23.0292 162.981 23.7596 162.162 24.7477L158.539 22.4277C160.221 19.2054 162.507 17.6157 168.027 17.6157C169.537 17.6157 171.736 17.6587 173.806 19.2054C175.618 20.5373 176.739 22.5136 176.739 26.2085V39.5273H172.038C172.038 39.5273 172.211 37.7658 172.211 36.7777C172.211 36.7777 171.176 38.4103 169.968 39.0547C168.804 39.6992 167.38 40 165.741 40C164.922 40 164.016 39.8711 163.111 39.6562C162.205 39.4414 161.342 39.0547 160.609 38.5392C159.876 38.0236 159.229 37.3792 158.755 36.5199C158.28 35.7036 158.021 34.6724 158.021 33.4265C158.021 31.7938 158.367 30.1612 159.229 29.216C160.092 28.2708 161.127 27.5834 162.55 27.0678C163.973 26.5952 165.526 26.2085 167.294 26.0796C169.062 25.9507 170.442 25.8218 172.211 25.8218C172.211 25.8218 172.34 23.5877 171.219 22.5136ZM169.925 29.6027C168.804 29.6027 166.475 29.9034 165.569 30.1612C164.663 30.419 162.679 31.4072 162.679 33.1687C162.679 35.5747 165.785 35.8324 166.345 35.8324C168.027 35.8324 169.795 35.2309 170.874 34.028C171.952 32.8679 172.211 31.2783 172.211 30.3331V29.5597C172.168 29.6027 171.305 29.6027 169.925 29.6027Z"
                                fill="#00DCE6" fill-opacity="0.3" />
                            <path
                                d="M194.465 39.4415V36.5199C193.862 37.4651 193.344 38.0237 192.05 38.797C190.756 39.5704 189.376 40 187.78 40C183.942 40 182.26 38.3674 181.613 37.5511C180.966 36.7777 179.802 35.1021 179.802 31.3643V18.1743H184.632V29.9035C184.632 30.7628 184.675 32.4384 184.934 33.0828C185.236 33.8562 186.185 35.5318 189.117 35.5318C192.956 35.5318 194.207 31.5361 194.207 29.4309L194.163 18.1313H198.864L199.037 39.3985H194.465V39.4415Z"
                                fill="#00DCE6" fill-opacity="0.3" />
                            <path
                                d="M202.487 18.1742H206.843C206.843 18.1742 206.886 21.1817 206.886 21.6114C206.886 21.6114 208.309 19.5061 209.43 18.7328C210.552 17.9594 211.889 17.5728 213.312 17.5728C213.959 17.5728 214.563 17.6587 215.21 17.6157L215.339 22.2988C215.339 22.2988 213.873 22.2129 212.881 22.2129C211.846 22.2129 210.422 22.4706 209.301 23.3299C207.921 24.3611 207.145 26.3804 207.145 28.3137L207.188 39.3985H202.659C202.659 39.4414 202.53 18.8617 202.487 18.1742Z"
                                fill="#00DCE6" fill-opacity="0.3" />
                            <path
                                d="M72.8867 26.5515C72.8867 26.5515 72.973 27.6686 73.1886 28.4419C73.3611 29.2153 74.0512 30.2464 74.0512 30.2464H64.0886V32.5235L60.4658 28.356L63.9592 24.2744V26.5515H72.8867Z"
                                fill="#00DCE6" fill-opacity="0.3" />
                            <path
                                d="M118.646 24.0174C118.172 22.6425 117.482 21.4825 116.576 20.5373C115.67 19.5921 114.592 18.8617 113.341 18.3461C112.048 17.8305 110.624 17.5728 109.072 17.5728C107.519 17.5728 105.751 17.8735 104.371 18.432C103.034 18.9906 102.085 19.5921 101.093 20.5802C100.101 21.5684 99.411 22.9003 98.8503 24.2751C98.5484 25.0485 98.3328 25.8648 98.2034 26.7241H80.9521C80.9521 26.7241 81.1247 27.4974 81.5128 28.3137C81.901 29.173 82.8498 30.1182 82.8498 30.1182H98.074C98.2034 31.2783 98.4622 32.3953 98.8503 33.3835C99.411 34.7583 100.187 35.9184 101.179 36.9065C102.171 37.8947 103.336 38.6251 104.716 39.1836C106.096 39.7422 107.605 39.9999 109.201 39.9999C111.099 39.9999 112.867 39.5273 114.333 38.9258C115.412 38.4962 116.878 37.2932 117.611 36.6058L115.455 32.9968C114.204 34.5865 111.056 35.8324 109.158 35.8324C105.449 35.8324 102.602 33.1687 102.559 30.1182H118.732L118.603 30.0323H119.164C119.207 29.7745 119.207 29.5597 119.207 29.3019C119.207 29.0441 119.207 28.8293 119.207 28.5715C119.336 26.9389 119.121 25.3922 118.646 24.0174ZM102.818 26.6382C102.818 24.3181 105.578 21.3965 108.856 21.3965C112.177 21.3965 114.247 24.3181 114.247 26.767L102.818 26.6382Z"
                                fill="#00DCE6" fill-opacity="0.3" />
                        </svg></a>
                </div>
                <div class="olway-slider">
                    <div class="olway-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="olway-slide-info">
                                        <h4>基于区块链技术的货物跟踪解决方案</h4>
                                        <!-- <h6>OLWay is a logistics and supply chain ecosystem integrated with IoT
                                            platforms to make shipping more transparent.</h6> -->
                                        <p>
                                            我们开发的区块链产品可以使用传感器、GPS等设备数据来跟踪货运。数据存储在区块链上，通过区块链实现信息实时共享来保证顺利的转运和跨境交易
                                        </p>
                                        <!-- <a class="link modal-demo" href="#!">Request a Demo</a> -->
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="olway-banner">
                                        <div class="popup-video video-olway-xl">
                                            <a class="btn-play" href="https://youtu.be/6VxHwMcEjEQ?rel=0&showinfo=0"
                                                data-poptrox="youtube,1170x658">
                                                <img src="/images/Solutions/banner-olway.png"
                                                    srcset="/images/Solutions/banner-olway@2x.png 2x" alt="OLWAY">
                                                <span class="olway-play">
                                                    <svg width="72" height="50" viewBox="0 0 72 50" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M69.9361 7.80701C71.429 13.378 71.429 24.9997 71.429 24.9997C71.429 24.9997 71.429 36.622 69.9361 42.1924C69.1148 45.2651 66.6947 47.6864 63.6214 48.5072C58.051 50 35.7142 50 35.7142 50C35.7142 50 13.378 50 7.80759 48.5072C4.7343 47.6864 2.31423 45.2651 1.49284 42.1924C0 36.622 0 24.9997 0 24.9997C0 24.9997 0 13.378 1.49284 7.80701C2.31423 4.7343 4.7343 2.31364 7.80759 1.49226C13.378 -1.49012e-07 35.7142 0 35.7142 0C35.7142 0 58.051 -1.49012e-07 63.6214 1.49226C66.6947 2.31364 69.1148 4.7343 69.9361 7.80701ZM28.5716 35.7142L47.1284 25.0003L28.5716 14.2852V35.7142Z"
                                                            fill="#1F2432" />
                                                    </svg>
                                                </span>
                                            </a>
                                            <div class="video-olway-xs">
                                                <iframe width="570" height="320"
                                                    src="https://www.youtube.com/embed/6VxHwMcEjEQ?rel=0&showinfo=0"
                                                    allowfullscreen allow="autoplay; encrypted-media"></iframe>
                                            </div>
                                            <img class="olway-banner-part"
                                                src="/images/Solutions/olway-banner-part.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="olway-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="olway-slide-info">
                                        <h4 class="hiiden991">基于区块链的物联网平台，用于物流，供应链和物联网</h4>
                                        <!-- <h4 class="visible991">Blockchain-based Internet-of-Crops platform</h4> -->
                                        <img src="/images/Solutions/Centaur-slide-logo.svg" alt="Centaur">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="olway-slide-info">
                                        <!-- <h6 class="hiiden991">OpenLedger implemented blockchain technology for Centaur
                                            AG’s IOT-based solution for tracking the provenance of cereal supply chains.
                                        </h6> -->
                                        <h6 class="visible991">基于区块链的农作物解决方案</h6>
                                        <p class="hiiden991">该解决方案使用物联网传感器监控当前温度，湿度，氧气水平以及农作物的其他状况数据。
                                            然后将来自传感器的数据记录在区块链上，确保可追溯性，快速处理和安全的数据存储。</p>
                                        <!-- <p class="visible991">It uses IoT sensors to monitor current temperatures,
                                            humidity, moisture, oxygen level, and other data about crops’ condition. The
                                            data is recorded on a blockchain, which guarantees traceability, fast
                                            processing, and secure storage.</p>
                                        <a class="link" href="/portfolio/internet-of-crops-platform/">Learn More</a> -->
                                    </div>
                                </div>
                            </div>
                            <img class="Centaur-slide-img" src="/images/Solutions/Centaur-slide-img.png"
                                srcset="/images/Solutions/Centaur-slide-img.png 2x" alt="Centaur">
                            <img class="Centaur-slide-img-xs" src="/images/Solutions/Centaur-slide-img-xs.png"
                                srcset="/images/Solutions/Centaur-slide-img-xs@2x.png 2x" alt="Centaur">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- OL-way -->

        <div class="container">
            <h2>为什么传统的供应链使用区块链技术会更好</h2>
            <div class="row narrow">
                <div class="col-md-6">
                    <div class="h4">改变企业供应链市场的格局</div>
                </div>
                <div class="col-md-6">OpenLedger帮助您从这些主要的区块链机会中受益，从而使数百个供应链运营更具成本效益：</div>
            </div>
            <div class="point-list point-list-accordion">
                <div class="row">
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>完全透明</h3>
                            <div class="text">
                                <p>
                                    存储在区块链中的记录都可以同时、即时地发送给托运人和监管者，并且运用不会被篡改。这种数据的可访问性使决策和操作的流程变得更加效率，更加简单。并且流程的复杂性也能大大降低。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>智能合约</h3>
                            <div class="text">
                                <p>
                                    <!-- 简化和改善到达和离开，装运，所有权变更和其他操作。 通过自动化以前需要手动执行的过程来降低成本。 -->
                                    使用区块链智能合约的技术能够简化、改善货物到达目的地和离开目的地，所有权变更等其他操作。通过智能合约以前需要手动执行的过程现在完全可以自动执行，从而使得您的运营成本大大的降低。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>操作安全</h3>
                            <div class="text">
                                <p>
                                    区块链上的记录无法删除、隐藏或篡改，并且可以防止未经授权的访问。这是一种点对点但适应性比较强的安全解决方案，因此我们可保证供应链的安全问题。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>端到端可追溯性</h3>
                            <div class="text">
                                <p>
                                    区块链可以跟踪每个账户资产的来源，财产。识别欺诈、盗窃和恶意破坏，并可采取一系列有效的措施防止交易失败的发生
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>认证与是否符合规章制度</h3>
                            <div class="text">
                                <p>
                                    对于企业管理货物和员工是否符合规章制度的验证和认证从来没有像今天这样简单过
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>无缝协作</h3>
                            <div class="text">
                                <p>
                                    基于区块链的系统允许多个企事业单位和参与者使用电子签名、实时的文档交换、自动校验合同等其它的协作办公方式
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="automotive-solutions">
            <div class="container">
                <h3>已经在供应链的领域中使用区块链技术并受益的公司</h3>
                <div class="companies-icons companies-icons6">
                    <img src="/images/companies/supply-chain1.svg">
                    <img src="/images/companies/supply-chain2.svg">
                    <img src="/images/companies/supply-chain3.svg">
                    <img src="/images/companies/supply-chain4.svg">
                    <img src="/images/companies/supply-chain5.svg">
                    <img src="/images/companies/supply-chain6.svg">
                </div>
            </div>
        </div>
        <!-- Quote -->
        <div class="block-call">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-right-block">
                        <img src="/images/320_free_quote.svg" alt="">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="block-call__text-btn">
                            <h2>获取免费报价</h2>
                            <p>给我们发送有关您项目的电话，我们将在一个工作日内与您联系以提供详细信息</p>
                            <a href="#contact">联系我们</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Quote -->
        <div class="additional-schemes-block">
            <div class="container">
                <h2 class="mt-40">区块链技术支撑的供应链</h2>
                <div class="h4 gor-100">从供应商到客户，每一环节的运输状态以及任何一方的信息都永久的记录在账本中</div>
                <div class="additional-schemes">
                    <img class="additional-scheme additional-scheme-1170"
                        src="/images/additional-schemes/supply-chain_1170.svg">
                    <img class="additional-scheme additional-scheme-1024"
                        src="/images/additional-schemes/supply-chain_1024.svg">
                    <img class="additional-scheme additional-scheme-768"
                        src="/images/additional-schemes/supply-chain_768.svg">
                    <img class="additional-scheme additional-scheme-320"
                        src="/images/additional-schemes/supply-chain_320.svg">
                </div>
                <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
            </div>
        </div>
        <div class="container">
            <h2 class="mt-40">Get smoother operations and happier customers</h2>
            <div class="h4 narrow-100">
                去中心化的供应链在公司、企业、集团和市场、各行各业中扮演着不可替代的角色，它们将来会改变全球的贸易。
            </div>
            <div class="tiles-list">
                <div class="row tiles-lable-collapse tiles-lable-collapse-chains">
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>消费者满意度</h3>
                            <div class="text">准确的跟踪产品每一步的质量和源头。添加流程更简单方便的库存管理。对客户需求的上升和下降做出合理的改进。一切都比以往要更好、更效率、更加可靠。
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>公平的交易</h3>
                            <div class="text">
                                基于区块链技术可以验证资产的来源、制造商、材料等。公司减少了假冒伪劣商品，并且这些都是可证明的，以此来推动持续化和诚信贸易
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>品牌推广</h3>
                            <div class="text">通过提供一流的服务来实现品牌竞争的优势，更加效率的工作流程，透明度提高了合作伙伴与员工之间的信任，并提高了销售的收入。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>贸易便利化</h3>
                            <div class="text">简单的流程使您可以跨国界、辖区和进出口有差异的地方建立联系</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>竞争优势</h3>
                            <div class="text">
                                对于初创的企业而言，使用区块链技术进行运营管理上的优化是赢得更多知名竞争对手的关键。我们基于区块链的解决方案可以应对整个行业的挑战，让您在市场中占据优势。
                            </div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>安全的互动</h3>
                            <div class="text">区块链充当供应链中各方之间的单点通信，该网络中只有选定的参与者才能访问数据，而每个动作都记录在去中心化得账本中可以的到安全的保护。</div>
                            <div class="fade-out"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="grey-divider dn768">
        </div>
        <div class="explore-blockchain-solutions">
            <div class="container">
                <h2 class="big-black-title">我们正在探索如下领域的区块链解决方案</h2>
                <div class="explore-blockchain-solutions-content">
                    <div class="slider-explore-blockchain-solutions">

                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="https://openledger.info/wp-content/uploads/2018/12/02.svg" alt="IoT">
                            </div>
                            <h3 class="explore-slide-title">物联网</h3>
                            <p class="explore-slide-desc">
                                OpenLedger提供了创新的解决方案，将物联网与加密的，不变的，可审核的区块链相结合。
                            </p>
                            <a href="/solutions/blockchain-iot/" class="explore-slide-link link">了解更多</a>
                        </div>

                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="https://openledger.info/wp-content/uploads/2019/01/Logistics-1.svg"
                                    alt="Logistics">
                            </div>
                            <h3 class="explore-slide-title">物流运输</h3>
                            <p class="explore-slide-desc">
                                利用区块链技术改善您的物流流程，以获得竞争优势并降低运营成本。
                            </p>
                            <a href="/solutions/blockchain-logistics/" class="explore-slide-link link">了解更多</a>
                        </div>

                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="https://openledger.info/wp-content/uploads/2019/01/Healthcare-1.svg"
                                    alt="Healthcare">
                            </div>
                            <h3 class="explore-slide-title">医疗健康</h3>
                            <p class="explore-slide-desc">使用区块链技术可更好地保护隐私，有效地交换数据并在医疗保健中保护患者数据。</p>
                            <a href="/solutions/blockchain-healthcare/" class="explore-slide-link link">了解更多</a>
                        </div>

                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="https://openledger.info/wp-content/uploads/2019/02/real-estate.svg"
                                    alt="Real estate">
                            </div>
                            <h3 class="explore-slide-title">房地产</h3>
                            <p class="explore-slide-desc">探索区块链在房地产中的优势，包括数据管理和财务处理优化。</p>
                            <a href="/solutions/blockchain-real-estate/" class="explore-slide-link link">了解更多</a>
                        </div>

                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="https://openledger.info/wp-content/uploads/2019/03/Insurance.svg"
                                    alt="Insurance">
                            </div>
                            <h3 class="explore-slide-title">保险</h3>
                            <p class="explore-slide-desc">改变您的部分关键流程，利用区块链在保险行业中的潜力。</p>
                            <a href="/solutions/blockchain-insurance/" class="explore-slide-link link">了解更多</a>
                        </div>

                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="https://openledger.info/wp-content/uploads/2019/03/automotive.svg"
                                    alt="Automotive">
                            </div>
                            <h3 class="explore-slide-title">汽车行业</h3>
                            <p class="explore-slide-desc">无论是拼车，制造，车辆跟踪，汽车互动，区块链都能为您的业务提供动力。</p>
                            <a href="/solutions/blockchain-automotive/" class="explore-slide-link link">了解更多</a>
                        </div>

                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="https://openledger.info/wp-content/uploads/2019/03/retail.svg" alt="Retail">
                            </div>
                            <h3 class="explore-slide-title">零售</h3>
                            <p class="explore-slide-desc">利用零售区块链建立消费者信任，提高供应链可管理性，防止假冒商品。</p>
                            <a href="/solutions/blockchain-retail/" class="explore-slide-link link">了解更多</a>
                        </div>

                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="https://openledger.info/wp-content/uploads/2019/04/education.svg"
                                    alt="Education">
                            </div>
                            <h3 class="explore-slide-title">教育</h3>
                            <p class="explore-slide-desc">OpenLedger带来了一支经验丰富的区块链开发人员团队，并为教育项目创建了自定义解决方案。</p>
                            <a href="/solutions/blockchain-education/" class="explore-slide-link link">了解更多</a>
                        </div>

                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="https://openledger.info/wp-content/uploads/2019/04/charity.svg" alt="Charity">
                            </div>
                            <h3 class="explore-slide-title">慈善机构</h3>
                            <p class="explore-slide-desc">与捐助者，受助者和其他利益相关者建立信任，确保援助到达合适的人，并提高管理成本。</p>
                            <a href="/solutions/blockchain-charity/" class="explore-slide-link link">了解更多</a>
                        </div>

                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="https://openledger.info/wp-content/uploads/2019/09/agriculture.svg"
                                    alt="Agriculture">
                            </div>
                            <h3 class="explore-slide-title">农业</h3>
                            <p class="explore-slide-desc">改善分配，为生产者和消费者建立从农场到货架的供应审核，并减少食品欺诈。</p>
                            <a href="/solutions/blockchain-agriculture/" class="explore-slide-link link">了解更多</a>
                        </div>

                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="https://openledger.info/wp-content/uploads/2019/09/legal.svg" alt="Legal">
                            </div>
                            <h3 class="explore-slide-title">法律</h3>
                            <p class="explore-slide-desc">自动执行协议，为文档提供安全且可维护的数据库。</p>
                            <a href="/solutions/blockchain-legal/" class="explore-slide-link link">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>