<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title>企业区块链解决方案，服务和产品-OpenLedger</title>
    <!-- All in One SEO Pack 3.2.9 by Michael Torbert of Semper Fi Web Designob_start_detected [-1,-1] -->
    <meta name="description"
        content="OpenLedger为企业和各个行业构建创新的区块链解决方案和产品。 较低的费用并受益于区块链机会，例如令人印象深刻的安全级别，最大的透明度，优化和自动化的流程以及简化的流程。" />

    <link rel="canonical" href="https://openledger.info/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="企业区块链解决方案，服务和产品-OpenLedger" />
    <meta property="og:description"
        content="OpenLedger为企业和各个行业构建创新的区块链解决方案和产品。 较低的费用并受益于区块链机会，例如令人印象深刻的安全级别，最大的透明度，优化和自动化的流程以及简化的流程。" />
    <meta property="og:url" content="https://openledger.info/" />
    <meta property="og:site_name" content="openledger.info" />
    <meta property="og:image" content="/images/open-grap-openledger-1200-630.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:secure_url" content="/images/open-grap-openledger-1200-630.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="企业区块链解决方案，服务和产品-OpenLedger" />
    <meta name="twitter:description"
        content="OpenLedger为企业和各个行业构建创新的区块链解决方案和产品。 较低的费用并受益于区块链机会，例如令人印象深刻的安全级别，最大的透明度，优化和自动化的流程以及简化的流程。" />
    <meta name="twitter:image" content="/images/open-grap-openledger-1200-630.jpg" />
    <!-- All in One SEO Pack -->
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet' id='openledger-bootstrap-css-css' href='/packages/bootstrap/css/bootstrap.css' media='all' />
    <link rel='stylesheet' id='openledger-slick-css-css' href='/packages/slick/slick.css' media='all' />
    <link rel='stylesheet' id='openledger-slick-theme-css-css' href='/packages/slick/slick-theme.css' media='all' />
    <link rel='stylesheet' id='openledger-lightbox-css-css' href='/packages/light-box/css/lightbox.min.js'
        media='all' />
    <link rel='stylesheet' id='openledger-style-css' href='/css/style.css' media='all' />
    <link rel='stylesheet' id='openledger-screen-css-css' href='/css/screen.css' media='all' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
    <style>
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h1>使用区块链技术开发您的业务</h1>
                    <div class="h2-banner h2-border color-white">我们提供可影响您整个行业的区块链技术服务和解决方案</div>
                    <a href="#contact" class="link">现在联系</a>
                </div>
                <div class="col-md-6 banner-bg d-none d-md-block"></div>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="container">
            <div class="bubbles-wrap">
                <h2>区块链技术渗透到的行业</h2>
                <div class="h4 gor-100">区块链技术正在推动或者说是颠覆各行各业的发展包括：</div>
                <div class="bubbles">
                    <div class="bubble bubble-1 s-130">保险</div>
                    <div class="bubble bubble-2 s-90">法律</div>
                    <div class="bubble bubble-3 s-130">卫生保健</div>
                    <div class="bubble bubble-4 s-90">零售</div>
                    <div class="bubble bubble-5 s-120">后勤</div>
                    <div class="bubble bubble-6 s-90">旅行</div>
                    <div class="bubble bubble-7 s-120">人力资源</div>
                    <div class="bubble bubble-8 s-135">教育</div>
                    <div class="bubble bubble-9 s-130">媒体和娱乐</div>
                    <div class="bubble bubble-10 s-170">医药</div>
                    <div class="bubble bubble-11 s-130">银行和金融科技</div>
                    <div class="bubble bubble-12 s-130">房地产</div>
                    <div class="bubble bubble-13 s-170">供应链管理</div>
                    <div class="bubble bubble-14 s-135">数字广告</div>
                </div>
            </div>
        </div>
        <!-- Quote -->
        <div class="block-call">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-right-block">
                        <img src="https://openledger.info/wp-content/themes/openledger/assets/images/320_free_quote.svg"
                            alt="">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="block-call__text-btn">
                            <h2>获取免费报价</h2>
                            <p>给我们发送有关您未来项目的电话，我们将在一个工作日内与您联系以提供详细信息</p>
                            <a href="#contact">联系我们</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Quote -->
        <div class="container">
            <h2>定制化的区块链开发</h2>
            <div class="gor-100 clearfix">
                <div>
                    <div class="h4">帮助企事业单位规划应用程序的功能、设计Token、开发部署。</div>
                    <div class="h4">帮助合作伙伴从众多行业领先的区块链底层系统（比特股，EOS，超级账本和以太坊等）中选择出最合适您的系统。
                    </div>
                </div>
            </div>

            <div class="point-list point-list-accordion">
                <div class="row jc-center">
                    <div class="col-md-4 dn768">
                        <div class="custom-img-point">
                            <img class="img-responsive"
                                src="https://openledger.info/wp-content/themes/openledger/assets/images/Services/custom-blockchain1.png"
                                srcset="https://openledger.info/wp-content/themes/openledger/assets/images/Services/custom-blockchain1@2x.png 2x"
                                alt="Eosio blockchain">
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="point point-accordion">
                            <h3>通信权限认证</h3>
                            <div class="text">通信智能授权，并永久记录在账本上。</div>
                        </div>
                    </div>
                    <div class="col-md-4 dn768">
                        <div class="custom-img-point">
                            <img class="img-responsive"
                                src="https://openledger.info/wp-content/themes/openledger/assets/images/Services/custom-blockchain2.png"
                                srcset="https://openledger.info/wp-content/themes/openledger/assets/images/Services/custom-blockchain2@2x.png 2x"
                                alt="Eosio blockchain">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>智能合约</h3>
                            <div class="text">
                                <p>定时自动执行的合约或者通过某个时间点，或者是发生的某一件事去触发该合约。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>去中心化身份验证</h3>
                            <div class="text">
                                <p>安全的去中心化的自动识别和权限认证。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>去中心化存储</h3>
                            <div class="text">
                                <p>安全地存储文件并快速的访问，通过去中心化的身份认证可以设置访问者是否有权限访问该文件。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>跨境企业转账</h3>
                            <div class="text">
                                <p>简单、快速、低成本地跨货币和跨国界付款和收款。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>网络攻击预防</h3>
                            <div class="text">
                                <p>去中心化的区块链技术使传统黑客束手无措。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>符合GDPR和SOX</h3>
                            <div class="text">
                                <p>为敏感的数据和行为提供可验证的安全的监管链。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container dot-wrap60px">
            <img src="https://openledger.info/wp-content/themes/openledger/assets/images/Solutions/Logistics/dots.svg"
                alt="Dots" class="dots">
        </div>

        <div class="container technologies blockchain-development">
            <!-- Technologies -->
            <div class="row custom-tech-point">
                <div class="col-md-4 col-sm-12">
                    <h3 class="title-check">技术栈</h3>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="grey-block">
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/08/python.svg" alt="Python">
                            </div>
                            <span>Python</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/08/c-1.svg" alt="C++">
                            </div>
                            <span>C++</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/08/c.svg" alt="C#">
                            </div>
                            <span>C#</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/08/unity.svg" alt="Unity">
                            </div>
                            <span>Unity</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/08/postgresql.svg"
                                    alt="PostgreSQL">
                            </div>
                            <span>PostgreSQL</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/08/reactjs.svg"
                                    alt="React.js">
                            </div>
                            <span>React.js</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/08/nodejs.svg" alt="Node.js">
                            </div>
                            <span>Node.js</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/08/go.svg" alt="Go">
                            </div>
                            <span>Go</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/08/solidity.svg"
                                    alt="Solidity">
                            </div>
                            <span>Solidity</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row custom-tech-point">
                <div class="col-md-4 col-sm-12">
                    <h3 class="title-check">区块链技术</h3>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="grey-block">
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/08/bitshares.svg"
                                    alt="BitShares">
                            </div>
                            <span>比特股</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/08/bitcoin.svg" alt="genEOS">
                            </div>
                            <span>GenEOS</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/08/ethereum.svg"
                                    alt="Ethereum">
                            </div>
                            <span>以太坊</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/08/eos.svg" alt="EOSIO">
                            </div>
                            <span>EOSIO</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="https://openledger.info/wp-content/uploads/2018/10/hyperledger.svg"
                                    alt="HyperLedger">
                            </div>
                            <span>超级账本</span>
                        </div>
                    </div>
                </div>
            </div> <!-- Technologies -->
        </div>
        <!-- Quote -->
        <div class="block-call">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-right-block">
                        <img src="https://openledger.info/wp-content/themes/openledger/assets/images/320_free_quote.svg"
                            alt="">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="block-call__text-btn">
                            <h2>获得免费报价</h2>
                            <p>给我们发送有关您未来项目的电话，我们将在一个工作日内与您联系以提供详细信息</p>
                            <a href="#contact">联系我们</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Quote -->

        <!-- Our Process -->
        <div class="container mt-60px solutions-tools">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="h1 color-h2 m-0 p-0">工作流程</h2>
                </div>
                <div class="col-md-6">
                    <p>成功的定制区块链项目需要独特的技能和程序。我们使用精心设计的区块链开发流程以及敏捷方法，使您的项目完全按照您的业务要求实现。</p>
                    <p>OOpenLedger内部团队的经理，研究人员，建筑师，开发商，质量保证专家和其他专业人员将在以下阶段启动，设计，规划和交付定制的区块链解决方案：</p>
                </div>
            </div>
        </div>
        <div class="container mt-30px solution-container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="background-white sol1 sol-tile">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="h2">
                                    <span>1 <span>/</span></span>研究与计划</h3>
                                <p class="mt-10px">研究阶段可能比开发阶段更长，因为我们需要确保我们能够准确地识别出您的问题和要求，并设计出一种完美解决它们的方法。</p>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>分析业务需求和问题</li>
                                    <li>收集要求</li>
                                    <li>考虑预算和时间表</li>
                                    <li>找出障碍和风险</li>
                                    <li>制定策略和计划</li>
                                    <li>创建原型</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-30px solution-container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="background-white sol2 sol-tile">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="h2">
                                    <span>2 <span>/</span></span>开发</h3>
                                <p class="mt-10px">强大的敏捷过程是此阶段的核心。随时参加每日站立会议和每周团队会议，全天候24/7跟踪项目进度，并定期收到报告，以了解您的解决方案如何发展。
                                </p>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>设计，开发和测试解决方案</li>
                                    <li>建立文档</li>
                                    <li>启动和部署项目</li>
                                    <li>与当前环境集成</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-30px solution-container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="background-white sol3 sol-tile">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="h2">
                                    <span>3 <span>/</span></span>支持</h3>
                                <p class="mt-10px">随着公司的发展壮大，您的区块链解决方案需要与时俱进。这就是我们提供持续支持以及新功能，改进和对现有功能的升级的原因。</p>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>支持和维护解决方案</li>
                                    <li>A分析和研究改进</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Process -->
    </div>


    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>