<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner banner-plus-text eosio-development-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>EOSIO 开发</h1>
                    <div class="h2-banner">扩展去中心化应用程序：<br>商业用区块链4.0</div>
                    <div class="text">
                        <div>
                            <div>EOSIO是网络速度下的区块链，具有企业所需的安全性和权限结构。</div>
                        </div>
                    </div>
                    <a href="#contact" class="link">现在联系</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="why-graphene-content why-eosio">
                <h2>为什么选择EOSIO？</h2>
                <div class="h4 gor-100">
                    在通用的智能合约平台上构建和运行去中心化的应用程序可以为您企业的业务运营提供动力。拥有和传统程序的速度和健壮性，基于角色的安全控制，无限的可扩展性，智能合约互锁，快速开发和部署。</div>
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>企业级安全</h3>
                                <div class="text">
                                    <p>基于角色的权限使您可以将业务结构构建到关键任务Dapp中，从而确保不同的访问级别，同时保留完整的加密和可审核的活动日志。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>拓展性问题已经解决</h3>
                                <div class="text">
                                    <p>EOSIO支持数千个商业规模的Dapp。DPoS区块链结构使操作保持在链上并允许无限拓展。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>适用于所有业务的Dapps</h3>
                                <div class="text">
                                    <p>用EOSIO编写的去中心化应用程序可以满足包括您在内的多个行业和行业的业务需求。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="enhance-business-content eosio-every-business">
                <h2>EOSIO：每个业务，每个流程</h2>
                <div class="gor-100">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="h4">
                                <p>EOSIO Dapps建立在全球最快的公链上，它是改善数据安全和速度至关重要的因素 。</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>EOSIO Dapps使用简单，闪电般快速且可无限扩展，可为您的业务流程提供安全性，透明和自动化。</p>
                            <p>EOSIO基于DPoS共识算法构建，目前能够以500M/s的块间隔在1,000到6,000
                                TPS之间运行，并且有望更快。可用性，可扩展性，多功能智能合约，API和高性能使其成为企业的理想选择。</p>
                        </div>
                    </div>
                </div>
                <div class="row tiles-lable tiles-lable-collapse right-icon-lable eosio-tiles-lable">

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>智能合约API</h3>
                            <div class="text">使用C和C++中的EOSIO API将EOSIO智能合约构建到您现有的业务软件中。随时随地获得EOSIO智能合约的效率和安全性。<div
                                    class="fade-out"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>性能</h3>
                            <div class="text">
                                EOSIO现在很快，并且一直都在变得越来越快。开发团队的既定目标是扩展到无限的TPS。与PoW区块链不同，EOSIO的结构意味着随着规模的扩大，它可以加速而不是减慢速度。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>易用性</h3>
                            <div class="text">
                                通过基于权益的访问，最终用户无需支付交易费用。借助易于使用的Dapp，他们不需要技术经验和技能。在Dapp所有者支持网络的同时，EOSIO允许最终用户执行他们需要做的事情。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>快速部署</h3>
                            <div class="text">简单的开发方法意味着EOSIO Dapps可以快速启动并运行。快速而有信心地从构思到部署。<div class="fade-out">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>互通智能合约</h3>
                            <div class="text">EOSIO智能合约永无止境地运行，并且没有时间限制，并且任何数量的智能合约都可以相互交互-区块链的ITTT，具有无限的业务应用程序。<div
                                    class="fade-out"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>自动化管理与合规</h3>
                            <div class="text">默认情况下，数据输入和检索是自动进行的，创建不可变的审计跟踪也是默认的。满足记录保留要求并轻松证明合规性。<div
                                    class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Quote -->
        <div class="block-call">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-right-block">
                        <img src="/images/320_free_quote.svg"
                            alt="">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="block-call__text-btn">
                            <h2>获得免费报价</h2>
                            <p>给我们发送有关您未来项目的电话，我们将在一个工作日内与您联系以提供详细信息</p>
                            <a href="#contact">联系我们</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Quote -->

        <div class="eosio-apps">
            <div class="container">
                <h2 class="mt-40">使用EOSIO：实际应用程序</h2>
                <div
                    class="row tiles-label-mini tiles-lable-collapse three-tiles point-list-accordion-plus eosio-apps-lable">

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>分散应用</h3>
                            <div class="text">EOSIO允许用户根据所需功能使用EOS令牌或自己的令牌创建分散式应用程序。</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>智能合约</h3>
                            <div class="text">创建自我执行的合同，相互关联并可能永久保存，以管理流程和付款。</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>数码钱包</h3>
                            <div class="text">
                                创建钱包和帐户，安全地存储公钥-私钥，并确保令牌安全。
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>去中心化交易所</h3>
                            <div class="text">直接在区块链上轻松构建功能齐全的交易所：不可入侵且迅捷。</div>
                        </div>
                    </div>
                    <div class="col-md-4 tiles-label-img hidden-768">
                        <img src="/images/Uploads/eosio-blockchain.png"
                            srcset="/images/Uploads/eosio-blockchain@2x.png 2x"
                            alt="">
                    </div>

                    <div class="col-md-4">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>私人和公共区块链</h3>
                            <div class="text">
                                前叉和自定义EOSIO链可提供您所需的隐私和连接级别。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="explore-blockchain-solutions explore-blockchain-solutions-eosio">
            <div class="container">
                <h2 class="mt-40">您所在行业的EOSIO</h2>
                <div class="gor-100">
                    <div class="h4">
                        自2014年以来，在OpenLedger，我们一直在开发业务区块链解决方案。我们的团队在将业务与EOSIO中的正确工具和Dapp功能进行匹配方面具有丰富的经验，然后为跨多个行业和行业的用例构建和部署这些Dapp。
                    </div>
                </div>
                <div class="explore-blockchain-solutions-content">
                    <div class="slider-explore-blockchain-solutions">
                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="/images/Uploads/01.svg" alt="Supply chain">
                            </div>
                            <h3 class="explore-slide-title">供应链</h3>
                            <p class="explore-slide-desc">如果您对供应链的各种区块链解决方案感兴趣，我们将提供丰富的经验和专业知识。</p>
                            <a href="/solutions/blockchain-supply-chain/" class="explore-slide-link link">了解更多</a>
                        </div>
                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="/images/Uploads/02.svg" alt="IoT">
                            </div>
                            <h3 class="explore-slide-title">物联网</h3>
                            <p class="explore-slide-desc">OpenLedger提供了创新的解决方案，将物联网与加密的，不变的，可审核的区块链相结合。</p>
                            <a href="/solutions/blockchain-iot/" class="explore-slide-link link">了解更多</a>
                        </div>
                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="/images/Uploads/Logistics-1.svg"
                                    alt="Logistics">
                            </div>
                            <h3 class="explore-slide-title">后勤</h3>
                            <p class="explore-slide-desc">利用区块链技术改善您的物流流程，以获得竞争优势并降低运营成本。</p>
                            <a href="/solutions/blockchain-logistics/" class="explore-slide-link link">了解更多</a>
                        </div>
                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="/images/Uploads/Healthcare-1.svg"
                                    alt="Healthcare">
                            </div>
                            <h3 class="explore-slide-title">卫生保健</h3>
                            <p class="explore-slide-desc">使用区块链技术可以更好地保护隐私，有效地交换数据并在医疗保健中保护患者数据。</p>
                            <a href="/solutions/blockchain-healthcare/" class="explore-slide-link link">了解更多</a>
                        </div>
                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="/images/Uploads/real-estate.svg"
                                    alt="Real estate">
                            </div>
                            <h3 class="explore-slide-title">房地产</h3>
                            <p class="explore-slide-desc">探索区块链在房地产中的优势，包括数据管理和财务处理优化。</p>
                            <a href="/solutions/blockchain-real-estate/" class="explore-slide-link link">了解更多</a>
                        </div>
                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="/images/Uploads/Insurance.svg"
                                    alt="Insurance">
                            </div>
                            <h3 class="explore-slide-title">保险</h3>
                            <p class="explore-slide-desc">转变您的关键流程并利用区块链在保险行业中的潜力。</p>
                            <a href="/solutions/blockchain-insurance/" class="explore-slide-link link">了解更多</a>
                        </div>
                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="/images/Uploads/automotive.svg"
                                    alt="Automotive">
                            </div>
                            <h3 class="explore-slide-title">汽车行业</h3>
                            <p class="explore-slide-desc">无论是拼车，制造，车辆跟踪，汽车互动，区块链都能为您的业务提供动力。</p>
                            <a href="/solutions/blockchain-automotive/" class="explore-slide-link link">了解更多</a>
                        </div>
                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="/images/Uploads/retail.svg" alt="Retail">
                            </div>
                            <h3 class="explore-slide-title">零售</h3>
                            <p class="explore-slide-desc">利用零售区块链建立消费者信任，提高供应链可管理性，防止假冒商品。</p>
                            <a href="/solutions/blockchain-retail/" class="explore-slide-link link">了解更多</a>
                        </div>
                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="/images/Uploads/education.svg"
                                    alt="Education">
                            </div>
                            <h3 class="explore-slide-title">教育</h3>
                            <p class="explore-slide-desc">OpenLedger带来了一支经验丰富的区块链开发人员团队，并为教育项目创建了自定义解决方案。</p>
                            <a href="/solutions/blockchain-education/" class="explore-slide-link link">了解更多</a>
                        </div>
                        <div class="explore-slide">
                            <div class="explore-slide-icon">
                                <img src="/images/Uploads/charity.svg" alt="Charity">
                            </div>
                            <h3 class="explore-slide-title">慈善机构</h3>
                            <p class="explore-slide-desc">与捐助者，受助者和其他利益相关者建立信任，确保援助到达合适的人，并提高管理成本。</p>
                            <a href="/solutions/blockchain-charity/" class="explore-slide-link link">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>