<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner banner-plus-text graphene-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>石墨烯和比特股开发</h1>
                    <div class="h2-banner">石墨烯区块链的功能齐全且速度极快</div>
                    <div class="text">
                        <div>
                            <div>
                                我们的Graphene(石墨烯)开发团队可以将BitShares(比特股)无缝集成到您企业管理的流程中。
                            </div>
                        </div>
                    </div>
                    <a href="#contact" class="link">联系我们</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="why-graphene-content">
                <h2>为什么要选择石墨烯？</h2>
                <div class="point-list point-list-accordion">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>高事务吞吐量</h3>
                                <div class="text">
                                    <p>石墨烯可以处理超过3000(TPS)，以太坊可以处理25(TPS)，比特币仅7(TPS)。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>用途广泛</h3>
                                <div class="text">
                                    <p>石墨烯是开源的，它提供了一系列多功能的模块，因此可以实现从金融到航天等跨行业、领域的商业场景。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>良好的口碑</h3>
                                <div class="text">
                                    <p>
                                        石墨烯自2014年起开始投入使用到目前为止已经拥有了很多知名的应用，如BitShares，Steemit去中心化的社交发布门户以及EOS智能合约的生态系统等都是基于石墨烯的。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="enhance-business-content">
                <h2>使用BitShares(比特股)改进业务流程</h2>
                <div class="gor-100">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="h4">
                                <p>
                                    BitShares是功能强大和通用的区块链平台之一
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>
                                石墨烯拥有高达10万TPS的性能，超过了Visa和万事达（全球排名一，二的国际信用卡组织）处理能力的总和。
                            </p>
                            <p>
                                高性能和多功能的结合意味着它可以解决和改进各个行业、领域的数据安全以及事务处理效率相关的问题。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row tiles-lable tiles-lable-collapse right-icon-lable enhance-tiles-lable">
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>客户忠诚度</h3>
                            <div class="text">
                                去中心化的客户忠诚度系统。基于BitShares区块链系统中的奖励分数可以被看作为加密货币用于交换、购买、捐赠、等等。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>数据交换</h3>
                            <div class="text">
                                将BitShares集成到公司内部系统中可以提高数据流通性、安全性并使过程更加透明可追溯。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>云存储</h3>
                            <div class="text">
                                通过去中心化的区块链数据存储允许您完全控制您的数据，并确保数据不会被删除、破坏或篡改。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>支付</h3>
                            <div class="text">
                                无缝地集成BitShares加快事务的处理是，即时安全地处理支付。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>网络安全</h3>
                            <div class="text">
                                不可操作未经过授权许可的数据。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>财务审计</h3>
                            <div class="text">
                                很容易的创建跨越国家边界的货币，使得审计的工作量减小，安全性大大提高。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
        <div class="container">
            <div class="industry-is-covered-content">
                <h2>改进各个行业</h2>
                <div class="h4 gor-100">
                    从不同的场景调整BitShares，来满足特定的企业需求。可以说任何行业都可以从BitShares中得到好处，这是一些已经投入使用的案例：
                </div>
                <div class="industry-is-covered-list">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="point">
                                <div class="covered-point-img"><img src="/images/Uploads/Automotive-image.png"
                                        srcset="/images/Uploads/Automotive-image@2x.png 2x" alt="Automotive"></div>
                                <h3>汽车</h3>
                                <div class="text">
                                    <p>
                                        汽车经销商和销售员利用区块链，为客户提供每一辆汽车和零部件从生产到销售的完整历史。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point">
                                <div class="covered-point-img"><img src="/images/Uploads/Supply-chain-image.png"
                                        srcset="/images/Uploads/Supply-chain-image@2x.png 2x" alt="Supply chains"></div>
                                <h3>供应链</h3>
                                <div class="text">
                                    <p>
                                        涉及到供应链时，流程的透明度至关重要。通过利用BitShares，可以使货物易于追踪、改进法规、遵从管理、安全操作等。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point">
                                <div class="covered-point-img"><img src="/images/Uploads/Logistic-image.png"
                                        srcset="/images/Uploads/Logistic-image@2x.png 2x" alt="Logistics"></div>
                                <h3>物流</h3>
                                <div class="text">
                                    <p>
                                        监控运输车辆的行程，保证跟踪数据不被篡改和伪造。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h4 gor-100">通过专业的技能和多年区块链行业的经验，我们是将石墨烯和BitShares区块链无缝集成到您的业务流程中的最佳合作方。</div>
            </div>
        </div>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->

</body>

</html>