<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner banner-plus-text graphene-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>石墨烯和比特股开发</h1>
                    <div class="h2-banner">企业整合</div>
                    <div class="text">
                        <div>
                            <div>
                                发挥功能齐全、快速的石墨烯区块链的潜力。<br><br>我们经验丰富的石墨烯(Graphene)开发团队将把比特股(BitShares)区块链无缝集成到您企业管理的流程中，使它们更加透明，高效，安全。
                            </div>
                        </div>
                    </div>
                    <a href="#contact" class="link">联系我们</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="why-graphene-content">
                <h2>为什么要选择石墨烯</h2>
                <div class="h4 gor-100">We chose Graphene as the foundation for our own product, OpenLedger DEX. Now
                    we’re set to bring the power of this blockchain platform to your business through features like:
                </div>
                <div class="point-list point-list-accordion">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>高事务吞吐量</h3>
                                <div class="text">
                                    <p>石墨烯每秒可以处理超过3000(TPS)个事务，以太坊可以处理25TPS，比特币仅7TPS。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>多功能应用</h3>
                                <div class="text">
                                    <p>石墨烯是开源的，并且它提供一系列的多功能模块，因此可以实现从银行到航空跨多个行业的多样化业务需求的目的。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>Proven track record</h3>
                                <div class="text">
                                    <p>Graphene has been in operation since 2014. It’s behind widely-recognized digital
                                        products like the BitShares blockchain platform, the Steemit decentralized
                                        social publishing portal, and the EOS smart contract ecosystem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="enhance-business-content">
                <h2>Enhance your business processes with BitShares</h2>
                <div class="gor-100">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="h4">
                                <p>We help enterprises enhance, accelerate, and secure their business processes by
                                    leveraging one of the most powerful and versatile blockchains — BitShares.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>Running on Graphene, it’s capable of up to 100,000 TPS, exceeding the processing capacity
                                of Visa and MasterCard combined. According to <a class="blue-link"
                                    href="https://blocktivity.info/" target="blank">Block&#8217;tivity</a>, BitShares is
                                the world’s second-fastest blockchain.</p>
                            <p>Combined with the versatility provided by Graphene development, this speed means we can
                                improve every business function where data security and transaction velocity matter:</p>
                        </div>
                    </div>
                </div>
                <div class="row tiles-lable tiles-lable-collapse right-icon-lable enhance-tiles-lable">
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>Customer loyalty</h3>
                            <div class="text">We will develop your own decentralized customer loyalty system. Within a
                                BitShares-based system, reward points can be treated as a cryptocurrency: exchanged,
                                used for purchases, donated, given as a gift, and more. <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>Data exchange</h3>
                            <div class="text">Integrating BitShares into data exchange within your company will increase
                                the security of data circulation and make the process more transparent. We will make
                                this integration painless and stress-free. <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>Cloud storage</h3>
                            <div class="text">A decentralized blockchain-based data storage allows you to control your
                                data and make sure that it doesn’t get erased, compromised, or modified. BitShares not
                                only does that but also reduces transaction costs. <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>Payment processing</h3>
                            <div class="text">Accelerating transactions is a great way to improve your business
                                processes. We can seamlessly integrate BitShares so that you can handle payments
                                securely and safely — all on the fly. <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>Cybersecurity</h3>
                            <div class="text">We leverage the genuine decentralization of BitShares to keep your data
                                protected from unauthorized manipulations. <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>Financial tracking</h3>
                            <div class="text">With the BitShares blockchain, you can easily go beyond national currency
                                borders and make audit less complicated. <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
        <div class="container">
            <div class="industry-is-covered-content">
                <h2>Your industry is covered</h2>
                <div class="h4 gor-100">We know how to adjust the multifaceted BitShares to your specific enterprise
                    needs. Almost any industry can benefit from BitShares development, but some established use cases
                    are:</div>
                <div class="industry-is-covered-list">
                    <div class="row">


                        <div class="col-md-4">
                            <div class="point">
                                <div class="covered-point-img"><img
                                        src="/images/Uploads/Automotive-image.png"
                                        srcset="/images/Uploads/Automotive-image@2x.png 2x"
                                        alt="Automotive"></div>
                                <h3>Automotive</h3>
                                <div class="text">
                                    <p>We help car dealers and brokers take advantage of blockchain to serve their
                                        clients with the full history of every vehicle and spare parts, from
                                        pre-production to sales.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point">
                                <div class="covered-point-img"><img
                                        src="/images/Uploads/Supply-chain-image.png"
                                        srcset="/images/Uploads/Supply-chain-image@2x.png 2x"
                                        alt="Supply chains"></div>
                                <h3>Supply chains</h3>
                                <div class="text">
                                    <p>When it comes to supply chains, transparency is the key. We can make shipments
                                        easily traceable, improve compliance management, secure operations, and more by
                                        leveraging BitShares.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point">
                                <div class="covered-point-img"><img
                                        src="/images/Uploads/Logistic-image.png"
                                        srcset="/images/Uploads/Logistic-image@2x.png 2x"
                                        alt="Logistics"></div>
                                <h3>Logistics</h3>
                                <div class="text">
                                    <p>BitShares development is your way to improve your logistics processes. This
                                        technology will let you monitor your vehicle journeys and protect tracking data
                                        from modifications and forgery.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h4 gor-100">With one of the most experienced development teams, we’re the natural choice to
                    build Graphene and BitShares seamlessly into your business.</div>
            </div>
        </div>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->

</body>

</html>