<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner banner-plus-text graphene-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>石墨烯和比特股开发</h1>
                    <div class="h2-banner">将功能齐全且速度快的石墨烯区块链的潜力发挥出来。</div>
                    <div class="text">
                        <div>
                            <div>
                                我们经验丰富的石墨烯(Graphene)开发团队将把比特股(BitShares)区块链无缝集成到您企业管理的流程中，使它们更加透明，高效，安全。
                            </div>
                        </div>
                    </div>
                    <a href="#contact" class="link">联系我们</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="why-graphene-content">
                <h2>为什么要选择石墨烯？</h2>
                <div class="point-list point-list-accordion">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>高事务吞吐量</h3>
                                <div class="text">
                                    <p>石墨烯可以处理超过3000(TPS)，而以太坊可以处理25(TPS)，比特币仅7(TPS)。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>多用途的应用程序</h3>
                                <div class="text">
                                    <p>石墨烯是开源的，并且它提供一系列的多功能模块，因此可以实现从银行到航空等跨多个行业的多种商业目标。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point point-accordion">
                                <h3>可靠的业绩</h3>
                                <div class="text">
                                    <p>
                                        石墨烯自2014年起投入使用到目前为止已经拥有很多广泛的应用，如BitShares(比特股)区块链平台，Steemit去中心化的社交发布门户，以及EOS智能合约生态系统等都是基于石墨烯区块链的。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="enhance-business-content">
                <h2>使用BitShares(比特股)改变您的业务流程</h2>
                <div class="gor-100">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="h4">
                                <p>
                                    我们利用最强大和通用的区块链之一 BitShares，帮助企业增强、加速和保护他们的业务流程。
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>
                                石墨烯的处理能力可高达10万TPS，超过Visa和万事达的处理能力总和，根据Block'tivity的报告，BitShares是世界上第二快的区块链。
                            </p>
                            <p>
                                结合石墨烯开发提供的通用性，这种速度优势意味着我们可以改进数据安全和事务速度相关的每个业务功能：
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row tiles-lable tiles-lable-collapse right-icon-lable enhance-tiles-lable">
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>客户忠诚度</h3>
                            <div class="text">
                                我们可以开发您自己的去中心化的客户忠诚度系统。在基于BitShares的系统中，奖励分数可以被视为加密货币：交换、用于购买、捐赠、作为礼物赠送等等。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>数据交换</h3>
                            <div class="text">
                                将BitShares集成到公司内部的数据交换系统中，将提高数据流通的安全性，并使过程更加透明。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>云存储</h3>
                            <div class="text">
                                去中心化的区块链数据存储允许您控制您的数据，并确保数据不会被删除、破坏或修改。BitShares不仅做到了这一点，还降低了交易成本。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>支付</h3>
                            <div class="text">
                                加速事务处理是改进业务流程的好方法。我们可以无缝地集成BitShares，这样您就可以即时安全地处理支付。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>网络安全</h3>
                            <div class="text">
                                我们利用BitShares真正的去中心化来保护您的数据不受未经授权的操作。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile tile-collapse">
                            <h3>财务跟踪</h3>
                            <div class="text">
                                使用BitShares区块链，您可以轻松地跨越国家货币边界，使审计变得不那么复杂。
                                <div class="fade-out"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
        <div class="container">
            <div class="industry-is-covered-content">
                <h2>改变你的行业</h2>
                <div class="h4 gor-100">
                    我们知道如何从多方面上去调整BitShares，以满足您的特定企业需求。几乎任何行业都可以从BitShares开发中受益，这是一些已经投入使用的用例：
                </div>
                <div class="industry-is-covered-list">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="point">
                                <div class="covered-point-img"><img src="/images/Uploads/Automotive-image.png"
                                        srcset="/images/Uploads/Automotive-image@2x.png 2x" alt="Automotive"></div>
                                <h3>汽车</h3>
                                <div class="text">
                                    <p>
                                        我们帮助汽车经销商和经纪人利用区块链从前期生产到销售为他们的客户提供每一辆汽车和零部件的完整历史。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point">
                                <div class="covered-point-img"><img src="/images/Uploads/Supply-chain-image.png"
                                        srcset="/images/Uploads/Supply-chain-image@2x.png 2x" alt="Supply chains"></div>
                                <h3>供应链</h3>
                                <div class="text">
                                    <p>
                                        当涉及到供应链时，透明度是非常关键的。通过利用BitShares，我们可以使货物易于追踪、改进法规遵从管理、安全操作等。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="point">
                                <div class="covered-point-img"><img src="/images/Uploads/Logistic-image.png"
                                        srcset="/images/Uploads/Logistic-image@2x.png 2x" alt="Logistics"></div>
                                <h3>物流</h3>
                                <div class="text">
                                    <p>
                                        BitShares开发是改善您的物流流程的方法。这项技术可以让你监控你的车辆行程，并保护跟踪数据不被修改和伪造。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h4 gor-100">作为最具经验的开发团队之一，我们是将石墨烯和BitShares无缝集成到您的业务中的最佳合作方。</div>
            </div>
        </div>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->

</body>

</html>