<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner service-banner hyperledger-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>超级账本开发服务</h1>
                    <div class="h2-banner h2-banner-indents">我们为您搭建一个先进的企业生态系统，通过超级账本可以保证该生态系统内的业务透明，不可篡改，可审计，可监督。</div>
                    <a href="#contact" class="link">现在联系</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="why-graphene-content">
                <h2>通过超级账本可以给您的业务带来哪些优势</h2>
                <div class="h4 gor-100">超级账本通过在网络中的每一次事务的处理实现信任、透明、公平公正。通过精准的问责制度来提高您业务的效率。</div>
                <div class="gor-100">
                    <div class="row advisory-icons hyperledger-icons">
                        <div class="col-lg-4 df mw-300">
                            <div class="ico ico-1"></div>
                            <h3>技术架构模块化</h3>
                        </div>
                        <div class="col-lg-4 df mw-300">
                            <div class="ico ico-2"></div>
                            <h3>权限许可的网络</h3>
                        </div>
                        <div class="col-lg-4 df mw-300">
                            <div class="ico ico-3"></div>
                            <h3>可信任的交易</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grey-line"></div>
            <div class="business-gains">
                <div class="row business-gains-row">
                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">金融</h3>
                                <ul class="across-sub-menu">
                                    <li>即时结算</li>
                                    <li>简化支付过程</li>
                                    <li>改善资金优化</li>
                                    <li>消除了错误处理和协调</li>
                                    <li>降低交易方风险</li>
                                    <li>高级法规报告</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">保险</h3>
                                <ul class="across-sub-menu">
                                    <li>改进的多方合同</li>
                                    <li>减少周转时间</li>
                                    <li>改进的风险合同效率</li>
                                    <li>改善KYC合规性</li>
                                    <li>减少身份盗用风险</li>
                                    <li>先进的预防欺诈</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">媒体</h3>
                                <ul class="across-sub-menu">
                                    <li>作者自管理的内容权利</li>
                                    <li>透明且货币化的C2C/P2P内容共享</li>
                                    <li>不受国家或地区限制的付费内容订阅</li>
                                    <li>近实时的许可使用费分配</li>
                                    <li>改进的反盗版和版权侵权措施</li>
                                    <li>减少广告欺诈</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">卫生保健</h3>
                                <ul class="across-sub-menu">
                                    <li>可追溯的药品和医疗供应链</li>
                                    <li>单向和纵向的患者健康记录</li>
                                    <li>可互操作的电子病历</li>
                                    <li>简化的帐单</li>
                                    <li>提供者，保险公司和付款人之间安全的健康信息交换</li>
                                    <li>便利的索赔裁决</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quote -->
        <div class="block-call">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-right-block">
                        <img src="https://openledger.info/wp-content/themes/openledger/assets/images/320_free_quote.svg"
                            alt="">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="block-call__text-btn">
                            <h2>获得免费报价</h2>
                            <p>给我们发送有关您未来项目的电话，我们将在一个工作日内与您联系以提供详细信息</p>
                            <a href="#contact">联系我们</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Quote -->
        <div class="container">
            <div class="enhance-business-content">
                <h2>超级账本开发框架</h2>
                <div class="gor-100">
                    <div class="h4">我们可以根据您的业务目标，预期的网络复杂性和事务类型选择更广泛或更专业的超级账本(Hyperledger)框架。
                    </div>
                </div>
                <div
                    class="row tiles-lable hyperledger-tiles-lable dev01-tiles-lable tiles-lable-collapse point-list-accordion-plus">
                    <div class="d-none d-sm-none d-md-block col-md-6 col-lg-4">
                        <div class="hyperledger-tile-img">
                            <img src="https://openledger.info/wp-content/uploads/2018/11/Hyperledger-frameworks.png"
                                srcset="https://openledger.info/wp-content/uploads/2018/11/Hyperledger-frameworks@2x.png 2x"
                                alt="Hyperledger frameworks">
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 dev-tile-icon">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Hyperledger Fabric</h3>
                            <div class="text">
                                <p>Fabric框架具有模块化，可配置和可扩展的体系结构，是安全企业级环境的坚实基础。</p>
                                <p>使用Fabric的可定制共识协议和重新发明的Hyperledger智能合约，我们将为您当前的环境建立一个有权限许可的区块链网络，并随着在您业务的发展对其进行定制。</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 dev-tile-icon">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Hyperledger Sawtooth</h3>
                            <div class="text">
                                <p>Sawtooth框架支持创建和运行分布式账本，并且具备可插拔共识算法和事务处理算法的灵活性。</p>
                                <p>通过Sawtooth框架，我们可以创建具有数据优先级、可追溯的多用途区块链网络或应用程序，从而使您能够即时交换共识协议，并同时处理并行流中不同的事务。</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 dev-tile-icon">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Hyperledger Iroha</h3>
                            <div class="text">
                                <p>Iroha是一个专为移动应用而设计的框架，非常适合金融交易和身份验证。它聚焦于支持基于角色的访问、独特的高性能共识协议和内置的资产和帐户管理命令等方面。</p>
                                <p>我们将使用Iroha来提供经过许可的区块链网络和应用程序，从而增强用户错误保护，并简化用于创建帐户，处理ID和交换资产的流程。</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 dev-tile-icon">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Hyperledger Burrow</h3>
                            <div class="text">
                                <p>
                                    Hyperledger
                                    Burrow专注于以太坊，它不是高度模块化或可插拔的。该框架没有提供广泛的自定义选项，而是专注于运行和改进具有高事务吞吐量共识协议的以太坊虚拟机（EVM）智能合约。
                                </p>
                                <p>
                                    我们将单独使用Burrow或与其他Hyperledger框架一起创建具有扩展EVM功能的许可区块链网络。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 dev-tile-icon">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Hyperledger Indy</h3>
                            <div class="text">
                                <p>Hyperledger
                                    Indy是实现去中心化身份标识的通用框架。我们使用Indy根据保护隐私的规范和设计模式来创建安全的数字身份，使它们在各个域，应用程序，区块链和其他分布式账本之间可以互相操作。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--                 <div class="dev-toolkit-content">
                        <h2>Our Hyperledger development toolkit</h2>
                        <div class="row tiles-lable hyperledger-tiles-lable dev02-tiles-lable tiles-lable-collapse point-list-accordion-plus">
                            <div class="col-md-6 col-lg-4 dev-tile-icon">
                                <div class="tile tile-collapse point-accordion-plus tile-collapse-active">
                                    <h3>Benchmarking with Hyperledger Caliper</h3>
                                    <div class="text">
                                       <p>Caliper is a blockchain benchmark tool that allows us to evaluate a network’s efficiency and tweak it to reach peak values. In particular, we can optimize a network’s resource utilization, improve blockchain performance, and increase transaction latency.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 dev-tile-icon">
                                <div class="tile tile-collapse point-accordion-plus">
                                    <h3>Speeding up  with Hyperledger<br> Cello</h3>
                                    <div class="text">
                                        <p>Cello is a blockchain module toolkit we use to accelerate the development and deployment of blockchains and Hyperledger smart contracts.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none d-sm-none d-md-block col-md-6 col-lg-4">
                                <div class="hyperledger-tile-img">
                                    <img src="https://openledger.info/wp-content/uploads/2018/11/toolkit-image.png" srcset="https://openledger.info/wp-content/uploads/2018/11/toolkit-image@2x.png 2x" alt="Our Hyperledger development toolkit">
                            </div>
                                </div>
                                <div class="col-md-6 col-lg-4 dev-tile-icon">
                                    <div class="tile tile-collapse point-accordion-plus">
                                        <h3>Integrating through Hyperledger Composer</h3>
                                        <div class="text">
                                            <p>Composer is a collaboration tool we use to ensure smooth integration of the created blockchain business network with your existing systems and data, including assets and transactions.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 dev-tile-icon">
                                    <div class="tile tile-collapse point-accordion-plus">
                                        <h3>Ensuring interoperability with Hyperledger Quilt</h3>
                                        <div class="text">
                                            <p>Quilt is a business blockchain tool featuring the Interledger payments protocol (ILP). It allows us to enable interoperability and value transfer across distributed and non-distributed ledgers, maintaining single account integrity.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 dev-tile-icon">
                                    <div class="tile tile-collapse point-accordion-plus">
                                        <h3>Browsing in Hyperledger Explorer</h3>
                                        <div class="text">
                                            <p>Explorer is a blockchain browser we use for assessing the network’s activity, such as viewing transactions and associated data, blocks, chain codes, and network information.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
            <div class="fabric-block">
                <h2>来自OpenLedger的Hyperledger项目</h2>
                <div class="gor-100">
                    <div class="h4">
                        凭借在Hyperledger平台上的广泛专业知识，我们构建和部署自定义区块链项目，从而确保我们的客户在快速，可扩展且受高度保护的环境中工作。以下只是我们基于Hyperledger的项目的一些示例。
                    </div>
                </div>
                <div class="slider-fabric-wrap">
                    <div class="container">
                        <div class="slider-fabric-content">
                            <div class="dots-line dots-line-left"></div>
                            <div class="slider-fabric dots-slider">

                                <div class="fabric-slide">
                                    <div class="fabric-slide-top">
                                        <div class="fabric-slide-top-logo-blue">
                                            <img src="https://openledger.info/wp-content/uploads/2019/08/hyperledger-fabric.svg"
                                                alt="">
                                        </div>
                                        <div class="fabric-slide-top-logo-grey">
                                            <img src="https://openledger.info/wp-content/uploads/2019/08/olway.svg"
                                                alt="">
                                        </div>
                                    </div>
                                    <div class="row fabric-slide-content">
                                        <div class="col-md-6">
                                            <div class="fabric-slide-content-text">
                                                <div class="fabric-slide-content-text-xl">
                                                    <h3>Logistics and supply chain solution on Hyperledger Fabric</h3>
                                                    <p>OpenLedger developed a blockchain-based platform for tracking
                                                        shipments from suppliers to customers — OLWay. The solution was
                                                        built on Hyperledger Fabric, which ensured the following
                                                        benefits:</p>
                                                    <a class="link modal-demo" href="#!">Request a Demo</a>
                                                </div>
                                                <div class="fabric-slide-content-text-xs">
                                                    <h3>Logistics and supply chain solution on Hyperledger Fabric</h3>
                                                    <p>We developed a <span>blockchain-based</span> platform for
                                                        tracking shipments — OLWay. It was built on Hyperledger Fabric,
                                                        which ensured the following benefits:</p>
                                                    <a class="link modal-demo" href="#!">Request a Demo</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="fabric-slide-content-list">
                                                <div class="fabric-slide-content-list-xl">
                                                    <ul>
                                                        <li>Permissioned network for private operations</li>
                                                        <li>Modular design for building custom networks</li>
                                                        <li>Access control lists for additional permission layers</li>
                                                        <li>Smart contract execution in an isolated environment</li>
                                                        <li>Customizable network consensus protocols</li>
                                                        <li>Parallel transaction execution and verification</li>
                                                    </ul>
                                                    <p><a class="link modal-demo" href="#!">Request a Demo</a></p>
                                                </div>
                                                <div class="fabric-slide-content-list-xs">
                                                    <ul>
                                                        <li>Private network operations</li>
                                                        <li>Pluggable functionalities</li>
                                                        <li>Access control lists</li>
                                                        <li>Isolated smart contracts</li>
                                                        <li>Custom consensus protocols</li>
                                                        <li>Parallel transaction flows</li>
                                                    </ul>
                                                    <p><a class="link modal-demo" href="#!">Request a Demo</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="fabric-slide">
                                    <div class="fabric-slide-top">
                                        <div class="fabric-slide-top-logo-blue">
                                            <img src="https://openledger.info/wp-content/uploads/2019/08/hyperledger-sawtooth.svg"
                                                alt="">
                                        </div>
                                        <div class="fabric-slide-top-logo-grey">
                                            <img src="https://openledger.info/wp-content/uploads/2019/08/centaur.svg"
                                                alt="">
                                        </div>
                                    </div>
                                    <div class="row fabric-slide-content">
                                        <div class="col-md-6">
                                            <div class="fabric-slide-content-text">
                                                <div class="fabric-slide-content-text-xl">
                                                    <h3>Internet-of-Crops platform on Hyperledger Sawtooth</h3>
                                                    <p>OpenLedger was responsible for blockchain implementation in the
                                                        IoT-based solution for tracking cereal supply chains. For the
                                                        project, we used Hyperledger Sawtooth, which gave us such
                                                        benefits as:</p>
                                                    <a class="link" href="/portfolio/internet-of-crops-platform/">Learn
                                                        More</a>
                                                </div>
                                                <div class="fabric-slide-content-text-xs">
                                                    <h3>Internet-of-Crops platform on Hyperledger Sawtooth</h3>
                                                    <p>We were responsible for blockchain implementation in the
                                                        IoT-based solution for tracking cereal supply chains. We used
                                                        Hyperledger Sawtooth, which gave us such benefits as:</p>
                                                    <a class="link" href="/portfolio/internet-of-crops-platform/">Learn
                                                        More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="fabric-slide-content-list">
                                                <div class="fabric-slide-content-list-xl">
                                                    <ul>
                                                        <li>Modular design for plugging in custom functionalities</li>
                                                        <li>Multiple transaction types running on the same blockchain
                                                        </li>
                                                        <li>Separate permission levels for different node groups</li>
                                                        <li>Several transaction flows can be executed in parallel</li>
                                                        <li>Different types of consensus in the same network</li>
                                                        <li>Proof-of-Elapsed-Time consensus algorithm support</li>
                                                    </ul>
                                                    <p><a class="link"
                                                            href="/portfolio/internet-of-crops-platform/">Learn More</a>
                                                    </p>
                                                </div>
                                                <div class="fabric-slide-content-list-xs">
                                                    <ul>
                                                        <li>Pluggable custom modules</li>
                                                        <li>Multiple transaction types</li>
                                                        <li>Separate node permissions</li>
                                                        <li>Parallel transaction execution</li>
                                                        <li>Different consensus types</li>
                                                        <li>PoET consensus support</li>
                                                    </ul>
                                                    <p><a class="link"
                                                            href="/portfolio/internet-of-crops-platform/">Learn More</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dots-line dots-line-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>