<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner service-banner hyperledger-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>超级账本开发服务</h1>
                    <div class="h2-banner h2-banner-indents">搭建一个企业生态系统，通过超级账本保证该生态系统内的业务透明、不可篡改、可审计、可被监督。</div>
                    <a href="#contact" class="link">现在联系</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="why-graphene-content">
                <h2>超级账本可以给您的业务带来哪些优势</h2>
                <div class="h4 gor-100">通过去中心化的事务（交易）处理可以实现整个网络中的成员相互信任、事务透明、权利对等。</div>
                <div class="gor-100">
                    <div class="row advisory-icons hyperledger-icons">
                        <div class="col-lg-4 df mw-300">
                            <div class="ico ico-1"></div>
                            <h3>架构模块化</h3>
                        </div>
                        <div class="col-lg-4 df mw-300">
                            <div class="ico ico-2"></div>
                            <h3>加入需权限许可</h3>
                        </div>
                        <div class="col-lg-4 df mw-300">
                            <div class="ico ico-3"></div>
                            <h3>操作互相信任</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grey-line"></div>
            <div class="business-gains">
                <div class="row business-gains-row">
                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">金融</h3>
                                <ul class="across-sub-menu">
                                    <li>即时结算</li>
                                    <li>简化支付</li>
                                    <!-- <li>改善资金优化</li> -->
                                    <li>解决操作和协调的失误</li>
                                    <li>降低交易风险</li>
                                    <li>高级法规报告</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">保险</h3>
                                <ul class="across-sub-menu">
                                    <li>改进合同</li>
                                    <li>减少周转时间</li>
                                    <li>改进风险合同效率</li>
                                    <li>改善KYC合规性</li>
                                    <li>降低身份盗用风险</li>
                                    <li>可预防诈骗</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">媒体</h3>
                                <ul class="across-sub-menu">
                                    <li>作者自管理内容的权利</li>
                                    <li>C2C/P2P内容共享透明且货币化</li>
                                    <li>不受国家或地区监管的付费内容订阅</li>
                                    <!-- <li>实时的许可使用费分配</li> -->
                                    <li>反盗版和侵权</li>
                                    <li>预防广告诈骗</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="business-gain-point">
                            <div class="business-gain-point-icon"></div>
                            <div class="business-gain-point-info">
                                <h3 class="across-toggle">医疗保健</h3>
                                <ul class="across-sub-menu">
                                    <li>可追溯的药品</li>
                                    <li>单向和纵向的患者健康记录</li>
                                    <li>可互操作的电子病历</li>
                                    <!-- <li>简化的帐单</li> -->
                                    <li>保险公司和患者的健康信息交换</li>
                                    <li>索赔裁决</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
        <div class="container">
            <div class="enhance-business-content">
                <h2>超级账本开发框架</h2>
                <div class="gor-100">
                    <div class="h4">根据您的业务需求的复杂性以及事务类型选择专业的Hyperledger(超级账本)框架。
                    </div>
                </div>
                <div
                    class="row tiles-lable hyperledger-tiles-lable dev01-tiles-lable tiles-lable-collapse point-list-accordion-plus">
                    <div class="d-none d-sm-none d-md-block col-md-6 col-lg-4">
                        <div class="hyperledger-tile-img">
                            <img src="/images/Uploads/Hyperledger-frameworks.png"
                                srcset="/images/Uploads/Hyperledger-frameworks@2x.png 2x" alt="Hyperledger frameworks">
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 dev-tile-icon">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Hyperledger Fabric</h3>
                            <div class="text">
                                <p>Fabric框架具有模块化，可配置和可扩展的体系结构，是安全企业级环境的坚实基础。</p>
                                <p>使用Fabric的可定制共识协议和重新发明的Hyperledger智能合约，我们将为您当前的环境建立一个有权限许可的区块链网络，并随着在您业务的发展对其进行定制。</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 dev-tile-icon">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Hyperledger Sawtooth</h3>
                            <div class="text">
                                <p>Sawtooth框架支持创建和运行分布式账本，并且具备可插拔共识算法和事务处理算法的灵活性。</p>
                                <p>通过Sawtooth框架，我们可以创建具有数据优先级、可追溯的多用途区块链网络或应用程序，从而使您能够即时交换共识协议，并同时处理并行流中不同的事务。</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 dev-tile-icon">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Hyperledger Iroha</h3>
                            <div class="text">
                                <p>Iroha是一个专为移动应用而设计的框架，非常适合金融交易和身份验证。它聚焦于支持基于角色的访问、独特的高性能共识协议和内置的资产和帐户管理命令等方面。</p>
                                <p>我们将使用Iroha来提供经过许可的区块链网络和应用程序，从而增强用户错误保护，并简化用于创建帐户，处理ID和交换资产的流程。</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 dev-tile-icon">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Hyperledger Burrow</h3>
                            <div class="text">
                                <p>
                                    Hyperledger
                                    Burrow专注于以太坊，它不是高度模块化或可插拔的。该框架没有提供广泛的自定义选项，而是专注于运行和改进具有高事务吞吐量共识协议的以太坊虚拟机（EVM）智能合约。
                                </p>
                                <p>
                                    我们将单独使用Burrow或与其他Hyperledger框架一起创建具有扩展EVM功能的许可区块链网络。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 dev-tile-icon">
                        <div class="tile tile-collapse point-accordion-plus">
                            <h3>Hyperledger Indy</h3>
                            <div class="text">
                                <p>Hyperledger
                                    Indy是实现去中心化身份标识的通用框架。我们使用Indy根据保护隐私的规范和设计模式来创建安全的数字身份，使它们在各个域，应用程序，区块链和其他分布式账本之间可以互相操作。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>