<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner service-banner service-page-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>使用区块链<br>让您的业务处理更加效率</h1>
                    <!-- <div class="h2-banner">OpenLedger delivers blockchain software services to companies in multiple
                        industries across the globe.</div> -->
                    <a href="#contact" class="link">获取报价</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container service-page-desc">
            <div class="gor-100">
                <div class="h4">
                    <div>
                        <div>现代企业的需求与先进的区块链技术的特点契合度非常高。</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <h3 class="h6 mt-40 we-believe-title">我们始终相信</h3>
                        <div class="text">
                            <div>
                                <div>区块链将成为跨地域、市场和各行业新的业务解决方案。</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <h3 class="h6 mt-40 we-believe-title">我们能够</h3>
                        <div class="text">
                            <div>
                                <div>通过区块链技术与各行业进行深度合作，使用专业的技术使项目落地。为您的企业提高办事效率、调动员工积极性、增加收入。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="services-single-line01">
        </div>

        <div class="container services-single-block">
            <h2>我们提供的服务</h2>
            <div class="gor-100">
                <div class="row">
                    <div class="col-lg-5">
                        <h3 class="black-desc">定制区块链开发</h3>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-6">
                                <p>我们提供安全的去中心化且定制的区块链开发服务和解决方案，帮助您实现您的想法。</p>
                            </div>
                            <div class="col-lg-6">
                                <a href="/services/blockchain-development/" class="link">了解更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ol-services-items">
                <div class="row tiles-label-mini">

                    <div class="col-md-6">
                        <div class="tile">
                            <h3>超级账本开发服务</h3>
                            <div class="text">超级账本在网络中的每笔交易中实现信任、透明和问责来提升您业务的效率。<a class="teal-link"
                                    href="/services/blockchain-development/hyperledger/">学到更多</a></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile">
                            <h3>石墨烯和比特股开发</h3>
                            <div class="text">我们的石墨烯和比特股的开发团队中的每个工程师开发经验都非常丰富，他们能够把比特股区块链无缝的集成到您的企业流程中。<a class="teal-link"
                                    href="/services/blockchain-development/bitshares-graphene/">学到更多</a></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile">
                            <h3>智能合约</h3>
                            <div class="text">OpenLedger的专家团队致力于使用Hyperledger，EOS和以太坊的智能合约为现有行业问题提供解决方案和技术支持。<a class="teal-link"
                                    href="/services/blockchain-development/smart-contracts/">学到更多</a></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile">
                            <h3>EOSIO</h3>
                            <div class="text">EOSIO在网络速度这一方面尤为出色，您可以在高度可拓展的环境中构建和运行去中心化的应用程序。<a class="teal-link"
                                    href="/services/blockchain-development/eosio-development/">学到更多</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="education-for-enterprises">
            <div class="container services-single-block">
                <div class="gor-100">
                    <hr class="services-single-line02">
                    <div class="row">
                        <div class="col-lg-5">
                            <h3 class="black-desc">Blockchain education for enterprises</h3>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>Dive into blockchain for business with OpenLedger. Educate your team to lead
                                        digital transformations and derive maximal benefit from corporate blockchain
                                        applications.</p>
                                </div>
                                <div class="col-lg-6">
                                    <a href="/services/blockchain-workshops/" class="link">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="services-single-line02">
                </div>
            </div>
        </div> -->

    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>