<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <!-- Content -->
    <div class="banner banner-plus-text research-development-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1>区块链研发服务</h1>
                    <div class="h2-banner">使用区块链改变您的业务</div>
                    <div class="text">OpenLedger确保将区块链技术完美地整合到您的运营和当前平台中。</div>
                    <a href="#contact" class="link">获取免费报价</a>
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">

        <div class="container">
            <div class="research-who-is-this">
                <h2>我们提供的技术和解决方案适用于哪些场景和行业？</h2>
                <div class="h4 gor-100">对于任何行业或任何规模的企业，我们都做好了调查的准备，为您的企业量身打造区块链的项目。</div>
                <div class="gor-100">
                    <div class="row advisory-icons hyperledger-icons research-development-icons">
                        <div class="col-lg-4 df mw-300">
                            <div class="ico ico-1"></div>
                            <h3>区块链初创公司</h3>
                        </div>
                        <div class="col-lg-4 df mw-300">
                            <div class="ico ico-1"></div>
                            <h3>中小企业</h3>
                        </div>
                        <div class="col-lg-4 df mw-300">
                            <div class="ico ico-1"></div>
                            <h3>国企或事业单位</h3>
                        </div>
                        <div class="col-lg-4 df mw-300">
                            <div class="ico ico-1"></div>
                            <h3>跨国集团</h3>
                        </div>
                        <div class="col-lg-4 df mw-300">
                            <div class="ico ico-1"></div>
                            <h3>政府机构</h3>
                        </div>
                        <div class="col-lg-4 df mw-300">
                            <div class="ico ico-1"></div>
                            <h3>非营利组织</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="openLedger-research-and-department">
            <div class="container">
                <h2>OpenLedger研发部门</h2>
                <div class="gor-100">
                    <div class="h4">
                        我们的团队内拥有多名区块链技术专家，由他们分析项目实施所面临的挑战和业务方面的问题，并为您当前的需求提供最有效的解决方案。
                    </div>
                </div>
            </div>
        </div>
        <div class="manufacturer-scheme research-manufacturer-scheme">
            <div class="container">
                <div class="manufacturer-scheme-content">
                    <img class="manufacturer-dots" src="/images/Solutions/Logistics/dots.svg" alt="Dots">
                    <img class="manufacturer-image manufacturer-image-1170"
                        src="/images/Services/Research/scheme1170.svg"
                        alt="OpenLedger research and development department">
                    <img class="manufacturer-image manufacturer-image-1024"
                        src="/images/Services/Research/scheme1024.svg"
                        alt="OpenLedger research and development department">
                    <div class="manufacturer-points research-manufacturer-points">
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle manufacturer-point-toggle01">
                                <span class="manufacturer-point-title">业务需求分析</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <div class="solid-arrow"></div>
                                <ul class="manufacturer-point-list manufacturer-list">
                                    <li>OpenLedger专家可以发现，分析，定义和记录项目需求。</li>
                                </ul>
                            </div>
                        </div>
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle manufacturer-point-toggle02">
                                <span class="manufacturer-point-title">市场契合度和竞争者分析</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <div class="solid-arrow"></div>
                                <ul class="manufacturer-point-list manufacturer-list">
                                    <li>我们的团队会评估您的项目，确定满足市场或您公司内部需求的程度。我们还会进行比较分析，以指出该项目相对于现有竞争对手的优缺点。</li>
                                </ul>
                            </div>
                        </div>
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle manufacturer-point-toggle03">
                                <span class="manufacturer-point-title">用例准备</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <div class="solid-arrow"></div>
                                <ul class="manufacturer-point-list manufacturer-list">
                                    <li>研发部门定义项目，行业或竞争对手的用例：创建角色并确定其目标，定义条件，描述其活动和交互并将所有内容转移到项目需求中。</li>
                                </ul>
                            </div>
                        </div>
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle manufacturer-point-toggle04">
                                <span class="manufacturer-point-title">区块链实施的技术概述</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <div class="solid-arrow"></div>
                                <ul class="manufacturer-point-list manufacturer-list">
                                    <li>我们的区块链专家评估和审查项目需求，定义落地当前解决方案所需的技术（区块链平台、框架、其它工具等）。</li>
                                </ul>
                            </div>
                        </div>
                        <div class="manufacturer-point">
                            <div class="manufacturer-point-toggle manufacturer-point-toggle05">
                                <span class="manufacturer-point-title">试点项目/ PoC</span>
                            </div>
                            <div class="manufacturer-point-content">
                                <ul class="manufacturer-point-list manufacturer-list">
                                    <li>我们会对项目进行试点和概念的验证，让大型项目在正式运行之前识别、评估和演示区块链解决方案的工作，成本和结果。</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include ../common/quote.ejs %>

        <div class="research-blockchain-consulting">
            <div class="container">
                <div>
                    <h2>区块链咨询</h2>
                    <div class="h4 gor-100">在OpenLedger，我们为区块链的实施提供技术和业务方面的帮助。</div>
                </div>
                <div class="become-expert-content">
                    <div class="row">
                        <div class="col-lg-4">
                            <h3 class="H3">无论您需要帮助的项目目前处于哪个阶段，我们都准备好分享我们的专业知识并改进您的业务流程。</h3>
                        </div>
                        <div class="col-lg-4">
                            <div class="row bold-list">
                                <ul>
                                    <li>技术咨询与建议</li>
                                    <li>区块链创业咨询</li>
                                    <li>企业级区块链项目协助</li>
                                    <li>智能合约审核</li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row bold-list">
                                <ul>
                                    <li>区块链安全的建议</li>
                                    <li>区块链解决方案的法律支持</li>
                                    <li>一对一咨询服务</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="research-expertise">
            <div class="container">
                <h2>我们在区块链开发方面的专业知识</h2>
                <div class="h4 gor-100">
                    我们帮助合作伙伴从一系列行业领先的区块链中选择最合适的区块链技术，包括Hyperledger(超级账本)，BitShares(比特股)，EOSIO和Ethereum(以太坊)。</div>
                <div class="gor-100">
                    <div class="row advisory-icons sc-icons retail-icons research-expertise-icons">

                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                            <div class="ico"></div>
                            <h3>公有链和私有链</h3>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                            <div class="ico"></div>
                            <h3>
                                <a class="link-black" href="/services/smart-contract">
                                    智能合约开发
                                </a>
                            </h3>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                            <div class="ico"></div>
                            <h3>Dapps开发</h3>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                            <div class="ico"></div>
                            <h3>去中心化交易所</h3>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                            <div class="ico"></div>
                            <h3><a class="link-black" href="/services/blockchain-development/">区块链开发</a></h3>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                            <div class="ico"></div>
                            <h3><a class="link-black" href="/solutions/">行业解决方案</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Content End -->

    <!-- Common Footer -->
    <% include ../common/footer.ejs %>
    <!-- Common Footer End -->
</body>

</html>